title: About Us
keywords: Tim Runcie, Rick Gardner, Cindy Lewis, Joe Brewer, Jeff Jacobson-Swartfager, Chetankumar Patel, Pam Greensky, Stacey Garner, Employees, Staff, Philosophy, Project Management
description: About Advisicon &ndash; our philosophy (Optimization, Knowledge Transfer, and Sustained Results) the good people who make up our organization
employee_name:
--------------------------------------------------------META

%h1 Who is Advisicon?
%p Advisicon delivers strategic project control solutions using advanced project and portfolio management methodologies, custom application development and consultative training. Our clients throughout North America and Latin America have realized quantifiable results through our unique approach of combining knowledge transfer, optimization and sustainability of processes and technology while increasing stakeholder competencies.

%h2 Our People
%p Our team of professionals includes <abbr title="Project Management Institute">PMI</abbr> certified <abbr title="Project Management Professional">PMP</abbr>s, Microsoft Certified Professionals (with specializations in Enterprise Project Management, Networking and Infrastructure Solutions), and Microsoft MVPs.
#employees
  %a{ :href => '/staff_bios/tim-runcie.htm' }
    %img{ :alt => 'Tim Runcie', :src => '/pix/biopics/tim-runcie.jpg', :width => '107', :height => '161' }
    %p 
      Tim Runcie, MCTS, MCP, MVP, PMP
      %br/
      President
  %a{ :href => '/staff_bios/rick-gardner.htm' }
    %img{ :alt => 'Rick Gardner', :src => '/pix/biopics/rick-gardner.jpg', :width => '107', :height => '161' }
    %p
      Rick Gardner, PMP
      %br/
      Director of Operation for Latin America
  .employee
    %img{ :alt => 'Tye Trepanier', :src => '/pix/biopics/tye-trepanier.jpg', :width => '107', :height => '161' }
    %p
      Tye Trepanier, PMP
      %br/
      Director of Advisicon Professional Services
  %a{ :href => '/staff_bios/cindy-lewis.htm' }
    %img{ :alt => 'Cindy Lewis', :src => '/pix/biopics/cindy-lewis.jpg', :width => '107', :height => '161' }
    %p
      Cindy Lewis, MCTS, MCITP, MCT, PMP, PMI-SP
      %br/
      Director of Knowledge Management
  .employee
    %img{ :alt => 'Pam Greensky', :src => '/pix/biopics/pam-greensky.jpg', :width => '107', :height => '161' }
    %p
      Pam Greensky
      %br/
      Operations
  .employee
    %img{ :alt => 'Stacey Garner', :src => '/pix/biopics/stacey-garner.jpg', :width => '107', :height => '161' }
    %p
      Stacey Garner
      %br/
      Human Resources
  %a{ :href => '/staff_bios/chetan-patel.htm' }
    %img{ :alt => 'Chetan Patel', :src => '/pix/biopics/chetan-patel.jpg', :width => '107', :height => '161' }
    %p
      Chetan Patel
      %br/
      Senior Developer
  %a{ :href => '/staff_bios/jeff-jacobson-swartfager.htm' }
    %img{ :alt => 'Jeff Jacobson-Swartfager', :src => '/pix/biopics/jeff-jacobson-swartfager.jpg', :width => '107', :height => '161' }
    %p
      Jeff Jacobson-Swartfager
      %br/
      Advisicon Press
  %a{ :href => '/staff_bios/nicole-brown.htm' }
    %img{ :alt => 'Nicole Brown', :src => '/pix/biopics/nicole-brown.jpg', :width => '107', :height => '161' }
    %p
      Nicole Brown
      %br/
      Social Media and Marketing Administrator
  %a{ :href => '/staff_bios/chris-pfenninger.htm' }
    %img{ :alt => 'Chris Pfenninger', :src => '/pix/biopics/chris-pfenninger.jpg', :width => '107', :height => '161' }
    %p
      Chris Pfenninger
      %br/
      Advisicon Information Services
  %a{ :href => '/staff_bios/joe-brewer.htm' }
    %img{ :alt => 'Joe Brewer', :src => '/pix/biopics/joe-brewer.jpg', :width => '107', :height => '161' }
    %p
      Joe Brewer, MCP, MCTS, MBA
      %br/
      Director of Advisicon University
  /
    <a href="/staff_bios/jason-stegner.htm" title="Jason Stegner&apos;s bio">
    <img alt="Jason Stegner" src="/pix/biopics/jason-stegner.jpg" width="107" height="161" />
    <p>Jason Stegner, MCP, MCTS<br />Advisicon Information Services</p>
    </a>
    <a href="/staff_bios/javier-gonzalez.htm">
    <img alt="Javier Gonz&aacute;lez" src="/pix/biopics/javier-gonzalez.jpg" width="107" height="161" />
    <p>Javier Gonz&aacute;lez, PMP, MCP, ITIL<br />Business Integration Principal</p>
    </a>
    <div class="employee">
    <img alt="Isabel Garc&iacute;a" src="/pix/biopics/isabel-garcia.jpg" width="107" height="161" />
    <p>Isabel Garc&iacute;a, PMP<br />Business Development Manager</p>
    </div>
    <a href="/staff_bios/rene-alvarez.htm" title="Ren&eacute; Alvarez's bio">
    <img alt="Ren&eacute; Alvarez" src="/pix/biopics/rene-alvarez.jpg" width="107" height="161" />
    <p>Ren&eacute; Alvarez, MCP<br />IT Integration Manager</p>
    </a>
    <div class="employee">
    <img alt="Alma Abundis" src="/pix/biopics/alma-abundis.jpg" width="107" height="161" />
    <p>Alma Abundis, PMP<br />Senior Project Advisor</p>
    </div>
    <div class="employee">
    <img alt="Omar Garc&iacute;a" src="/pix/biopics/omar-garcia.jpg" width="107" height="161" />
    <p>Omar Garc&iacute;a<br />Project Advisor</p>
    </div>
    <a href="/staff_bios/dave-ply.htm">
    <img alt="Dave Ply" src="/pix/biopics/dave-ply.jpg" width="107" height="161" />
    <p>Dave Ply<br />Senior Developer</p>
    </a>
    <a href="/staff_bios/chetan-patel.htm">
    <img alt="Chetan Patel" src="/pix/biopics/chetan-patel.jpg" width="107" height="161" />
    <p>Chetan Patel, MCP, PMP<br />Senior Developer</p>
    </a>
    <div class="employee">
    <img alt="Amy Wachsnicht" src="/pix/biopics/amy-wachsnicht.jpg" width="107" height="161" />
    <p>Amy Wachsnicht<br />Office Administrator</p>
    </div>
    <div class="employee">
    <img alt="Elena Flores" src="/pix/biopics/elena-flores.jpg" width="107" height="161" />
    <p>Elena Flores<br />Accounting Manager</p>
    </div>
    </a>
    <div class="employee">
    <img alt="Luis Manuel Estrada" src="/pix/biopics/luis-estrada.jpg" width="107" height="161" />
    <p>Luis Manuel Estrada<br />Project Management Consultant</p>
    </div>
  / end #employees

%h2 Our Philosophy
%p Advisicon is based on three tenets: Optimization, Knowledge Transfer and Sustained Results.

%h3 Optimization
%p Advisicon integrates project management best practices and project management technologies to fit each client&rsquo;s organizational structure, strategy, goals and culture.

%h3 Knowledge Transfer
%p Advisicon teaches clients to internalize and standardize project management best practices and use of technology. Clients receive task-specific coaching, in-depth process development, customized project management methodology and supervised training with the technology.

%h3 Sustained Results
%p Through our phased approach, our clients are able to adopt and implement strategic project management improvements one step at a time, growing from one level of project management maturity to the next. Through this process of optimization and knowledge transfer, Advisicon delivers sustained results to our clients.