title: About Us
keywords: Tim Runcie, Rick Gardner, Cindy Lewis, Joe Brewer, Jeff Jacobson-Swartfager, Chetankumar Patel, Pam Greensky, Stacey Garner, Employees, Staff, Philosophy, Project Management
description: About Advisicon &ndash; our philosophy (Optimization, Knowledge Transfer, and Sustained Results) the good people who make up our organization
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Who is Advisicon?
  =================

  Advisicon delivers strategic project management solutions using advanced project 
  and portfolio management methodologies, custom application development and 
  comprehensive training. Our clients throughout North and Latin America 
  have realized quantifiable results through our three unique philosophy tenets: 
  knowledge transfer, optimization and sustained results. 
  

  Our Philosophy Defined
  ----------------------

  <dl>
    <div class="definitionItem">
      <dt>Optimization</dt>
      <dd markdown="1">
        Advisicon integrates project management best practices along with 
        project management technologies to fit each client's organizational 
        structure, strategy and culture.
      </dd>
    </div>
    <div class="definitionItem">
      <dt>Knowledge Transfer</dt>
      <dd markdown="1">
        Advisicon teaches clients to internalize and standardize project 
        management best practices and use of technology. Clients receive 
        task-specific coaching, in-depth process development, customized 
        project management methodology and supervised training with the 
        technology.
      </dd>
    </div>
    <div class="definitionItem">
      <dt>Sustained Results</dt>
      <dd markdown="1">
        Through our phased approach, our clients are able to adopt and implement 
        strategic project management improvements, one step at a time. Clients 
        grow from one level of project management maturity to the next at their 
        own pace. Through this process of optimization and knowledge transfer, 
        Advisicon delivers sustained results to our clients.
      </dd>
    </div>
  </dl>


  How We Help
  ------------
  
  Advisicon consultants can help your organization by effectively utilizing business management technologies, such as Microsoft Project, Microsoft Project Server and Microsoft SharePoint Server. Advisicon's solutions are customized and designed to provide immediate and measurable results for all levels of organizations. Advisicon has in-depth expertise with the latest 2013 suite of Microsoft project management products from training to solution implementation and deployment.
  
  * Custom Application Development (complex databases, integrations, reports, workflows and dash-views)  
  * Enterprise-wide project resource and schedule visibility 
  * Key business metrics analysis and reporting, and business intelligence
  * Strategic aligning of initiatives with business objectives 
  * Management dashboards with key performance indicators (KPIs)
  * Align projects, programs, and portfolios with organizational priorities
  * Customized, consultative instructor-led project management training


  #{render_partial 'partials/footnotes'}

  Our People
  ----------

  Our team of professionals includes PMP<sup>&reg;</sup>[^pmp] certified project 
  managers, Microsoft Certified Professionals (with specializations in Enterprise
  Project Management, Networking and Infrastructure Solutions), and Microsoft 
  MVPs.

  #{render_partial '/partials/employees'}
