title: About Us
keywords: Tim Runcie, Rick Gardner, Cindy Lewis, Joe Brewer, Jeff Jacobson-Swartfager, Chetankumar Patel, Pam Greensky, Stacey Garner, Employees, Staff, Philosophy, Project Management
description: About Advisicon &ndash; our philosophy (Optimization, Knowledge Transfer, and Sustained Results) the good people who make up our organization
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Who is Advisicon?
  =================

  Advisicon delivers strategic project control solutions using advanced project 
  and portfolio management methodologies, custom application development and 
  consultative training. Our clients throughout North America and Latin America 
  have realized quantifiable results through our unique approach of combining 
  knowledge transfer, optimization and sustainability of processes and technology 
  while increasing stakeholder competencies.

  Our People
  ----------

  Our team of professionals includes PMP<sup>&reg;</sup>[^pmp] certified project 
  managers, Microsoft Certified Professionals (with specializations in Enterprise
  Project Management, Networking and Infrastructure Solutions), and Microsoft 
  MVPs.

  #{render_partial '/partials/employees'}
  

  Our Philosophy
  --------------

  Advisicon is based on three tenets: Optimization, Knowledge Transfer and 
  Sustained Results.

  
  ### Optimization ###
  
  Advisicon integrates project management best practices and project management 
  technologies to fit each client's organizational structure, strategy, goals 
  and culture.

  
  ### Knowledge Transfer ###

  Advisicon teaches clients to internalize and standardize project management 
  best practices and use of technology. Clients receive task-specific coaching, 
  in-depth process development, customized project management methodology and 
  supervised training with the technology.


  ### Sustained Results ###
  
  Through our phased approach, our clients are able to adopt and implement 
  strategic project management improvements one step at a time, growing from 
  one level of project management maturity to the next. Through this process 
  of optimization and knowledge transfer, Advisicon delivers sustained results 
  to our clients.


  #{render_partial 'partials/footnotes'}
