title: Advisicon  -  Helping You Build A Project Management Culture
keywords: project management, portfolio management, project management consultant, portfolio management consultant, Microsoft Project consulting, Microsoft Project Server consulting, Project Server, Project Server consulting, Project Server training, Microsoft Project training, Microsoft Project Server training, project management training, balanced scorecard, project management tools, project scheduling, Enterprise Project Management consulting, EPM, EPM consulting, project management best practices, Microsoft partner, application development, database development, project management, portfolio management, project management consulting, project management Portland, OR, project management Oregon, project management Washington, project management Pacific Northwest, project management Mexico, project management Latin America
description: Claim your PDUs for Resolving Resource Management
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

%h1 Public Courses

%p Invest in Your Project Management Career!

%h2 Current Course Offerings

-#
	/ need to figiure out how to make the following work via ruby

	<%@LANGUAGE=VBSCRIPT%>
	<%

	Dim strConnection, conn, rs, strSQL 

	strConnection = "Provider=SQLOLEDB;Server=ADVISICON-COLO;Database=AdvisiconCourses;User Id=webuser; password=webuser;encrypt=true" 

	Set conn = Server.CreateObject("ADODB.Connection")

	conn.Open strConnection

	Set rs = Server.CreateObject("ADODB.recordset")
	strSQL = "SELECT dbo.Courses.CourseName AS Course, dbo.Classes.ClassLocName AS Location, dbo.Classes.ClassCity AS City, dbo.Classes.ClassState AS State, dbo.Classes.ClassStartDate AS Date FROM dbo.Courses, dbo.Classes WHERE dbo.Courses.CourseID = dbo.Classes.ClassTitle AND dbo.Classes.ClassStartDate > GETDATE() AND dbo.Classes.CurStatus = 1 ORDER BY dbo.Classes.ClassStartDate ASC"
	rs.open strSQL, conn, 3,3
	%>
	
	<table border="1" width="90%">
	<tr>
	<%
	for each x in rs.Fields
		response.write("<th>" & x.name & "</th>")
	next
	%>
	</tr>
	
	<% do until rs.EOF %>

	<tr>
	
	<%
	for each x in rs.Fields
		response.write("<td width='20%'>" & x.value & "</td>")
	next
	%>
	
	<%rs.MoveNext%>
	
	</tr>
	<% loop %>
	</table>
	
	<%
	rs.Close
	Set rs = Nothing

	conn.Close
	Set conn = Nothing
	%>