title: Application Development
keywords: Application Development, Microsoft, Project Server, SharePoint, SQL Server, Access
description: Custom development to help organizations achive their business objectives.
employee_name:
--------------------------------------------------------META


%h1 Application Development
%p Advisicon develops custom applications and code to help organizations achieve their business objectives, from integrating <abbr title="Enterprise Project Management">EPM</abbr> with other <abbr title="Structured Query Language">SQL</abbr>-based systems, to custom code and databases, to custom <abbr title="Enterprise Resource Planning">ERP</abbr> integrations.
%p Our expertise in project management helps us to scope, estimate, manage and deliver custom application development projects more cost effectively and on time.
%p Advisicon developers are able to develop for all of the following and more:
%ul
	%li Project Server
	%li MySQL
	%li VB.NET
	%li SharePoint
	%li SQLite
	%li C#
	%li SQL Server
	%li VBA
	%li HTML
	%li OCaml
	%li Access
	%li CSS
	%li LISP
	%li SQL
	%li JavaScript
	%li TSQL
	%li Java
%p <a href="mailto:info@advisicon.com?subject=Question%20about%20application%20development" title="email Advisicon" onclick="_gaq.push(['_trackEvent', 'Emails', 'Corporate', 'Inquiry']);">Contact Advisicon</a> today to explore how a custom tool or application could help you achieve your strategic business objectives.
%p View an Advisicon Application Development <a href="case_studies/case_study_appdev_NCRAR.htm" >case study</a>.