title: Application Development
keywords: Application Development, Microsoft, Project Server, SharePoint, SQL Server, Access
description: Custom development to help organizations achive their business objectives.
layout: default.haml
--------------------------------------------------------META


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Application Development
  =======================

  Advisicon develops custom applications to help organizations achieve 
  their business objectives, from integrating Enterprise Project Management (EPM)
  with an overflowing amount of SQL-based systems, to custom code and databases,
  including custom ERP integrations.

  Our expertise in project management best practices helps us to scope, estimate, 
  manage and deliver custom application development projects. Our goal is to deliver your
  application utilizing cost effective practices within allotted time-frame.
  
  Advisicon developers are able to develop for all of the following and more:

:maruku

  * Project Server
  * SharePoint
  * C#
  * SQL Server
  * VBA
  * HTML
  * HTML 5
  * OCaml
  * Access
  * CSS
  * SQL
  * JavaScript
  * TSQL
  * JQuery
  * VB.NET
  * InfoPath Form
  * LINQ
  * MDX
  
  Contact Advisicon today to explore how a custom tool or application could help you accomplish your strategic business objectives.

%p <a href="mailto:info@advisicon.com?subject=Question%20about%20application%20development" title="email Advisicon" onclick="#{track_event('Emails', 'Corporate', label: 'Inquiry')}">Contact Advisicon</a> today to explore how a custom tool or application could help you achieve your strategic business objectives.

%p View an Advisicon Application Development <a href="case_studies/case_study_appdev_NCRAR.htm" >case study</a>.
