title: Careers
keywords: Job, Career, social media, marketing, IT, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM
description: A list of the current open positions at Advisicon.
layout: default.haml
--------------------------------------------------------META


%h1 Advisicon Careers
%p Current Openings

%h2
  %a{ href: '/jobs/contract-senior-project-advisor.html' }
    Contract Senior Project Advisor
%p
  The Contract Senior Project Advisor will provide the customer with a blend 
  of skills round enterprise project management, technology, and strategic 
  business analysis. This position will engage in business and technology 
  discussions related to business value and end-to-end Microsoft technology 
  solutions. They will identity customer business problems, map them to a 
  solution, and facilitate the deployment of the services and technology 
  described in the recommended solution. This position must also be able to 
  train individuals on how to use the technology in a corporate and public 
  environment.
%p
  %a{ href: '/jobs/contract-senior-project-advisor.html' }
    [See details]


%h2
  %a{ href: '/jobs/project-consulting-scheduler.html' }
    Project Consulting Scheduler
%p
  The Project Consulting Scheduler will provide clients with a blend of skills 
  centered on enterprise project management and technology. This position will 
  engage in business and technology discussions related to enterprise end user 
  value, including end-to-end Microsoft technology solutions. Candidate will 
  aid senior Project Advisors in identifying client business problems, aid in 
  mapping them to a solution, and facilitate the deployment of services and 
  technology described in the recommended solution. 
%p
  %a{ href: '/jobs/project-consulting-scheduler.html' }
    [See details]


%h2
  %a{ href: '/jobs/contract-project-scheduler.html' }
    Contract Project Scheduler
%p
  The Project Advisor will provide the customer with a blend of skills centered 
  on enterprise project management, technology, and strategic business analysis. 
  This contract position will engage in business and technology discussions 
  related to enterprise value and end-to-end Microsoft project &amp; team 
  collaboration technology solutions. Incumbent will identify client business 
  problems, map them to a solution, and facilitate the deployment of services 
  and technology described in the recommended solution.
%p
  %a{ href: '/jobs/contract-project-scheduler.html' }
    [See details]


%h2
  %a{ href: '/jobs/sharepoint-developer.html' }
    SharePoint Developer
%p
  We are looking for an experienced SharePoint Developer. You will be 
  responsible for developing and deploying SharePoint Services applications 
  used by project management and technical project teams, and provide 
  administrator support for SharePoint Services. 
%p
  %a{ href: '/jobs/sharepoint-developer.html' }
    [See details]


%h2
  %a{ href: '/jobs/sharepoint-developer.html' }
    Senior Project Management Advisor
%p
  A Senior Project Management (PM) Advisor will provide the customer with a 
  blend of skills around enterprise project management (EPM), technology, and 
  strategic business analysis. The Senior PM Advisor will engage in managing 
  large scale EPM deployments.
%p
  The Senior PM Advisor will identify customer business problems, map them to 
  a solution, manage stakeholder expectations, manage on-site and remote 
  deployment team activities, track deployment progress, conduct on-going risk 
  analysis and issue management, assist in knowledge transfer, and facilitate 
  the deployment of the services and technology described in the proposed 
  solution. 
%p
  %a{ href: '/jobs/sharepoint-developer.html' }
    [See details]
