title: Case Studies
keywords: clients, Abbott Laboratories, Alliance Data, Banfield Pet Hospital, Banjercito, Bear Electric, Behavioral Health Coalition, Best Software, Cal Spas, Christian Copyright Licensing International, Christensen Shipyards, City of Beaverton, Comp USA, Control Tek, CorVel, DBA Architects, Deloitte &amp; Touche, Dept of Veterans Affairs, Electro Scientific Industries, Eli Lilly, FEI, FluidIQ&rsquo;s, Gary&rsquo;s VacuFlo, GE Security, Genesis Financial Solutions, Hewlett-Packard, Hix Rubenstein, Hollywood Video, Homestreet Bank, Hospital Santa Fe, ICA Construction, Intel, Jacobs Heating &amp; Air Conditioning, Lane Community College, Lane County - IT, Littlewing Publications, LRS Architects, LSI Logic Corporation, Lunar Logic, Luz y Fuerza del Centro, Mentor Graphics, Micro Power, Microsoft, Monaco Coach, Oregon Department of Motor Vehicles, Oregon Department of Transportation, Oregon Health Sciences University, PacifiCorp, Panasonic Avionics, PEMEX, Port of Portland, Portland General Electric, PPM Energy, Project Management Institute, Pronghorn Investors, ProtoType Industries, Sage Software, Seguros Monterrey, Sharp Laboratories of America, Sharp MicroElectronics, Skanska USA Building, Spa Outlet, SQL Soft, PERS, Dept of Employee Services, Dept of Revenue, Symantec Corporation, Synergy Professional Services, TekSystems, Tektronix, Timberline Software Corporation, Tonkon Torp, Triweb Solutions, Unisys, Washington County, Widmer Brewing, Wyeth Laboratories
description: A directory of clients and customers we have served.
employee_name:
--------------------------------------------------------META

      %h1 Case Studies
        %p Read our case studies on our past implimentations and trainings.
        %p Please <a href="mailto:info@advisicon.com?subject=Tell%20us%20more%20about%20being%20your%20client" title="email us">contact us</a> if you want to know more about our experience with customers or how we can help your organization.
          %ul.clientsList
            %li.vcard
              %a{ :href => 'http://www.banjercito.com.mx', :title => 'Banjercito&rsquo;s website', :class => 'url' }
                %img{ :src => '/pix/case-studies/Banjercito-logo.jpg', :alt => 'Banjercito&rsquo;s logo', :class => 'photo' }
                %p.fn.org Banjercito
              %ul
                %li
                  %a{ :href => '/case-studies/banjercito.htm', :title => 'view our case study on Project Mangement Organization implimentation for Banjercito' } case study
            <li class="vcard">
              <a href="http://www.fortisinc.com" title="the website of Fortis, Inc" class="url">
                <img src="/pix/case-studies/Fortis-logo.gif" alt="Fortis&rsquo;s logo" class="photo" />
                <p class="fn org">Fortis, Inc.</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/fortis.htm" title="view our case study on Microsoft Project Server 2010 Integration with SAP for Fortis">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.laika.com" title="LAIKA&rsquo;s website" class="url">
                <img src="/pix/case-studies/laika-logo.jpg" alt="LAIKA&rsquo;s logo" class="photo" />
                <p class="fn org">LAIKA</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/laika.htm" title="view our case study on Microsoft Project Server/EPM for LAIKA">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.mainbit.com.mx/" title="Mainbit&rsquo;s website" class="url">
                <img src="/pix/case-studies/Mainbit-logo.jpg" alt="Mainbit&rsquo;s logo" class="photo" />
                <p class="fn org">Mainbit</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/mainbit.htm" title="view our case study on our Project Management Office Development implimentation for Mainbit">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.ncrar.research.va.gov/" title="website for the National Center for Rehabilitative Auditory Research" class="url">
                <img src="/pix/case-studies/ncrar-logo.png" alt="NCRAR&rsquo;s logo" class="photo" />
                <p class="fn org">National Center for Rehabilitative Auditory Research</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/ncrar.htm" title="view our case study on application development at the US Department of Veteran Affairs&rsquo; National Center for Rehabilitative Auditory Research">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.oregon.gov/ODOT/" title="Oregon Department of Transportation&rsquo;s website" class="url">
                <img src="/pix/case-studies/ODOT-logo.png" alt="Oregon Department of Transportation&rsquo;s logo" class="photo" />
                <p class="fn org">Oregon Department of Transportation</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/odot-epm.htm" title="view our case study on Enterprise Project Management Consulting for the Oregon Department of Transportation">case study</a>
                </li>
                <li>
                  <a href="/case-studies/odot-sharepoint.htm" title="view our case study on Microsoft SharePoint consulting for the Oregon Department of Transportation">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.pfizer.com/" title="Pfizer&rsquo;s website" class="url">
                <img src="/pix/case-studies/pfizer-logo.gif" alt="Pfizer&rsquo;s logo" class="photo" />
                <p class="fn org">Pfizer</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/pfizer-business-technology.htm" title="view our case study on our Project Management Office Development and Microsoft SharePoint Services implimentation for Pfizer Business Technology">case study</a>
                </li>
                <li>
                  <a href="/case-studies/pfizer-medical-department.htm" title="view our case study on our Microsoft Project Server/EPM implimentation for Pfizer Medical Department">case study </a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.portlandgeneral.com" title="Portland General Electric&rsquo;s website" class="url">
                <img src="/pix/case-studies/pge-logo.gif" alt="PGE&rsquo;s logo" class="photo" />
                <p class="fn org">Portland General Electric</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/pge.htm" title="view our case study on our Project Management Office Development and Microsoft Office Project implimentation for PGE">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.iberdrolarenewables.us/" title="the website of Iberdrola Group (formally PPM Energy)" class="url">
                <img src="/pix/case-studies/PPMEnergy-logo.jpg" alt="PPM Energy&rsquo;s logo" class="photo" />
                <p class="fn org">PPM Energy</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/ppm-energy.htm" title="view our case study on Microsoft Project training for PPM Energy">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.sharplabs.com/" title="The website of Sharp Laboratories, part of Sharp Microelectronics" class="url">
                <img src="/pix/case-studies/Sharp-logo.png" alt="Sharp Lab&rsquo;s logo" class="photo" />
                <p class="fn org">Sharp Laboratories of America</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/sharp-laboratories.htm" title="view our case study on our Microsoft SharePoint Services Implimentation for Sharp Laboratories">case study</a>
                </li>
              </ul>
            </li>
            <li class="vcard">
              <a href="http://www.volaris.mx/" title="Volaris&rsquo; website" class="url">
                <img src="/pix/case-studies/volaris-logo.png" alt="Volaris&rsquo; logo" class="photo" />
                <p class="fn org">Volaris</p>
              </a>
              <ul>
                <li>
                  <a href="/case-studies/volaris.htm" title="view our case study on Project Management Office Development and Microsoft Office Project Server/EPM implimentation for Volaris">case study</a>
                </li>
              </ul>
            </li>
          </ul>
    </section>
  </div> <!-- END #content -->

  </div>
  <footer>
  <!-- #include virtual="/include/footer.htm" -->

  </footer>
<map name="Map" id="Map">
  <area shape="rect" coords="858,21,936,99" href="/" alt="Advisicon Home" />
  <area shape="rect" coords="860,22,861,24" href="#" alt="Advisicon" />
</map>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.0.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script> <!-- Script for loading the google feed API. -->
  <script type="text/javascript" src="/Scripts/loadGoogleFeed.js"></script> <!-- loads the Advisicon blog feed -->
  <script src="/Scripts/twitter.js" type="text/javascript"></script> <!-- loads tweets. Since this is *kinda* producing content, leaving in the head too. Now moved to bottom -->
<script src="/jscript/jquery.easing.1.3.js" type="text/javascript"></script> <!-- I believe this is for animating the slides in that (ridiculous) header -->
<script src="/jscript/2/jquery.hslides.js" type="text/javascript"></script> <!-- Part of the slide control in the header -->
<!-- <script src="jscript/2/jquery.hoverintent.js" type="text/javascript"></script> --> <!-- Not really sure why we are using this. Doesn't seem to apply to anything we've got going on this page at the moment. Likely useless. -->
<script src="/jscript/2/jquery.innerfade.js" type="text/javascript"></script> <!-- Animates the fade in/fade out of book in the "Featured Books section" -->
<script src="/Scripts/frontPageSlideshowHeader.js" type="text/javascript"></script> <!-- Controls the display of that silly banner at the top of the index page. It sizes all of the slides the same [Jeff] -->
<script src="/Scripts/featuredProducts.js" type="text/javascript"></script> <!-- Controls the slideshow action of fading from book to book in the "Featured Books" section of the index page [Jeff] -->
<script src="/Scripts/googlePlusOneButton.js" type="text/javascript"></script><!-- Render call for the google +1 link [Jeff] -->
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script src="/Scripts/rootGoogleAnalytics.js" type="text/javascript"></script>
  
</body>
</html>