title: Case Studies
keywords: clients, Abbott Laboratories, Alliance Data, Banfield Pet Hospital, Banjercito, Bear Electric, Behavioral Health Coalition, Best Software, Cal Spas, Christian Copyright Licensing International, Christensen Shipyards, City of Beaverton, Comp USA, Control Tek, CorVel, DBA Architects, Deloitte &amp; Touche, Dept of Veterans Affairs, Electro Scientific Industries, Eli Lilly, FEI, FluidIQ&rsquo;s, Gary&rsquo;s VacuFlo, GE Security, Genesis Financial Solutions, Hewlett-Packard, Hix Rubenstein, Hollywood Video, Homestreet Bank, Hospital Santa Fe, ICA Construction, Intel, Jacobs Heating &amp; Air Conditioning, Lane Community College, Lane County - IT, Littlewing Publications, LRS Architects, LSI Logic Corporation, Lunar Logic, Luz y Fuerza del Centro, Mentor Graphics, Micro Power, Microsoft, Monaco Coach, Oregon Department of Motor Vehicles, Oregon Department of Transportation, Oregon Health Sciences University, PacifiCorp, Panasonic Avionics, PEMEX, Port of Portland, Portland General Electric, PPM Energy, Project Management Institute, Pronghorn Investors, ProtoType Industries, Sage Software, Seguros Monterrey, Sharp Laboratories of America, Sharp MicroElectronics, Skanska USA Building, Spa Outlet, SQL Soft, PERS, Dept of Employee Services, Dept of Revenue, Symantec Corporation, Synergy Professional Services, TekSystems, Tektronix, Timberline Software Corporation, Tonkon Torp, Triweb Solutions, Unisys, Washington County, Widmer Brewing, Wyeth Laboratories
description: A directory of clients and customers we have served.
layout: default.haml
--------------------------------------------------------META

%h1 Case Studies
%p Read our case studies on our past implimentations and trainings.
%p Please <a href="mailto:info@advisicon.com?subject=Tell%20us%20more%20about%20being%20your%20client" title="email us">contact us</a> if you want to know more about our experience with customers or how we can help your organization.
%ul.clientsList
  %li.vcard
    %a.url{ href:  'http://www.banjercito.com.mx', 
            title: 'Banjercito&rsquo;s website' }
      %img.photo{ src: '/pix/case-studies/Banjercito-logo.jpg', 
                  alt: 'Banjercito&rsquo;s logo' }
      %p.fn.org Banjercito
    %ul
      %li
        %a{ href:  '/case-studies/banjercito.html', 
            title: 'view our case study on Project Mangement Organization implimentation for Banjercito' } case study
  %li.vcard
    %a.url{ href:  'http://www.fortisinc.com', 
            title: 'the website of Fortis, Inc' }
      %img.photo{ src: '/pix/case-studies/Fortis-logo.gif', 
                  alt: 'Fortis&rsquo;s logo' }
      %p.fn.org Fortis, Inc.
    %ul
      %li
        %a{ href:  '/case-studies/fortis.html', 
            title: 'view our case study on Microsoft Project Server 2010 Integration with SAP for Fortis' } case study
  %li.vcard
    %a.url{ href:  'http://www.laika.com', 
            title: 'LAIKA&rsquo;s website' }
      %img.photo{ src: '/pix/case-studies/laika-logo.jpg', 
                  alt: 'LAIKA&rsquo;s logo' }
      %p.fn.org LAIKA
    %ul
      %li
        %a{ href:  '/case-studies/laika.html', 
            title: 'view our case study on Microsoft Project Server/EPM for LAIKA' } case study
  %li.vcard
    %a.url{ href: 'http://www.mainbit.com.mx/', 
            title: 'Mainbit&rsquo;s website' }
      %img.photo{ src: '/pix/case-studies/Mainbit-logo.jpg', 
                  alt: 'Mainbit&rsquo;s logo' }
      %p.fn.org Mainbit
    %ul
      %li
        %a{ href:  '/case-studies/mainbit.html', 
            title: 'view our case study on our Project Management Office Development implimentation for Mainbit' } case study
  %li.vcard
    %a.url{ href:  'http://www.ncrar.research.va.gov/', 
            title: 'website for the National Center for Rehabilitative Auditory Research' }
      %img.photo{ src: '/pix/case-studies/ncrar-logo.png', 
                  alt: 'NCRAR&rsquo;s logo' }
      %p.fn.org National Center for Rehabilitative Auditory Research
    %ul
      %li
        %a{ href:  '/case-studies/ncrar.html', 
            title: 'view our case study on application development at the US Department of Veteran Affairs&rsquo; National Center for Rehabilitative Auditory Research' } case study
  %li.vcard
    %a.url{ :href => 'http://www.oregon.gov/ODOT/', :title => 'Oregon Department of Transportation&rsquo;s website' }
      %img.photo{ :src => '/pix/case-studies/ODOT-logo.png', :alt => 'Oregon Department of Transportation&rsquo;s logo' }
      %p.fn.org Oregon Department of Transportation
    %ul
      %li
        %a{ href:  '/case-studies/odot-epm.html', 
            title: 'view our case study on Enterprise Project Management Consulting for the Oregon Department of Transportation' } case study
      %li
        %a{ href:  '/case-studies/odot-sharepoint.html', 
            title: 'view our case study on Microsoft SharePoint consulting for the Oregon Department of Transportation' } case study
  %li.vcard
    %a.url{ :href => 'http://www.pfizer.com/', :title => 'Pfizer&rsquo;s website' }
      %img.photo{ :src => '/pix/case-studies/pfizer-logo.gif', :alt => 'Pfizer&rsquo;s logo' }
      %p.fn.org Pfizer
    %ul
      %li
        %a{ :href => '/case-studies/pfizer-business-technology.htm', :title => 'view our case study on our Project Management Office Development and Microsoft SharePoint Services implimentation for Pfizer Business Technology' } case study
      %li
        %a{ :href => '/case-studies/pfizer-medical-department.htm', :title => 'view our case study on our Microsoft Project Server/EPM implimentation for Pfizer Medical Department' } case study
  %li.vcard
    %a.url{ :href => 'http://www.portlandgeneral.com', :title => 'Portland General Electric&rsquo;s website' }
      %img.photo{ :src => '/pix/case-studies/pge-logo.gif', :alt => 'PGE&rsquo;s logo' }
      %p.fn.org Portland General Electric
    %ul
      %li
        %a{ :href => '/case-studies/pge.htm', :title => 'view our case study on our Project Management Office Development and Microsoft Office Project implimentation for PGE' } case study
  %li.vcard
    %a.url{ :href => 'http://www.iberdrolarenewables.us/', :title =>'the website of Iberdrola Group (formally PPM Energy)' }
      %img.photo{ :src => '/pix/case-studies/PPMEnergy-logo.jpg', :alt => 'PPM Energy&rsquo;s logo' }
      %p.fn.org PPM Energy
    %ul
      %li
        %a{ :href => '/case-studies/ppm-energy.htm', :title => 'view our case study on Microsoft Project training for PPM Energy' }case study
  %li.vcard
    %a.url{ :href => 'http://www.sharplabs.com/', :title => 'The website of Sharp Laboratories, part of Sharp Microelectronics' }
      %img.photo{ :src => '/pix/case-studies/Sharp-logo.png', :alt => 'Sharp Lab&rsquo;s logo' }
      %p.fn.org Sharp Laboratories of America
    %ul
      %li
        %a{ :href => '/case-studies/sharp-laboratories.htm', :title => 'view our case study on our Microsoft SharePoint Services Implimentation for Sharp Laboratories' } case study
  %li.vcard
    %a.url{ :href => 'http://www.volaris.mx/', :title => 'Volaris&rsquo; website' }
      %img.photo{ :src => '/pix/case-studies/volaris-logo.png', :alt => 'Volaris&rsquo; logo' }
      %p.fn.org Volaris
    %ul
      %li
        %a{ :href => '/case-studies/volaris.htm', :title => 'view our case study on Project Management Office Development and Microsoft Office Project Server/EPM implimentation for Volaris'} case study
