title: Claiming PDUs
keywords: claim, Professional Development Units, PDU, Project Management Institute, PMI
description: How to claim Advisicon&rsquo;s PDUs from PMI.
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META


%h1 Claiming Professional Development Units from the Project Management Institute
%p 
  Go to the Project Management Institute 
  %a{ :target => '_blank', :href => 'https://ccrs.pmi.org/', :title => 'Claim PDUS from PMI' } Continuing Certificate Requirements System website
%p Login using your PMI username and password. If you do not have an account, follow instructions to create one. Select Claim Credits.

%h2 Step 1
%p 
  :maruku
    Select PDU category: **Cat 3: Registered Education Provider program/PMI Component Event**
%p 
  :maruku
    You will then be prompted to select Activity Type: **Find Activity (Course or Event)**
%img{ :alt => 'PMI Categories', :src => '/pix/pdus/pdu-categories.jpg', :width => '100%' }
%p 
  :maruku
    Click **NEXT**

%h2 Step 2
%p 
  :maruku
    Provider Activity Search Critera page, enter **Advisicon** in the Provider Name box and click **SEARCH**
%img{ :alt => 'PDU search box', :src => '/pix/pdus/pdu-search%20box.jpg', :width => '100%' }
%p Choose your course from the list of Advisicon courses:
%img{ :alt => 'Advisicon Courses', :src => '/pix/pdus/pdu-courses.jpg', :width => '100%' }
%p You have now selected all relevant Advisicon information. Please continue to fill out the Continuing Certification Requirements System according to the on-page directions.