title:
keywords: Project Management, Portfolio Management, Consultant, Consulting, Microsoft Project Server, Project Server, Training, Microsoft partner, application development, database development, Microsoft SharePoint, MSP-Rex, PMI, PMP, Microsoft Project training, Microsoft Project Server training, project management training, Portland, Oregon, Detroit, Michigan, Washington, Seattle, Pacific Northwest, PNW, Mexico, Latin America, EPM, balanced scorecard, tools, project scheduling, Enterprise Project Management consulting, EPM consulting, project management best practices
description: Strategic project control solutions in advanced project &amp; portfolio management methodologies, custom application development &amp; consultative training.
--------------------------------------------------------META

:maruku
  
  #{render_partial 'partials/references'}

  

  Helping You Define Your Project Management Culture!
  ===================================================
 
  When it comes to helping your organization be more efficient and beyond capable, 
  Advisicon has the right people and tools -- PMP&reg;[^pmp] certified Project 
  Management Professionals, Microsoft Project MVPs, Microsoft Gold Certified Partner - highest rank available - and over 20 years of successful consulting, 
  development, and training experience. Advisicon's expertise is derived from our wide 
  base of highly skilled professionals who have delivered recognized results in 
  top industries. Our fundamental understanding of people, technology, and 
  process allow us to harness the cutting edge of technology and implement the 
  best solutions available for your needs.
    
  As a R.E.P., Advisicon has been approved by PMI to issue professional 
  development units (PDUs) for its training courses, so come join us for one of our
  many public courses!
  
  
  Are you Project 2013 ready?
  ---------------------------

  [![Project 2013](/pix/logos/Project-13-logo.png){: border="0" width="102" height="38" }][project]
 
  The Advisicon squad is [**Project 2013 ready, are you?**][project-2013] Based 
  on the powerful Microsoft Project platform, utilizing SharePoint Enterprise 
  Server 2013.  The Advisicon solution designers have been compounding upon their 
  wisdom, customizing and beta testing the next evolution of Microsoft Project. 
  Project 2013 is here -- be ready!! 
  [Test Drive Project 2013 Online! - Free 30-day trial][test-drive]
 
 
  Advisicon is a member of PMI's R.E.P. Program and PMI does not specifically 
  endorse, approve, or warrant R.E.P.'s products, courses, publications, or 
  services.

  #{render_partial 'partials/footnotes'}

  [project-2013]: /online/project-online.aspx
  [test-drive]: /online/project-online.aspx
  


 
