title: SharePoint
keywords: Microsoft, SharePoint, Training, Deployment, Customization
description: About Advisicon's Microsoft SharePoint training, deployment, and customization
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  Your Strategic Partner for Project and Portfolio Management
  ===========================================================

  Does your organization need training to make your project management processes 
  more efficient and productive? Do you want to see lasting results?

  Advisicon's experienced consultants and trainers will help you develop your organization's project and portfolio management capabilities. We will help 
  you learn to work more efficiently, optimize your work processes, and take 
  full advantage of available technologies. By aligning your activities with 
  your strategic objectives and management priorities your organization will 
  see lasting results.

  **Call Advisicon today to discuss your needs and how we can help you manage 
  your projects more effectively!**


  Starting with Your Needs
  ------------------------

  Advisicon's team understands that the right solution is the one that fits 
  you and your organization.

  We start with your needs and work together to ensure that you receive the 
  right combination of consulting, training, and technology solutions.

  Our consultants, trainers, and IT professionals are ready to help you 
  identify and implement the most effective project management solutions to 
  help you achieve your goals.


  What We Do
  ----------

  ### Consulting Services ###

  Advisicon provides the highest level of project management consulting, 
  deploying MS Project Server, delivering Enterprise Project Management serves, implementing Project Management Offices, and developing WebTools and 
  customized software solutions.

  ### Project Management Courses ###

  Advisicon teaches public and customized courses in project and portfolio 
  management methods and best practices from entry to advanced levels. Call to 
  learn more about upcoming courses.

  ### Microsoft&reg; Project Training ###

  Advisicon is a leader in Microsoft&reg; Project training. We deliver Microsoft&reg; 
  Project and Project Server training for every level of user, from beginner to 
  administrator.

  Contact Advisicon at 503.253.0331 today to learn more about our services, 
  products and courses!

  
  Who We Are
  ----------

  Advisicon is a professional project and portfolio management consulting and 
  training company. We help our clients leverage the best project management 
  methods and technologies available to manage their projects more effectively.

  Based in Portland, Oregon, Advisicon serves clients in business, government, 
  and non-profit organizations throughout North America and Latin America. We 
  deliver the following professional services to our clients:

  ### Microsoft Partners ###

  Advisicon is uniquely qualified as a Microsoft&reg; Certified Partner to help 
  organizations that are using or evaluating Microsoft&reg; Project, Project 
  Server, and ShaerPoint.


  Helping You Manage Your Projects
  --------------------------------

  Strategic leaders know the value of successful projects to move their 
  organizations forward. They also know that successfully planning and managing 
  projects can be very challenging.

  Coordinating, tracking and controlling interrelated schedules, shared 
  resources, complex tasks, tight timetables and budgets can be a daunting task.

  _Does your organization struggle with on-time delivery and managing budgets? 
  Do you need better tools to help you facilitate communications and track 
  projects' status?_

  You are not alone!

  _**Advisicon has helped many organizations learn how to manage projects more 
  effectively and efficiently.**_