title: Microsoft Project Office
keywords: Microsoft Office Project, Microsoft Project Server, consulting, training, epm, project management, gold certified, enterprise project management, pmo, project management office
description: How Advisicon approaches Microsoft Office Project and Project Server Consulting and Training
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku
  

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}







  Microsoft&reg; Office Project and Project Server Consulting and Training
  ========================================================================

  ![Microsoft EPM Logo](/pix/MS_EPM_Logo.png){.inlineImage}

  Advisicon helps organizations use Microsoft&reg; Office Project, Microsoft&reg; 
  Project Server, and Microsoft&reg; Project Portfolio Server -- Microsoft's 
  EPM Solution -- to manage projects and portfolios more effectively. Through 
  optimization, training in project management best practices, process development 
  and template implementation, Advisicon's consultants deliver Microsoft&reg; Gold 
  Certified EPM expertise to optimize a customized EPM Solution to deliver 
  sustained results for our clients.

  Our Microsoft&reg; Project and Microsoft&reg; Project Server Consulting and 
  Training Services:

  * * *

  * generate!
  {:toc}

  * * *

  Focused Expertise: Microsoft Gold Certified EPM Partner
  -------------------------------------------------------

  ![Microsoft Gold Certified Partner](/pix/Cert_GoldPrt_gold.jpg){.inlineImage}

  As the only Microsoft&reg; Gold Certified Enterprise Project Management 
  Partner in the Pacific Northwest, Advisicon is uniquely qualified to help 
  your organization implement Microsoft&reg; Office Project and Microsoft&reg; 
  Project Server.

  ![Microsoft Most Valuable Professional](/pix/MVPLogo.png){.inlineImage}
  ![Microsoft MCP Logo](/pix/MCPLogo.jpg){.inlineImage}

  Advisicon's President, Tim Runcie is one of less than fourty Microsoft&reg; 
  Project MVPs in the world, and an author of multiple books and articles on 
  the effective use of Microsoft&reg; Office Project, Microsoft&reg; Project 
  Server, and project management methodologies. Advisicon's EPM consultants 
  are MCP and MCTS in Microsoft&reg; Office Project and Project Server. Our 
  consultants offer you expertise in the implementation, configuration, 
  customization, training and use of Microsoft&reg; Office Project and 
  Microsoft&reg; Project Server.

  Microsoft&reg; Office Project Consulting {#consulting}
  ----------------------------------------

  Advisicon helps organizations use Microsoft&reg; Office Project to manage 
  their projects more effectively through optimization, training in project 
  management best practices, project management process development, and 
  template customization. Advisicon's consultants deliver this deep expertise 
  to our clients to help them implement Microsoft&reg; Project technologies 
  more effectively to deliver sustained results.

  Microsoft&reg; Office Project Training {#training}
  --------------------------------------

  Microsoft&reg; Office Project is the #1 project scheduling tool in the world. 
  Advisicon delivers hands-on, consultative training to users of Microsoft&reg; 
  Office Project. We go far beyond simple keystroke training, and teach users:

  * Best practices
  * How to avoid common pitfalls and mistakes
  * How to use Microsoft&reg; Project to create and manage project schedules 
    effectively
  * Professional tips and tricks that will save you hours and days of 
    frustration

  Advisicon's training gives users useful tools, tips and tricks to make 
  working with Microsoft&reg; Project more predictable, enjoyable and 
  productive. See the [Managing Projects with Microsoft Projects][MPwMP-course] 
  course outline.

  
  ### Managing Projects with Microsoft&reg; Project ###

  <div markdown="1" class="showcaseItem">
    [![Managing Projects with Microsoft Project Cover](/pix/cover-MPwMSP.jpg)][MPwMP-course]
    
    Learn how to use Microsoft&reg; Office Project to build, optimize and 
    manage project schedules. This course teaches participants how to use 
    Microsoft&reg; Office Project to successfully create, track, manage and 
    modify project schedules and resource pools.

    Participants will learn how to apply best practices, tips and tricks to 
    planning, executing, and managing projects with Microsoft&reg; Office Project.

    [See Microsoft&reg; Project case studies](/casestudies.htm#msp "view our MS Project case studies"){.caseStudy}
  </div>

  Microsoft&reg; Office Scheduling Services {#scheduling-services}
  -----------------------------------------

  Advisicon offers clients professional Microsoft&reg; Office Project 
  scheduling services. Our professional project schedulers can help support 
  your project managers and teams by building, updating, integrating, and 
  maintaining your project schedules, so your project managers and teams can 
  stay focused on delivering your projects. [Contact us][contact] to learn more.

  Microsoft&reg; Office Project Server Consulting and Microsoft&reg; Office Project Server Training {#server-consulting-and-training}
  -------------------------------------------------------------------------------------------------
  ![Microsoft EPM Logo](/pix/MS_EPM_Logo.png){.inlineImage}

  Advisicon helps organizations use Microsoft&reg; Office Project, Microsoft&reg; 
  Project Server, and Microsoft&reg; Project Portfolio Server -- collectively 
  Microsoft's&reg; Enterprise Project Management Solution -- to manage projects 
  and portfolios more effectively. Through optimization, training in best 
  practices, process development and template implementation, Advisicon's 
  consultants deliver Microsoft&reg; Gold Certified EPM expertise to optimize 
  the EPM Solution and deliver constant results for our clients.

  Advisicon's integrated Microsoft&reg; Office Project Server enterprise 
  project management implementation and portfolio management implementation 
  deliver targeted, sustained results in critical business areas:

  * Project resource and schedule visibility
  * Enterprise-wide project collaboration
  * Project schedule management
  * Project resource management
  * Stakeholder management
  * Communication management
  * Milestone management
  * Deliverable management
  * Risk and Issue management
  * Key business metrics analysis and project reporting
  * Centralized project data and document management and reporting
  * Management dashboards with KPIs

  A system is only as good as it's consistent usage. Advisicon ensures clients 
  receive the full benefits of the EPM Solution by delivering more than just 
  system integration. Advisicon delivers customized, integrated hands-on, 
  consultative user training tailored to each client&rsquo;s particular needs. 
  Each client receives specific EPM customization, EPM deployment and EPM 
  implementation. Advisicon has developed a fully-integrated training curriculum 
  to help different user groups learn to use Microsoft&reg; Office Project, 
  Microsoft&reg; Office Project Server, and Microsoft&reg; Project Portfolio 
  Server effectively.

  Microsoft&reg; Office Project Server Training {#server-training}
  ---------------------------------------------
  
  ### Microsoft&reg; Office Project Server 2007: Administrator
  
  <div markdown="1" class="showcaseItem">
    [![Microsoft Office Project Server Administrator Cover](/pix/cover-MOPSAdmin.jpg)][MSPS_Admin-course]
      
    Learn how to configure, customize, administer and support Microsoft&reg; 
    Office Project Server 2003 or 2007. Administrators will learn how to 
    configure, customize and support Microsoft&reg; Office Project Server. 
    This course trains participants to set up and support enterprise-wide 
    project management standards, templates, resource pools, custom fields, 
    management metrics and reporting, as well as how to manage Project Web 
    Access.
  </div>

  ### Microsoft&reg; Office Project Server 2007: Project Manager
  
  <div markdown="1" class="showcaseItem">
    [![Microsoft Office Project Server Project Manager Cover](/pix/cover-MOPSProjManager.jpg)][MSPS_PM-course]

    Learn how to build, publish, and manage project schedules, issues, risks, 
    deliverables, resources, and documents across an enterprise with Microsoft&reg; 
    Office Project Server 2007. Project Managers will learn to build, track 
    and manage project schedules with Microsoft&reg; Office Project Professional 
    and publish them to Project Server, and how to track, analyze, and report 
    on projects through Project Web Access.
  </div>
  
  ### Microsoft&reg; Office Project Server 2007: Team Member

  <div markdown="1" class="showcaseItem">
    [![Microsoft Office Project Server Team Member Cover](/pix/cover-MOPSTeamMember.jpg)][MSPS_TM-course]
    
    Learn how use Microsoft&reg; Office Project Server 2007 to contribute to 
    projects across an enterprise. This course trains participants how to update 
    and manage project tasks, enter and report on risks, issues, documents and 
    new tasks through Project Web Access.
  </div>

  Microsoft&reg; Office Project Server Custom Development and Integration Services {#custom-development-and-integration}
  --------------------------------------------------------------------------------

  In addition to helping clients configure and implement Microsoft&reg; Office 
  Project Server, Advisicon delivers a full range of Microsoft&reg; Office 
  Project Server customization services:

  * Custom workflows
  * Custom forms, views, tables, reports
  * Custom integration with other systems
  * SQL integration and development

  Project Management with Microsoft&reg; SharePoint Services {#portfolio-consulting-and-training}
  ----------------------------------------------------------

  Advisicon delivers focused consulting and training to organizations using 
  Microsoft&reg; SharePoint Services to manage projects and other business 
  activities. Advisicon delivers a full range of Microsoft&reg; SharePoint 
  services:

  * Microsoft&reg; SharePoint PM Solution Implementation Consulting
  * Microsoft&reg; SharePoint Executive Management Solution Consulting
  * Hosted customized solutions
  * On-premises customized solutions
  * Custom Microsoft&reg; SharePoint training

  Microsoft&reg; SharePoint PM Solution Training {#sharepoint-training}
  ----------------------------------------------

  ### Microsoft&reg; SharePoint for Effective Project Management

  <div markdown="1" class="showcaseItem">
    [![Microsoft&reg; SharePoint for Effective Project Management Cover](/pix/cover-sharepoint.jpg)][SPfEPM-course]

    Learn to use Microsoft&reg; Windows SharePoint Services to manage project 
    team collaboration on projects. This course teaches participants how to 
    design, create customize and use Microsoft&reg; SharePoint to collaborate, 
    share documents, communicate and coordinate project activities, deliverables, 
    communications, risks, and issues.
  </div>

  ### Project Management Offices using Microsoft&reg; SharePoint

  Advisicon has developed a number of Microsoft&reg; SharePoint solutions 
  specifically to support project management practices, project teams and 
  organizations. Advisicon delivers Microsoft&reg; SharePoint-based project 
  management solutions, including project team worksites, program management 
  sites, and integrations with Microsoft&reg; Office Project and Microsoft&reg; 
  Project Server, to support your PMOs and project teams.

  * Create custom project workspaces and templates to facilitate project team 
    collaboration between both collocated and distributed project teams
  * Develop sites for Project Management Offices to share templates, standards, 
    policies, procedures, and documents
  * Integrate Microsoft&reg; SharePoint with Microsoft&reg; Project and 
    Microsoft&reg; Project Server to enable enterprise-wide visibility and control 
    of projects, project data, project reporting, dashboards, and communications
  
  From customized Microsoft&reg; SharePoint solutions to support project teams 
  to strategic PMOs, Advisicon's project management solutions can help your 
  organization be more efficient, organized, and productive.

  [See Microsoft&reg; SharePoint Services Case Studies](/casestudies.htm#sharepoint "view our SharePoint case studies"){.caseStudy}
