title: Microsoft Project 2010
keywords: Microsoft Project, Project 2010, Project Server, Lifecycle Management, white paper, webcast, project management
description: Microsoft Project 2010 is pretty awesome. Here&rsquo;s why.
employee_name:
--------------------------------------------------------META


%h1 Are You Project 2010 Ready?

%h2 Microsoft Project and Project Server 2010
%p
  %a{ :target => '_blank', :href => '/PDF/Gartner%20MQ2010%20FINAL.pdf', :title => 'download the June 2010 Magic Quadrant for IT Project and Portfolio Management', :onclick => "_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'Magic Quadrant 7 June 2010']);" } The 2010 Magic Quadrant
  by researcher
  %a{ :href => 'http://www.gartner.com/AnalystBiography?authorId=11760', :title => 'Daniel B. Stang&rsquo;s Analyst Profile' } Daniel B. Stang
  has been released. Microsoft Project Server 2010 is in the leadership quadrant, embodying a completeness of vision and an ability to execute! We at Advisicon are energized by Microsoft&rsquo;s innovative and leading products in 2010, as they compliment our solutions and focus.
%p
  As Microsoft Project 2010 and Microsoft Project Server 2010 have developed, Advisicon has been along the leading edge, observing the maturity reflected in Project 2010 and testing the new capabilities on multiple levels. Microsoft Project Server 2010 pioneers a unified approach to combining multiple Lifecycle Management tasks into a singular direction. This Demand Management capability reflects a new direction for Portfolio management, by allowing both more control, and more freedom in the Project Lifecycle Management process. To learn more about the innovative system available in Project Server 2010, read 
  %a{ :target => '_blank', :href => 'download/whitepaper/project-server-2010-a-look-at-demand-management.pdf', :title => 'Our whitepaper &ldquo;Microsoft Project Server 2010: A look at Demand Management&rdquo;' }Advisicon&rsquo;s White Paper
  on the subject.
%p
  Advisicon: 
  %em Project 2010 Ready
  \.
%iframe{ :width => '100%', :height => '286', :src => 'http://www.youtube.com/embed/RGhc9K1L6jM', :frameborder => '0', :seamless => true, :allowfullscreen => true }

%h2 Microsoft Project Server 2010 Demand Management Webcast Series
%p
  Advisicon President and Microsoft MVP, <a href="/staff_bios/tim-runcie.htm" title="learn more about Tim Runcie">Tim Runcie</a>, and Advisicon Senior Portfolio Advisor Tim Cermak presented a four-part webcast directed at end-users and the concepts of Demand Management. Advisicon also published a White Paper on the topic.
  %a{ :target => '_blank', :href => 'http://blogs.msdn.com/chrisfie/archive/2010/04/20/announcing-microsoft-project-server-2010-demand-management-webcast-series-mark-your-calendars.aspx', :title => 'webcast details' } Information and additional details about the content of each webcast.
  As 2010 progresses, Advisicon will be authoring additional White Paper and Webcast series. A Look at Portfolio Strategy in Microsoft Project Server 2010 is the next topic.
%ul
  %li Part 1: <a target="_blank" href="https://msevents.microsoft.com/CUI/WebCastEventDetails.aspx?EventID=1032450468&amp;EventCategory=4&amp;culture=en-US&amp;CountryCode=US" title="The overview webcast">Overview</a></li>
  %li Part 2: <a target="_blank" href="https://msevents.microsoft.com/CUI/WebCastEventDetails.aspx?EventID=1032450472&amp;EventCategory=4&amp;culture=en-US&amp;CountryCode=US" title="Our webcast on the Create and Select Phases">Create and Select Phases</a></li>
  %li Part 3: <a target="_blank" href="https://msevents.microsoft.com/CUI/WebCastEventDetails.aspx?EventID=1032450474&amp;EventCategory=4&amp;culture=en-US&amp;CountryCode=US" title="Our webcast on the Plan, Manage, and Close Phases">Plan, Manage, and Close Phases</a></li>
  %li Part 4: <a target="_blank" href="https://msevents.microsoft.com/CUI/WebCastEventDetails.aspx?EventID=1032450476&amp;EventCategory=4&amp;culture=en-US&amp;CountryCode=US" title="Our webcast on testing the Theory">Test the Theory and Review</a></li>
  
%h2 Test Drive
%p <a target="_blank" href="http://go.microsoft.com/?linkid=9713654" title="test drive Microsoft Project and Microsoft Project Server 2010">Test drive Microsoft Project 2010 and Project 2010 Server</a> in a virtual lab right in your browser! (requires Internet Explorer).
%iframe{ :width => '100%', :height => '286', :src => 'http://www.youtube.com/embed/xzQfuZheiYI', :frameborder => '0', :seamless => true, :allowfullscreen => true }

%h3 Project Fluidity: What is (and what will be) Project Management Tools
%p Advisicon President, <a href="/staff_bios/tim-runcie.htm" title="learn more about Tim Runcie">Tim Runcie</a>, <abbr title="Project Management Professsional">PMP</abbr>, <abbr title="Microsoft Most Valuable Professional">MVP</abbr>, presenting to PMI-Corvallis Chapter on the topic of  <a href="/download/audio/project-fluidity-at-pmi-corvallis.mp3" title="download the .mp3">Project Fluidity</a>. In the latter half of the lecture, Tim discusses some of the features of Microsoft Project 2010 in greater depth.
%audio{ :controls => 'controls' }
  %source{ :src => '/download/audio/project-fluidity-at-pmi-corvallis.mp3', :type => 'audio/ogg' }/
  %source{ :src => '/download/audio/project-fluidity-at-pmi-corvallis.mp3', :type => 'audio/mpeg' }/
  Your browser does not support the HTML5 audio tag. <a href="/download/audio/project-fluidity-at-pmi-corvallis.mp3" title="Download the .mp3">Download</a> the audio file instead.
%p Advisicon business planning and decision solutions are developed using the new, powerful Microsoft Project 2010 platform.
%p Project Server 2010 will reside in SharePoint Server 2010. Advisicon clients have benefited from the deep knowledge our technical and executive consultants have designed and delivered leveraging Microsoft Enterprise Project Management technology for more than a decade.
%p With Project Server 2010, we now can leverage web-based scheduling and server-side integration resulting in a more robust technical platform to accelerate our solution design and delivery.
%p>Search, unified communications and more robust dash views are now standard with our solutions.
%a{ :href => '/pix/pro2010cycle.png', :title => 'view this image' }
  %img{ :alt => 'Project 2010 Deployment LifeCycle', :src => '/pix/pro2010cycle.png', :width => '100%' }/
%p Ready to test drive Microsoft Project 2010, Project Professional, or Project Server? <a target="_blank" href="http://www.microsoft.com/project/2010/en/us/default.aspx" title="test drive &lsquo;em!">Try the Project 2010 demos now</a>.</p>