title: Microsoft Project Office
keywords: Microsoft Office Project, Microsoft Project Server, consulting, training, epm, project management, gold certified, enterprise project management, pmo, project management office
description: How Advisicon approaches Microsoft Office Project and Project Server Consulting and Training
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku
  

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}







  Microsoft&reg; Project and Project Server/Project Online Consulting and Training
  ========================================================================

  ![Microsoft EPM Logo](/pix/MS_EPM_Logo.png){.inlineImage}

  Advisicon aids organizations use Microsoft&reg; Project, Microsoft&reg; Project Server, and Microsoft&reg; Project Online to manage projects and portfolios more effectively. Utilizing our three philosophy tenets we provide: optimization, knowledge transfer in project management best practices, sustained results through process development and template implementation. Advisicon's consultants deliver Microsoft&reg; Gold Certified expertise to optimize a customized enterprise-wide PPM solution to maintain sustained results for our clients.

  * * *

  * generate!
  {:toc}

  * * *

  Focused Expertise: Microsoft Gold Certified PPM Partner
  -------------------------------------------------------

  ![Microsoft Gold Certified Partner](/pix/Cert_GoldPrt_gold.jpg){.inlineImage}

  As a Microsoft&reg; Gold Certified PPM Partner headquartered in the Pacific Northwest, Advisicon is uniquely qualified to help your organization implement Microsoft&reg; Project, Microsoft&reg; Project Server or Project Online. Gold Certified partners are required to meet standards set by Microsoft in areas including: certification, services offered, and customer satisfaction. We specialize in clients located in United States, Canada and Latin America.

  ![Microsoft Most Valuable Professional](/pix/MVPLogo.png){.inlineImage}
  ![Microsoft MCP Logo](/pix/MCPLogo.jpg){.inlineImage}

  Advisicon's President, Tim Runcie and Advisicon's Director/Senior Consultant, Cindy Lewis are two of the less than sixty Microsoft&reg; Project Most Valuable Professionals (MVPs) in the world. This is an award given by Microsoft to recognize contributions in the specialty of Project. They are authors of multiple books and articles on the effective use of Microsoft&reg; Project, Project Server/Project Online, and project management methodologies. Our Project MVPs are frequent speakers at conferences and project management events sharing their knowledge with organizations utilizing the PPM solution.  
  
  Advisicon's consultants offer you expertise in the implementation, configuration, customization, training and use of Project technologies and hold related credentials including: Microsoft Certified Technology Specialist (MCTS), Microsoft Specialist (MS), Microsoft Certified Trainer (MCT), Most Valuable Professional (MVP), and Virtual Technical Sales Professional (V-TSP). 
  

  Microsoft&reg; Project Consulting {#consulting}
  ----------------------------------------

  Advisicon helps organizations use Microsoft&reg; Project to manage their projects more effectively through optimization, training in project management best practices, project management process development, and template customization. Advisicon consultants deliver this deep expertise to our clients to help them implement Microsoft&reg; Project technologies more effectively to deliver sustained results.
  
  One of our keys to success is that we match project management methodologies and maturity levels with the appropriate features in the software. We can recommend which feature to implement now or later based on or our client's current situation and level of Project Management Maturity. 

  Microsoft&reg; Project Training {#training}
  --------------------------------------

  Microsoft&reg; Project is one of the top project scheduling tools in the world. Advisicon delivers hands-on, consultative training to users of Microsoft&reg; Project. We go far beyond simple keystroke training, and teach users:

  * Best practices
  * How to avoid common pitfalls and mistakes
  * How to use Microsoft&reg; Project to create and manage project schedules 
    effectively
  * Professional tips and tricks that will save you hours and days of 
    frustration

  Advisicon's training gives users useful tools, tips and tricks to make working with Microsoft&reg; Project more predictable, enjoyable and productive. For our customers who implement Project Server solutions, our training is delivered via job role to be most effective. For examples of our books, please visit our store.

  
  Microsoft&reg; Project Scheduling Services {#scheduling-services}
  -----------------------------------------

  Advisicon offers clients professional Microsoft&reg; Project scheduling services. Our professional project schedulers can help support your project managers and teams by building, updating, integrating, and maintaining your project schedules, this aids your project managers and teams so they can stay focused on delivering your projects. [Contact us][contact] to learn more.

  Microsoft&reg; Project Installation/Configuration Services
  ----------------------------------------------------------

  ![Microsoft EPM Logo](/pix/MS_EPM_Logo.png){.inlineImage}

  Advisicon's integrated Microsoft&reg; Project Server PPM system delivers targeted, sustained results in critical business areas:

  * Project resource and schedule visibility 
  * Enterprise-wide project collaboration 
  * Project schedule management 
  * Project resource management 
  * Stakeholder management 
  * Communication management 
  * Milestone management 
  * Deliverable management 
  * Risk and Issue management 
  * Key business metrics analysis and project reporting 
  * Centralized project data and document management and reporting 

  Following detailed requirements gathering sessions, Advisicon consultants can recommend and deploy the Project software that best meets our client's needs. Our deployment goes way beyond the "get it running," we tailor each software component to give our clients a solution that supports a robust project management methodology. 

  Our keys to success include:

  * Full installation or shared installation services which illustrate our 
    years of experience deploying Project
  * Phased configuration and deployment services for clients who wish to grow 
    their solution
  * Knowledge transfer sessions to impart what we have developed and learned 
    throughout the process to our clients so they can continue without us and 
    support their internal needs
  * Staying on top of the latest service packs, bug fixes, and technical 
    knowledge so we can provide instant answers to our customers about feature 
    nuances 
  * Ongoing server maintenance and auditing services for customers who want to 
    outsource their IT functions

 
  Microsoft&reg; Project Portfolio Management Services
  ----------------------------------------------------
  
  Increasingly our clients are asking for technology to help drive business decisions. Project Server/Project Online offers a full range of portfolio management features including:
  
  *	Mapping of business drivers to projects
  *	C-level customized portfolios
  *	Analysis of resources, planned benefits, and budget required

  We take customers from zero use of project selection to full implementation of a strong portfolio analysis system which helps analyze business situations such as:

  *	Impact of adding a compliance project
  *	Impact of an increase or decrease in the budget
  *	Finding ways to cut projects that do not greatly impact the benefits of the portfolio
  *	Determining when hiring a strategic resource will provide the most value

  Advisicon's consultants specialize in Portfolio Management services and even have experience in other related industry products to help give our customers the best solution possible.


  Microsoft&reg; Project Custom Development and Integration Services {#custom-development-and-integration}
  ------------------------------------------------------------------

  In addition to helping clients configure and implement Microsoft&reg; Project solutions, Advisicon delivers a full range of custom development services which include:
 
  *	Custom workflows 
  *	Custom forms, views, tables, reports 
  *	Custom integration with other systems 
  *	SQL integration and development 
  *	Business intelligence reporting and executive dashboards