title: Online Classes
keywords: Online, class, course, PMP exam, Practical Project Management
description: About Advisicon&rsquo;s online class offerings.
layout: default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}




  Online Classes
  ==============

  Short on time, but still want to learn?

  Often it is not feasible for you to leave your desk for an afternoon, let 
  alone an entire day or two. Advisicon now offers online training, allowing 
  you to continue investing in your project management knowledge base, while 
  not interfering with your on-going responsibilities. These courses are 
  offered in shorter consecutive sessions (e.g., 2 hour sessions for 5 
  consecutive days) to accommodate the demands of a daily job.

  Interactive and engaging, our online courses are designed for you to learn 
  practical material that you can put to use immediately.
  
  * * *

  * generate!
  {:toc}

  * * *
  
  Course Information
  ------------------

  ### [PMP Exam (4th Edition) Preparation][PMP_prep-course]
  <div markdown="1" class="showcaseItem">
    [![PMP Prep Course](/pix/PMPExamPrepBkLogo-mini.jpg)][PMP_prep-course]
    
    This course teaches from the book, [The PMP Exam: How to
    Pass on the First Try, 4th Edition][PMP_prep-book], by Andy Crowe. This course 
    prepares you to take and pass the Project Management Professional 
    certification exam from the Project Management Institute, and includes in 
    depth study of PMI's Framework of knowledge areas, process groups and 
    individual process, as well as exam tips and tricks for taking and passing 
    the exam.
    {.courseDesc}

    Tuition incudes: [The PMP Exam: How to Pass on the First Try, 
    4th Edition][PMP_prep-book], by Andy Crowe.
  </div>

  ### [Practical Project Management][PPM-course]
  <div markdown="1" class="showcaseItem">
    [![Practical Project Management](/pix/Cover-PPM.jpg)][PPM-course]
    
    Learn how to manage projects from initiation to close-out. This practical 
    course teaches participants how to successfully initiate, plan, execute, 
    control and close-out projects applying industry accepted project management 
    best practices.

    Students will learn project management concepts, helpful standard terminology, 
    efficient project management process development, application of effective 
    project management tools, and established project management methods based 
    on the Project Management Institute PMBOK.
    {.courseDesc}

    Tuition includes: Practical Project Management Course Manual, Tools and 
    Templates CD, and the [Project Management Lifecycle flowchart][PML-flowchart].
  </div>
