title: Our Certifications
keywords: Microsoft Partner, Gold Certification, Project and Portfolio Management, Silver Certification, Midmarket Solution Provider
description: About Advisicon&rsquo;s Microsoft Partner certifications.
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  [1]: #project-and-portfolio-management "about our gold Project and Portfolio Management competency"
  [2]: #midmarket-solution-provider "about our silver Midmarket Solution Provider competency"





  Microsoft Certified Partner
  ===========================
  
  Advisicon is a [Microsoft Certified Partner][Pinpoint] -- Microsoft's highest 
  partner ranking -- with gold competency in [Project and Portfolio Management][1] 
  and silver competency in [Midmarket Solution Provider][2].

  Advisicon has extensive experience developing, configuring, and deploying 
  Microsoft Office Project Server solutions designed with the customer in mind. 
  Advisicon brings business strategy, management consulting and industry 
  experience to each client relationship, while Microsoft contributes 
  industry-leading products and services.
  
  Microsoft partners must have two things:
  <dl>
    <div class="definitionItem">
      <dt>Demonstrated Competencies</dt>
        <dd markdown="1">
          Advisicon's team members have demonstrated their 
          technical and methodological knowledge and aptitude by earning 
          Microsoft Certified Professional certifications for designing, 
          delivering and supporting Microsoft Office Project and Project 
          Server 2003 and 2007.
        </dd>
    </div>
    <div class="definitionItem">  
    <dt>Client References</dt>
      <dd markdown="1">
        Advisicon's clients have testified to the quality and depth of the 
        services and solutions that Advisicon has delivered to them. Advisicon 
        has delivered enough solutions and satisfied customers that Microsoft 
        has recognized our value as a Gold Certified Partner.
      </dd>
    </div>
  </dl>
  
  With our Microsoft partnership and skilled team, we enable our customers to 
  achieve their business goals by helping them to build a project management 
  culture.

  The results? Innovative solutions designed to address specific business 
  problems. We use a combination of training, team continuity and collaboration 
  to provide:
  <dl>
    <div class="definitionItem">  
    <dt>Optimization</dt>
      <dd markdown="1">
        Consultants who understand project management processes and best 
        practices, organization and business challenges, and who can deploy and 
        optimize your use of Microsoft technology to enable you to achieve your 
        strategic business objectives.
      </dd>
    </div>
    <div class="definitionItem">  
    <dt>Value</dt>
      <dd markdown="1">
        Solutions that are adapted for Microsoft's .NET framework, which 
        provides a platform that reduces your total cost of ownership and a 
        common platform to support many solutions.
      </dd>
    </div>
    <div class="definitionItem">  
    <dt>Knowledge Transfer</dt>
      <dd markdown="1">
        Training that empowers your users to leverage best-of-class project 
        management technologies to collaborate, manage and deliver projects 
        more successfully.
      </dd>
    </div>
    <div class="definitionItem">  
    <dt>Sustained Results</dt>
      <dd markdown="1">
        Advisicon's clients experience increased facility and efficiency with 
        their project management tools, lower project management costs, and 
        process improvements for lasting results.
      </dd>
    </div>
  </dl>
  
  View our [case studies][case-studies] for a sample of Advisicon's Microsoft 
  solutions.

  Gold Competency: Project and Portfolio Management                           {#project-and-portfolio-management}
  -------------------------------------------------

  By maintaining our high level of competencies, our customers are assured that 
  they have access to consultants proven to understand the technology and 
  methodology of project portfolio management.

  Our gold competency in project and portfolio management shows our dedication 
  to continuous improvements in the field of PPM so that we can deliver the 
  highest quality of service to our customers.

  Silver Competency: Midmarket Solution provider                              {#midmarket-solution-provider}
  ----------------------------------------------

  Our silver competency as a midmarket solution provider illustrates our 
  technical knowledge to deliver the best fitting solution for our customers 
  to relieve current pain points and in creating future scalability to grow 
  with the solution. We have foresight into how the solution works along the 
  project management maturity scale.

  By having both technical certifications (MCTSs, MCPs, MVPs, and MCITPs) and 
  methodology certifications (PMPs and PMI-SPs) our consultant team is better 
  prepared to deliver an end to end solution bridging the gap between 
  methodology and technology for a unified and holistic approach to project 
  portfolio management.
