title: Partners &amp; Affliates
keywords: Partners, Affiliates, Microsoft, Bemo, Dell, PMI, Project Management Institute, Safran, Synergy Business Solutions, Automation Alley, Auxilium, Centergy Group, Cumulus, Rapid Innovation, Synergy Professional Services, TekSystems
description: Advisicon&rsquo;s partners and affiliates.
layout: default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  Partners & Affiliates
  =====================

  
  Our Partners                                                                {#partners}
  ------------

  <div class="showcaseItem" markdown="1">

  ### [Microsoft][Pinpoint] ###

  ![Microsoft's Logo](/pix/case-studies/Microsoft-logo.png)

  Advisicon is a [Microsoft Gold Certified Partner][Pinpoint] -- Microsoft's 
  highest partner ranking!

  Advisicon offers our clients extensive experience developing, configuring, 
  and deploying Microsoft Office Project Server solutions designed with the 
  customer in mind. Advisicon brings expert PPM consulting and industry 
  experience to each client relationship.

  Learn more about [the benefits of working with a Microsoft Gold Certified Partner][certifications].  

  </div>

  <div class="showcaseItem" markdown="1">

  ### [BeMo][Bemo] ###
  
  [![BeMo logo](/pix/partners/BeMo_logo_160x80T.gif)][Bemo]

  BeMo, a Microsoft Gold Certified Partner, is a premier Software as a Service (SaaS) provider specializing in Hosted Project Portfolio Management (PPM) and Hosted Unified Communication and Collaboration (UCC) solutions built on Microsoft SharePoint, Project Server, Office 365, Exchange, and Lync Server with Enterprise Voice. We deliver cost-effective enterprise-grade hosted services for small to Fortune 500 companies from 15 data center locations around the world with no setup fee, no activation fee and no long term commitment.

  </div>
  
  Affiliates                                                                  {#affiliates}
  ----------

  Advisicon provides consulting support work in project, program, and portfolio 
  management tools and technologies for the following organizations.

  <div class="showcaseItem" markdown="1">
  
  ### [Synergy Business Solutions](http://www.synergybusiness.com/ 'Synergy Business Solutions website') ###

  ![Synergy Business Solutions](/pix/prtnr_synergy.png)

  Synergy Business Solutions delivers integrated accounting and financial 
  management solutions to project-driven organizations by implementing Microsoft 
  Dynamics SL. Advisicon partners with Synergy to deliver integrations of 
  Microsoft Dynamics SL with Microsoft Office Project Server, allowing 
  organizations to integrate their accounting and project management data and 
  processes.

  </div>

  <div class="showcaseItem" markdown="1">
 
  ### [CMCS](http://www.cmcs.co/ 'CMCS website') ###

  ![CMCS](/pix/logos/cmcs-logo.png)

  CMCS provides sustainable integrated 360-degree PPM solutions for project-based 
  organizations. They Create Value Through Project Portfolio Management Excellence 
  by developing policies and procedures that promotes best practices, governance, 
  performance measurement and knowledge management coupled with role-based 
  training that is aligned with internationally recognized certifications as 
  well as implementing world-leading collaborative web-based project management 
  information systems. CMCS enables their clients in taking ownership of their 
  PPM solutions by setting, rolling and staffing their PMO. In addition, CMCS 
  offers planning and scheduling, delay and extension of time analysis, cost 
  estimating and database buildup, earned value and performance management, 
  risk analysis workshops, interface management, document control and other 
  project control services.
 
  </div>
 
  <div class="showcaseItem" markdown="1">

  ### [Planview](http://www.planview.com 'Planview website') ###

  ![Planview](/pix/logos/planview-logo.png)

  Planview helps enterprises drive innovation, become more agile and efficient, 
  and improve their business performance. For more than 20 years, leading 
  organizations have been making better decisions using our solutions to optimize 
  the planning and execution of their business strategy. As the market leader 
  in portfolio management, Planview combines a passion for customer success 
  with a commitment to innovation and thought leadership. Throughout the 
  enterprise, Planview's customers use portfolio management to capitalize on 
  business opportunities and thrive in a dynamic, global economy. For more 
  information, visit [http://www.planview.com](http://www.planview.com). Follow 
  Planview on Twitter: @Planview.
  
  </div>

  <div class="showcaseItem" markdown="1">

  ### [Matan](http://matan-consulting.com 'Matan website') ###

  ![Matan](/pix/prtnr_matan.png)

  Matan is a leading Enterprise Program and Project Management Company and 
  Microsoft Gold partner. Matan is recognized for its add-on software that 
  complement MS Project and enhanced overall PPM solutions. The solutions 
  incorporate Matan's broad business understanding, vast hand on experience and
  proven ability in implementation technological solutions.

  Matan partner with Advisicon to offer their EPM solutions in the US and 
  South America.
  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [Cumulus](http://www.cumulusllc.com/ 'Cumulus website') ###

  ![Cumulus](/pix/prtnr_cumulus.png)

  Cumulus offers advanced consulting on organizational metrics and communications. 
  Advisicon partners with Cumulus when our clients require organizational 
  consulting and training services around balanced scorecard development and 
  practices.

  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [Rapid Innovation](http://www.rapidinnovation.com/ 'Rapid Innovation website') ###

  ![Rapid Innovation](/pix/prtnr_rapid.png)

  Rapid Innovation specializes in delivering organizational development services 
  and training around the product development lifecycle, product innovation, and 
  product development management practices. Advisicon partners with Rapid 
  Innovation when our clients need consulting on their product development 
  lifecycle, product innovation, and product development management practices.

  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [Synergy Professional Services](http://www.spspro.com/ 'Synergy Professional Services website') ###

  ![Synergy Professional Services](/pix/prtnr_synergylogofinal.png)

  Advisicon partners with Jeff Oltmann and Synergy Professional Services to 
  deliver project, program and portfolio management organizational development 
  and training services.

  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [TekSystems](http://www.teksystems.com/ 'TekSystems website') ###

  ![TekSystems](/pix/prtnr_tek.png)

  Advisicon partners with TekSystems as a sub-contractor/vendor. Advisicon 
  delivers training and consulting services to TekSystems clients that are 
  using WSS, MOSS, Microsoft Office Project and Project Server, or that are 
  seeking to improve their project management practices. Clients that have 
  established contracts with TekSystems may contract for any Advisicon 
  training courses through TekSystems.

  </div>


  #{render_partial 'partials/footnotes'}
