title: Professional Associations
keywords: professional associations, commuities of practice, pmi, project management institute, program management forum, MPuG, Microsoft Project user Group
description: Professional associations Advisicon associates with.
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  Professional Associations
  =========================

  Advisicon's consultants are active in a number of professional associations 
  and communities of practice. We share knowledge, strengthen relationships, 
  and help professional practitioners build project management best practices 
  in their cultures.

  Organizations We Lead
  ---------------------

  We play a leading role in a number of organizations. In some, we are just 
  extremely active members. In others, Advisicon members hold positions on the 
  Board of Directors or have hosted events.
  
  <div class="showcaseItem" markdown="1">
  
  ### Project Management Institute&reg;[^pmi-extended][^pmi-logo] ###

  [![Project Management Institute](/pix/logos/PMI-logo.png){: border="0"}](http://www.pmi.org/ "PMI's website")
  
  Advisicon's team members are active in PMI at a number of levels. Advisicon 
  frequently provides speakers for the Portland, Willamette Valley, Bend, 
  Western Michigan, Michigan Capital Area, Great Lakes, and Mexico City chapters. 
  Our team has also presented at PMI national and global events. Advisicon's 
  trainers are PMP&reg;[^pmp] certified.

  </div>

  <div class="showcaseItem" markdown="1">

  ### Microsoft Project User Group ###

  [![Microsoft Project User Group](/pix/mpuglogo.jpg)](http://www.mpug.com/ "MPuG's website")
    
  Advisicon's employees are members, speakers, and authors for this organization.

  </div>
  
  Proud Involvement
  -----------------

  Advisicon team members also attend, support, and present to numerous local 
  and national organizations such as:

  * Scheduling Community of Practice 
    ([SCoP](http://scheduling.vc.pmi.org/ "PMI Scheduling Community of Practice website"))
  * American Society for Training & Development 
    ([ASTD](http://www.astd.org/ "American Society for Training &amp; Development website"))

  #{render_partial 'partials/footnotes'} 