title: Project Management
keywords: Project Management, Program Management, Portfolio Management, Consulting, Training, Scheduling Services, Administration, Assessments, Project Management Office, PMO, Microsoft Office Project, Microsoft Project Server, Microsoft SharePoint, PMI, Project Management Institute
description: How Advisicon approaches Project, Program, and Portfolio Management consulting and training
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Project, Program, and Portfolio Management Services
  ===================================================

  Advisicon delivers professional best practices-based project management, 
  program management, and portfolio management consulting and training services 
  to clients throughout North and Latin America.

  * [Project Management consulting and training](#consulting-and-training "skip ahead to learn about our PM consulting and training")
  * [Project Management scheduling services and administration](#scheduling-services-and-administration "skip ahead to learn about our PM scheduling services")
  * [Project Management Assessments and Project Management Consulting](#assesments-and-consulting "skip ahead to learn about our PM assesments and consulting")
  * [Project Management Office Consulting](#PMO-consulting "skip ahead to learn about our PMO consulting")
  * [Project Management Office Integration Using Microsoft&reg; Office Project and Microsoft&reg; Project Server](#microsoft-project-and-project-server "skip ahead to learn about Project and Project Server for PMOs")
  * [PMO Integration Using Microsoft&reg; SharePoint](#microsoft-sharepoint "skip ahead to learn about SharePoint for PMOs")

  Project Management Consulting and Training                                  {#consulting-and-training}
  ------------------------------------------

  Advisicon's certified consultants and trainers understand your project 
  management goals and challenges. Through our hands-on project management 
  consulting we can help you improve your project management practices with 
  practical solutions based on professional project management best practices 
  and assist in the development of solid project management processes.

  * Project Management Process Development
  * Project Management Tools and Template
  * Training and Coaching

  Advisicon's dynamic, consultative approach to training ensures that 
  participants understand the concepts and best practices of project management 
  methodology, and know how to put them into practice. Advisicon delivers 
  customized, consultative instructor-led project management training using our 
  own course manuals, process flowchart, and electronic tools, and templates 
  that we have developed to give your organization the project management tools 
  to ensure maximum knowledge transfer.

  Learn more about Advisicon's [practical, dynamic project management training][PPM-course].
  
  <div class="showcaseItem" markdown="1">

  ### Practical Project Management ###
  
  [![Practical Project Management](/pix/cover-ppm.jpg){: width=150px height=194px}][PPM-course]
  
  Learn how to manage projects from initiation to close-out. This practical 
  course teaches participants how to successfully initiate, plan, execute, 
  control and close-out projects applying industry project management best 
  practices. Students will learn project management concepts, helpful standard 
  terminology, efficient project management process development, application 
  of effective project management tools, and established project management 
  methods based on the Project Management Institute Project Management Body of 
  Knowledge.

  Available in 1, 2, and 3-day configurations.

  </div>
  
  <div class="showcaseItem" markdown="1">
  
  ### Mastering Requirements Gathering ###

  [![Mastering Requirements Gathering](/pix/cover-MRG.jpg){: width=150px height=194px}][MRG-course]
  
  Learn how to gather and manage project requirements successfully. This course 
  teaches participants how to elicit, characterize, document, analyze, validate, 
  verify and manage requirements for new projects, products and services. 
  Participants will learn how to define and document high-level business 
  requirements, identify user classes and representatives, select elicitation 
  techniques, differentiate and prioritize functional and non-functional 
  requirements from users, identify business rules, and how to review and verify 
  project requirements with stakeholders.

  Available in 1 and  2-day configurations.

  </div>

  Project Management, Project Administration, and Project Scheduling Services {#scheduling-services-and-administration}
  ---------------------------------------------------------------------------

  Advisicon offers clients professional project management, project administration, 
  and project scheduling services. Our professional project managers, project 
  administrators, and project schedulers can help support your project managers 
  and project teams. Let our project management professionals maintain your 
  project's administrative tasks. Our project schedulers, especially 
  knowledgeable with Microsoft&reg; Project scheduling, can assist your team by 
  building, updating, integrating, and maintaining your project schedules, so 
  your personnel can stay focused on your projects.

  [Contact Us to Learn More][contact]

  Project Management Assessment and Project Management Consulting             {#assesments-and-consulting}
  ---------------------------------------------------------------
  
  Advisicon can help you by assessing your project management processes and 
  personnel, PMO, and project tools. Advisicon uses OPM3&reg;[^opm3] and other 
  standard project management assessment tools, as well as customized project 
  management assessments based on your needs and goals.

  Advisicon offers you expert guidance, resources, and project management 
  consulting to help you develop your project management processes, personnel, 
  tools, and project management culture.
  
  Project Management Office Consulting                                        {#PMO-consulting}
  ------------------------------------

  Advisicon helps clients develop and implement both tactical and strategic PMOs. 
  From developing and applying project management best practices, templates, 
  tools, and standard processes to aligning projects, programs, and portfolios 
  with organizational priorities, Advisicon can help your Project Management 
  Office achieve its objectives.

  Advisicon has helped many clients develop and implement standardized project 
  management methodologies, including effective project management process 
  development, that are beneficial assets to their organizational culture and 
  allow them to grow from one level of project management maturity to the next.

  [Learn how Advisicon has helped clients][case-studies] develop their Project 
  Management Offices to guide their projects and teams to deliver consistent, 
  successful projects.

  Project Management Office Integration Using Microsoft&reg; Office Project & Microsoft&reg; Project Server                                                                      {#microsoft-project-and-project-server}
  ----------------------------------------------------------------------------

  Growing numbers of leaders are leveraging the power of EPM applications to 
  enable them to quickly view and monitor the progress of their strategic 
  initiatives and projects across their whole enterprise. The level of business 
  analysis required to do Project Portfolio Management effectively requires 
  advanced tools.

  The technologies developed to support Project Portfolio Management are 
  referred to as Enterprise Project Management or Enterprise Portfolio Management 
  applications, or EPM. EPM technology delivers real business intelligence to 
  support and direct decision-making and management... far beyond what has been 
  possible in the past. EPM is a rapidly growing area of business technology 
  and the results are real.

  * Align projects with strategic business objectives
  * Measure projects contributions to strategice busienss objectives
  * Plan, budget and deliver projects consistently... and successfully
  * View and track all project resources, tasks, activities, and milestones

  ### Do you want to integrate your PMO with Microsoft&reg; Office Project and Microsoft&reg; Project Server? ###

  Advisicon is uniquely qualified to help you!
  
  As Microsoft's only Gold Certified Enterprise Project Management Partner in 
  the Pacific Northwest, Advisicon helps organizations develop Enterprise 
  Project Management solutions by effectively utilizing project management 
  technologies, such as Microsoft&reg; Office Project and Microsoft&reg; Project 
  Server 2007.

  Advisicon delivers integrated Microsoft&reg; Project Server enterprise project 
  management and enterprise portfolio management implementations to deliver 
  targeted, sustained results:

  * Enterprise-wide project resource and schedule visibility
  * Enterprise-wide project collaboration
  * Key business metrics analysis and reporting
  * Centralized project data management and project management reporting
  * Management dashboards with KPIs

  Advisicon specializes in implementing Microsoft&reg; Project Server. Advisicon's 
  Microsoft&reg; certified consultants deliver this deep expertise to our clients 
  and help them use this powerful EPM solution to deliver sustained results. 
  Advisicon's EPM solution delivery process is designed to provide immediate 
  and measurable results for organizations. Advisicon's effective and efficient 
  implementation of EPM solutions includes the installation, configuration and 
  customization of appropriate tools:

  * Microsoft&reg; Office Project
  * Microsoft&reg; Office Project Server
  * Microsoft&reg; Windows SharePoint Services
  * Microsoft&reg; Office SharePoint Server
  * Custom Web Parts

  Advisicon delivers expert, consultative role-based training for four standard 
  project contributor roles:
  
  1. Project Managers and Resource Managers
  2. Team Members
  3. Executives and Portfolio Managers
  4. System Administrators
  
  [Learn More](/microsoft-project-office.htm "learn how we approach Microsoft Office Project and Project Server Consulting and Training")

  Project Management Office Integration Using Microsoft&reg; SharePoint       {#microsoft-sharepoint}
  ---------------------------------------------------------------------

  Advisicon helps organizations develop project management solutions and EPM 
  solutions using Microsoft&reg; Windows SharePoint Services and/or Microsoft&reg; 
  Office SharePoint Server 2007.

  Advisicon's Project Management Microsoft&reg; SharePoint solutions are 
  customized and designed to provide immediate and measurable results for all 
  levels of organizations.

  [Learn More](/sharepoint.htm "learn about our SharePoint solutions")

  #{render_partial 'partials/footnotes'}

