title: Project Conference Landing Page
keywords: Microsoft, Project Conference 2014, Cindy Lewis, Tim Runcie
description: ADD DESCRIPTION
employee_name: 
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Project Conference Landing Page
  ===============================


  Cindy Lewis, PMP, PMI-SP, MS, MCTS, MCT, MVP
  --------------------------------------------

  ### Three Approaches to Managing Operational Work in the Portfolio of Projects ### 

  Date: Monday, February 3 
  Time: 11:15 AM - 12:30 PM
  Room: 201 C    
   
  Customers frequently struggle with the best approach to manage operational 
  work while maintaining the integrity and details of their project work. 
  Operational work can include things like vacation time, sick time, training, 
  or general projects that keep the business functioning such as building 
  maintenance or computer server maintenance. During the demonstration, 
  participants will learn about 3 distinct approaches and their advantages 
  and disadvantages for businesses. While not revealing confidential 
  information, this presentation will showcase the struggle an estimated 15 
  Project Online/Project Server customers went through and how they decided 
  upon their approach.  There is certainly a give and take in regards to 
  effort to set up and support different approaches. Some important 
  considerations that will be addressed include operational planning by 
  executives, PMs, resource managers, and team members and how responsibility 
  for different levels of detail can be handed out. This presentation will 
  include mapping of features to PMI PMBOK[^pmbok] methodology and how specific 
  features can address business needs related to scope management, rolling 
  wave planning, agile methodology, and progressive elaboration. In keeping 
  with the need to report to executives, attendees will learn how these 
  approaches affect the portfolio analysis or other portfolio views and how 
  executives or PMO staff can drive decision making that truly includes all 
  the work of the business.

  [Download PPT]() [Bonus BLOG!]()
 
  ### ROI: Accelerating your time to value with Project Online ###
  
  Date: Wednesday, February 5 
  Time: 10:30 AM - 11:45 AM
  Room: 202 AB    
   
  Get on the fast track to multiplying business value with Project Online. 
  Economic justification and an analysis of both concrete and qualitative 
  savings will be explored. Tad and Cindy will take a fun fresh look at this 
  important trend and topic.
    
  [Download PPT]()   [Supplemental Reading List]()
         
  #### Reach Cindy @ Conf ####

  Twitter – LinkedIn – Blog
  E-mail: Cindy.Lewis@advisicon.com
  Phone: 616.446.8569



  Tim Runcie, PMP, MCP, MCTS, V-TSP, MVP
  --------------------------------------

  ### Development World Meets Project Management. Leveraging Project Server with Team Foundation Server ###

  Date: Monday, February 3
  Time: 2:00 PM - 3:15 PM
  Room: 201 A    
   
  In most organizations capturing and managing details within agile or 
  development teams proves difficult for project managers.  In many cases 
  development teams use other tools, including Visual Studio or Team Foundation 
  Server (TFS) to manage tasks, check in code and work in development sprints, 
  features, testing and quality assurance activities.
     
  There is a connector that brings the details being managed by development 
  teams to a Project or allows for project details to be loaded into Team 
  Foundation server.  This allows a project organization to sync and manage 
  development activities, without the need for PMs to mine data in a development 
  system or developers to have to go and manage tasks in Project Online or MS 
  Project.
       
  By leveraging this connector, you can have the best of both worlds and ensure 
  that good demand and capacity planning is leveraged with Project or Project 
  Online, while keeping your technical teams focussed in the environment they 
  are familiar with.
         
  [Download PPT]()
           
  #### Reach Tim @ Conf #### 
    
  E-mail: Tim.Runcie@advisicon.com
  Phone: 503.799.5343

  #{render_partial 'partials/footnotes'}

