title: SharePoint
keywords: Microsoft, SharePoint, Training, Deployment, Customization
description: About Advisicon's Microsoft SharePoint training, deployment, and customization
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:textile
  
  #{render_partial '/partials/references_books'}

  [1]#training
  [2]#intranet
  [3]#extranet
  [4]#content-management
  [5]#forms-and-integration
  [6]#branding
  [7]#pmos
  [8]#outsourcing


  h1. Microsoft(r) SharePoint Solutions

  At Advisicon, we understand the need for balancing technology and culture to find the right balance of productivity and optimization. We have been helping organizations leverage SharePoint since 2002 to support growing Project, Program and Portfolio management needs. We effectively address the need of collaboration, business 
  intelligence and Data Driven Diagrams.

  Advisicon helps organizations, deploy, configure and roll-out SharePoint. However, we don't just install the technology, we instil knowledge into your resources best practices on how to care, maintain and scale this technology based upon your organizational needs. Many of our customers, leverage SharePoint as a business intelligence repository and central hub for dashboards and collaboration. This enables teams and senior stakeholders to view key metrics and make business decisions from centralized information.

  Advisicon provides end-to-end Microsoft(r) SharePoint consulting services in all versions of SharePoint, including O365. Whether it be SharePoint Online or on premise, we can assist with installation, configuration, work-flow automation and deployment. In addition, we are experts in developing powerful dashboards, reports and centralized scalable solutions that are integrated with other external applications, like SAP and ERP(Enterprise Resource Planning) systems.

  Advisicon Microsoft(r) SharePoint Services:

  * Existing or Future Needs Assessment
  * Implementation & Optimization Assessment
  * Migration
  * Deployment
  * Design
  * Hosting
  * "User Training":1
  * Administrator (Farm or Site Admin) Training
  * Power User or End User Training
  * Business Intelligence Report Development Training
  * Web Part Development
  * Search Solutions
  * Application Integration
  * "Intranet Enterprise Portal Development":2
  * "Extranet Design and Deployment":3
  * "Content Management":4
  * "Business Forms and Integration Services":5
  * "Branding Services":6
  * "Project Management Offices using SharePoint":7
  * "Out-sourced Microsoft(r) SharePoint Administration":8

  Our trainers and consultants can develop customized solutions for your Organization, integrating with or entirely based on Microsoft(r) SharePoint or Microsoft Technologies. We provide specific out-of-the-box configuration, as well as deployment of custom modules and Web Parts to meet specific business requirements.

  Advisicon has leveraged our expertise in project management to develop Microsoft(r) SharePoint-based EPM/PPM solutions, including project team worksites, program management sites, and integrations. We utilize Microsoft(r) Project and Microsoft(r) Project Server/Online, to support your PMO(Project Management Office) and project teams.


  h2(#pmos). Project Management Offices using Microsoft(r) SharePoint

  Advisicon has developed a number of Microsoft(r) SharePoint solutions specifically to support project management practices, teams and organizations. This includes project team worksites, program management, PMO sites, and integrations with Microsoft(r) Project and Microsoft(r) Project Server/Online, to specifically support your PMOs and project teams:

  * Create custom project workspaces and templates to facilitate collaboration between both co-located and distributed project teams
  * Embedded Charts, Graphs and Work-flow Automation associated to deliverables
  * Develop sites for Project Management Offices to share templates, standards, policies, procedures, and documents
  * Integrate Microsoft(r) SharePoint with Microsoft(r) Project and Microsoft(r) Project Server to enable enterprise-wide visibility and control of projects, project data, reporting, dashboards, and communications

  Advisicon's project management solutions can help your organization be more efficient, organized, and productive. We deploy our customized Microsoft(r) SharePoint consulting and Microsoft(r) SharePoint deployment tools in support of your project teams, strategic PMOs, and organization's objectives.


  h2(#intranet). Intranet Enterprise Portal

  Advisicon is able to develop Microsoft(e) SharePoint portals and sites that enable enterprises to leverage the technology to optimize their operations and decision making:

  * Scaling and managing enterprise portals for large organizations
  * Integrating disparate systems into a single, scalable solution
  * Knowledge base solutions through document repositories and Microsoft SharePoint search

  
  h2(#extranet). Extranet Consulting, Design, and Deployment

  Advisicon can design and implement extranet sites for collaboration with external partners, vendors and customers:
      
  * Defining overall strategy and requirements
  * Implementing security policies based on business needs
  * Configuring authentication for external access
  * Design, development and deployment of extranet portals
  * Providing tools for easy administration

  
  h2(#content-management). Content Management, Organization, and Collaboration

  Advisicon supplies Microsoft(r) SharePoint solutions that enable employees to collaborate, share, publish, manage and retrieve content and communications. Advisicon's Microsoft(r) SharePoint solutions empower teams to collaborate and manage shared documents with increased efficiency and security:

  * Configure Microsoft(r) SharePoint sites to allow organization of content enabling users to navigate and find content in numerous ways
  * Provide control for delivery of content (including audience-based content targeting)
  * Create team sites, collaboration dashboards, best practices and team document and process repositories
  * Develop work-flow integration
  * Facilitate enterprise and organization-wide document collaboration
  * Implementation of Microsoft(r) SharePoint-based Web features:
  ** Managed Data Content
  ** E-Discovery
  ** Blogs, Wiki's and Standards SharePoint Communication WebParts
  ** RSS Feed and Workflow Notifications
  ** Key Performance Indicators (KPI's)
  * Customizations including:
  ** Meeting Workspaces
  ** Record Management
  ** Help Desk Module
  ** Custom Work-flows
  ** Centralized Dashboards & Reporting Solutions


  h2(#forms-and-integration). Business Forms and Integration Services

  Advisicon can help streamline business operations by rapidly and effectively implementing forms-based processes, and customizing Microsoft(r) SharePoint integration with other applications and systems:

  * Design and publication of business forms using standard Web browsers or rich client applications such as Microsoft(r) InfoPath
  * User access control and management
  * Integration with all Microsoft(r) Office Products: Word, Excel, Outlook, PowerPoint, Office 365, Yammer, Exchange
  * Integration with structured systems including databases and other line of business applications
  * Microsoft(r) SharePoint Search and Auditing Reporting and Customization
  * Microsoft(r) SharePoint Integration with search engines: Live Search, Google Search, etc.
  * Development of Microsoft(r) SharePoint My Sites:
  ** Organization Chart Reporting
  ** LinkedIn
  ** Get Recommendation from others
  ** My Documents/Blogs


  h2(#branding). Microsoft(r) SharePoint Branding Services

  Our consultants can provide visual and branding customizations to deliver a unique experience to your Microsoft(r) SharePoint intranet or extranet sites. Our services include:

  * Development of customized themes and branding
  * Implementation of style sheets, templates, and definitions to provide a specific look and feel
  * Administrative control for site managers to control site branding policies


  h2(#training). User and Administrator Training

  Microsoft(r) SharePoint training for users and administrators is one of the most critical keys to any effective Microsoft(r) SharePoint implementation. Advisicon delivers on-site, or online standard or custom Microsoft(r) SharePoint training for users and administrators.

  * On-site, customized Microsoft(r) SharePoint training to meet clients' specific needs and requirements
  * Online workshops and Just-in-Time (JIT) training sessions
  * Advisicon's Microsoft(r) SharePoint training manual
  * Specialized Microsoft(r) SharePoint training to help users learn how to 
    use the many features of Microsoft(r) SharePoint and their organization's 
    implementation, standards, and work-flows
  * Specialized Microsoft(r) SharePoint training to help administrators understand how to support Microsoft(r) SharePoint, troubleshoot issues, and keep Microsoft(r) SharePoint operating smoothly 


  h2(#outsourcing). Out-sourced Microsoft(r) SharePoint Administration

  Advisicon delivers contract Microsoft(r) SharePoint administration and support to organizations that want to focus their IT effort on supporting business functions. Additionally we know that outsourcing application and infrastructure support can be a terrifying thought. Advisicon can support both onsite and hosted Microsoft(r) SharePoint with our knowledge and experience.
