<<<<<<< HEAD
title: SharePoint
keywords: Microsoft, SharePoint, Training, Deployment, Customization
description: About Advisicon&rsquo;s Microsoft SharePoint training, deployment, and customization
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  [1]: #training "skip ahead to learn about the SharePoint training we offer"
  [2]: #intranet "skip ahead to learn about what we can do with SharePoint for Intranet"
  [3]: #extranet "skip ahead to learn about what we can do with SharePoint for Extranet"
  [4]: #content-management "skip ahead to learn about our SharePoint content management solutions"
  [5]: #forms-and-integration "skip ahead to learn about the forms and integrations we can build"
  [6]: #branding "skip ahead to learn about our SharePoint branding"
  [7]: #pmos "skip ahead to learn about how we can improve PMOs with SharePoint"
  [8]: #outsourcing "skip ahead to learn about outsourcing your SharePoint administration to us"

  Microsoft&reg; SharePoint Solutions
  ===================================

  Advisicon trys to help teams, peers, management, partners, vendors and customers 
  collaborate with Microsoft&reg; SharePoint. Microsoft&reg; SharePoint is a 
  web-based collaboration and information management system made by Microsoft&reg; 
  that can be configured to run Intranet, Extranet and Internet sites.

  Advisicon provides end-to-end Microsoft&reg; SharePoint consulting services 
  to companies, from Microsoft&reg; WSS configuration Microsoft&reg; WSS 
  deployment and MOSS, to developing powerful, enterprise Microsoft&reg; 
  SharePoint portals which integrate with other applications.

  Advisicon Microsoft&reg; SharePoint Services:

  * Assessment
  * Migration
  * Deployment
  * Design
  * Hosting
  * [User Training][1]
  * Administrator Training
  * Web Part Development
  * Search Solutions
  * Application Integration
  * [Intranet Enterprise Portal Development][2]
  * [Extranet Design and Deployment][3]
  * [Content Management][4]
  * [Business Forms and Integration Services][5]
  * [Branding Services][6]
  * [Project Management Offices using SharePoint][7]
  * [Out-sourced Microsoft&reg; SharePoint Administration][8]

  Our consultants can develop customized solutions for your organization 
  integrating with or entirely based on Microsoft&reg; Windows SharePoint 
  Services. We provide specific out-of-the-box configuration, as well as 
  deployment of custom modules and Web Parts for meeting specific business 
  requirements.

  Advisicon has leveraged our expertise in project management to develop 
  Microsoft&reg; SharePoint-based EPM solutions, including project team 
  worksites, program management sites, and integrations with Microsoft&reg; 
  Office Project and Microsoft&reg; Project Server, to support your PMOs and 
  project teams.

  Project Management Offices using Microsoft&reg; SharePoint                  { :pmos }
  ----------------------------------------------------------

  Advisicon has developed a number of Microsoft&reg; SharePoint solutions 
  specifically to support project management practices, teams and organizations. 
  Advisicon delivers Microsoft&reg; SharePoint-based project management 
  solutions, including project team worksites, program management sites, and 
  integrations with Microsoft&reg; Office Project and Microsoft&reg; Project 
  Server, to support your PMOs and project teams.

  * Create custom project workspaces and templates to facilitate collaboration 
    between both collocated and distributed project teams
  * Develop sites for Project Management Offices to share templates, standards, 
    policies, procedures, and documents
  * Integrate Microsoft&reg; SharePoint with Microsoft&reg; Project and 
    Microsoft&reg; Project Server to enable enterprise-wide visibility and 
    control of projects, project data, reporting, dashboards, and communications

  Advisicon&rsquo;s project management solutions can help your organization be 
  more efficient, organized, and productive through our customized Microsoft&reg; 
  SharePoint consulting and Microsoft&reg; Sharepoint deployment in support of 
  your project teams, strategic PMOs, and organization&rsquo;s objectives.

  Intranet Enterprise Portal Development                                      { :intranet }
  --------------------------------------

  Advisicon is able to develop Microsoft&reg; SharePoint portals and sites that 
  enable enterprises to leverage Microsoft&reg; SharePoint technology to 
  optimize their operations and decision making:

  * Scaling and managing enterprise portals for large organizations
  * Integrating disparate systems into a single, scalable solution
  * Knowledge base solutions through document repositories and Microsoft&reg; 
    SharePoint search

  Extranet Consulting, Design, and Deployment                                 { :extranet }
  -------------------------------------------

  Advisicon can design and implement extranet sites utilizing WSS 3.0 or MOSS 
  2007 for collaboration with external partners, vendors and customers.
      
  * Defining overall strategy and requirements
  * Implementing security policies based on business needs
  * Configuring forms based authentication for access
  * Design, development and deployment of extranet portals
  * Providing tools for easy administration

  Content Management, Organization, and Collaboration                         { :content-management }
  ---------------------------------------------------

  Advisicon delivers Microsoft&reg; SharePoint solutions that enable employees 
  to collaborate, share, publish, manage and retrieve content and communications 
  quickly and securely. Advisicon's Microsoft&reg; SharePoint solutions empower 
  teams to collaborate and manage shared documents with increased efficiency 
  and security.

  * Configure Microsoft&reg; SharePoint sites to allow organization of content enabling users to navigate and find content in multiple ways
  * Provide control for delivery of content (including audience-based content targeting)
  * Create team sites, collaboration dashboards, best practices and team document and process repositories
  * Develop workflow integration
  * Facilitate enterprise and organization-wide document collaboration
  * Implementation of Microsoft&reg; SharePoint-based Web 2.0 features:
      * Blogs
      * RSS Feed
      * Wiki
      * Discussion Forums
  * Customizations including:
      * Meeting Workspaces
      * Record Management
      * Help Desk Module

  Business Forms and Integration Services                                     { :forms-and-integration }
  ---------------------------------------

  Advisicon can help streamline business operations by rapidly and effectively 
  implementing forms-based processes, and customizing Microsoft&reg; SharePoint 
  integration with other applications and systems.

  * Design and publication of business forms using standard Web browsers or 
    rich client applications such as Microsoft&reg; InfoPath
  * User access control and management
  * MOSS Integration with all Microsoft&reg; Office Products: Word, Excel, 
    Outlook, PowerPoint
  * Integration with structured systems including databases and other line of 
    business applications
  * Microsoft&reg; SharePoint Search and Auditing Reporting and Customization
  * Microsoft&reg; SharePoint Integration with search engines: Live Search, 
    Google Search, etc.
  * Development of Microsoft&reg; SharePoint My Sites:
      * Organization Chart Reporting
      * Linked In
      * Get Recommendation from others
      * My Documents/Blogs

  Microsoft&reg; SharePoint Branding Services                                 { :branding }
  -------------------------------------------

  Our consultants can provide visual and branding customizations to deliver a 
  uniform experience, look and feel to your Microsoft&reg; SharePoint intranet 
  or extranet sites. Our services include:

  * Development of customized themes and branding
  * Implementation of style sheets, templates, and definitions to provide a 
    specific look and feel
  * Administrative control for site managers to control site branding policies

  User and Administrator Training                                             { :training }
  -------------------------------

  Microsoft&reg; SharePoint training for users and administrators is one of the 
  most critical keys to any effective Microsoft&reg; SharePoint implementation. 
  Advisicon delivers on-site, custom Microsoft&reg; SharePoint training for 
  users and administrators who will support the Microsoft&reg; SharePoint 
  environment.

  * On-site, customized Microsoft&reg; SharePoint training to meet clients' 
    specific needs and requirements
  * Advisicon&rsquo;s Microsoft&reg; SharePoint training manual
  * Specialized Microsoft&reg; SharePoint training to help users learn how to 
    use the many features of Microsoft&reg; SharePoint and their organization's 
    implementation, standards, and workflows
  * Specialized Microsoft&reg; SharePoint training to help administrators 
    understand how to support Microsoft&reg; SharePoint, troubleshoot issues, 
    and keep Microsoft&reg; SharePoint operating smoothly and supporting the 
    organization with meeting its business goals and objectives

  Out-sourced Microsoft&reg; SharePoint Administration                        { :outsourcing }
  ----------------------------------------------------

  Advisicon delivers contract Microsoft&reg; SharePoint administration and 
  support to organizations that want to focus their IT effort on supporting 
  business functions and outsource application and infrastructure support. 
  Advisicon can support both onsite and hosted Microsoft&reg; SharePoint 
  implementations.  