title: Advisicon's Strategic Project Control Solution
keywords: project management, portfolio management, consultant, Project, Project Server, training, balanced scorecard, tools, scheduling, Enterprise, EPM, best practices, Microsoft partner, application development, database development
description: 
employee_name: 
layout: base-alt/default.haml
--------------------------------------------------------META

:maruku

  #{ render_partial '/partials/references' }
  #{ render_partial '/partials/glossary' }

  Advisicon's Strategic Project Control Solution
  ==============================================

  **Greater Visibility. Better Control. Increased Accountability. Accurate 
  Forecasting.**
  {: .important }

  What if these competitive advantages were available to your business with 
  minimal intrusion on your business environment? They are!!
  
  Advisicon is Microsoft's only Gold Certified EPM partner specializing in
  **PEOPLE, PROCESS & TECHNOLOGY**
  
  Allow our skilled, certified professionals to guide you to project management 
  maturity. Advisicon's Strategic Project Control Solutions can help keep you 
  competitive in today's complex business environment. Our ability to work with 
  People, Process, and Technology means that your organization can leverage our 
  abilities and expertise where it is needed most.
  
  Based on the Microsoft platform, Advisicon's services provide a Project and 
  Portfolio Management Decision System for your business, that include knowledge 
  transfer (consultative training), technology configuration, and consulting 
  services to deliver results where you need them most. The Microsoft platform 
  is the standard providing this type of functionality and service.


  Increasing maturity results in accumulated benefits
  ---------------------------------------------------

  ![Development Chart](pix/edgecustomgraphic.jpg){: width="100%"}


  ### Profit ###

  - Reduced project costs
  - Reliable estimating
  - Controlled project scope 


  ### Satisfaction ###

  - Repeatable processes 
  - Better communication
  - Improved morale
  
  
  ### Performance ###

  - Improved on-time delivery
  - Reduced duplication of effort
  - Reliable resource forecasting


  ### Strategy ###

  - Alignment with strategic business objectives
  - Scenario planning
  - Successful strategy execution
