title: Training
keywords: training, practical project management, mastering requirements gathering, managing projects with microsoft project, pmp prep course, microsoft project server, sharepoint for effective projec t management, pmi, pmbok, microsoft project office, the pmp exam
description: Advisicon offers several courses for training in Microsoft Project, Project Server, and SharePoint.
layout: default.haml
--------------------------------------------------------META



:maruku
  
  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  [1]: /courses.html#traditional-classroom "Our upcoming public course schedule"
  [2]: /courses.html#meeting-room "about out meeting space"


  Advisicon Training
  ==================

  Advisicon delivers customized, consultative instructor-led project management 
  training based on project management best practices on the following topics 
  using Advisicon's proprietary course manuals, process flowcharts, and 
  electronic tools and templates (on course CD).

  [Instructions maintain your credentials and claim PDUs][claim-pdu]

  Advisicon's highly qualified staff, including MVPs, MCTs, MCPs, PMP&reg;s[^pmp],
  and PMI-SP&reg;s[^pmi-sp], are available for on-site, customized training.

  Our courses can be centered around the specific material you need and want to 
  cover, or we can deliver the courses as outlined below, to your staff.

  [On-site courses][1] can also be scheduled to best meet your organization's 
  timing. Corporate courses can be held at your facility, our [training facility][2], 
  or off-site should you prefer. Corporate courses can be held as a 1-day, 2-day 
  or 3-day class, depending on content. All courses include reference/training 
  manuals for each person.

  For more information and for corporate pricing, please contact us at 
  [courseinfo@Advisicon.com](mailto:courseinfo@Advisicon.com).

  Courses We Offer
  ----------------

  We offer quite a variety of public and private courses. View our [upcoming public courses][courses].

  <div class="showcaseItem" markdown="1">

  ### [Practical Project Management][PPM-course] ###

  [![Practical Project Management book](/pix/classes/advisiconUniveristy-ppm.png){: border="0"}][PPM-course]
  
  Learn how to manage projects from initiation to close-out. This practical 
  course teaches participants how to successfully initiate, plan, execute, 
  control and close-out projects applying industry accepted project management 
  best practices.

  Students will learn project management concepts, helpful standard terminology, 
  efficient project management process development, application of effective 
  project management tools, and established project management methods based 
  on _A Guide to the Project Management Body of Knowledge (PMBOK&reg;[^pmbok] 
  Guide) -- Fifth Edition, Project Management Institute, Inc., 2013_.

  All participants will receive a copy of Advisicon's training manual 
  [Practical Project Management][PPM-book] and utilizes the 
  [Project Management Lifecycle flowchart][PML-flowchart].

  </div>

  <div class="showcaseItem" markdown="1">

  ### [Mastering Requirements Gathering][MRG-course] ###

  [![Mastering Requirements Gathering book](/pix/classes/advisiconUniveristy-mrg.png){: border="0"}][MRG-course]

  Learn how to gather and manage project requirements successfully. This course 
  teaches participants how to elicit, characterize, document, analyze, validate, 
  verify and manage requirements for new projects, products and services.

  Participants will learn how to define and document high-level business 
  requirements, identify user classes and representatives, select elicitation 
  techniques, differentiate and prioritize functional and non-functional 
  requirements from users, identify business rules, and how to review and 
  verify project requirements with stakeholders.

  All participants will receive a copy of Advisicon's training manual
  [Mastering Requirements Gathering][MRG-book] and utilizes the
  [Requirements Gathering &amp; Managing Process][RGMP-flowchart] and 
  [Requirements Gathering in the Project Management Lifecycle][RGPML-flowchart]
  flowcharts.

  </div>

  <div class="showcaseItem" markdown="1">

  ### [Managing Projects with Microsoft&reg; Project 2010][MPwMP-course] ###
  
  [![Managing Projects with Microsoft&reg; Project](/pix/classes/advisiconUniveristy-Project-green.png){: border="0"}][MPwMP-course]

  Learn how to use Microsoft&reg; Project 2010 to build, optimize and manage 
  project schedules. This course teaches participants how to use Microsoft&reg; 
  Project 2010 to successfully create, track, manage and modify project schedules 
  and resource pools.

  Participants will learn how to apply best practices, tips and tricks to 
  planning, executing, and managing projects with Microsoft&reg; Project 2010.

  All participants will receive a copy of Advisicon's training manual 
  [Managing Projects with Microsoft Project 2010][MPwMP2010-book].

  </div>

  <div class="showcaseItem" markdown="1">

  ### [PMP Prep Course][PMP_prep-course] ###

  [![PMP Prep Course](/pix/classes/advisiconUniveristy-pmp.png){: border="0"}][PMP_prep-course]

  This course offers in-depth examination of the required study areas for PMI's 
  PMP&reg;[^pmp] exam. Participants will also learn tips and tricks for preparing 
  for the exam. A study guide will be provided to participants.

  </div>
  
  <div class="showcaseItem" markdown="1">
  
  ### [Microsoft&reg; Project Server 2010 for Project Managers][MSPS_PM-course] ###

  [![Microsoft Project Server Project Management](/pix/classes/advisiconUniveristy-Project-red.png){: border="0"}][MSPS_PM-course]
  
  Learn how to build, publish, and manage project schedules, issues, risks, 
  deliverables, resources, and documents across an enterprise with Microsoft&reg; 
  Project Server 2010.

  Project Managers will learn to build, track and manage project schedules with 
  Microsoft&reg; Project Professional and publish them to Microsoft&reg; Project 
  Server 2010, and how to track, analyze, and report on projects through Project 
  Web Access.

  All participants will receive a copy of Advisicon's training manual 
  [Microsoft Project Server 2010: Project Manager's Guide][MSPS2010_PM-book].

  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [SharePoint 2010 for Effective Project Management][SPfEPM-course] ###

  [![SharePoint Services](/pix/classes/advisiconUniveristy-SharePoint-blue.png){: border="0"}][SPfEPM-course]

  Learn to use Microsoft&reg; Windows SharePoint 2010 Services to manage project 
  team collaboration on projects. This course teaches participants how to design, 
  create and customize SharePoint sites and to use SharePoint to collaborate, 
  share documents, communicate and coordinate activities and projects.

  All participants will receive a copy of Advisicon's training manual 
  [SharePoint for Effective Team Collaboration][SPfEPM-book].

  </div>
  
  <div class="showcaseItem" markdown="1">

  ### [Microsoft Business Intelligence][BI-course] ###

  [![Business Intelligence](/pix/classes/advisiconUniveristy-bi.png){: border="0"}][BI-course]

  Get an introduction to creating BI solutions using the Microsoft Suite of 
  tools. We'll emphasize Excel Services, PowerPivot, PerformancePoint, and 
  SharePoint.
  
  Our hands-on training will walk you through creating multifaceted BI dashboards 
  including KPIs, Scorecards, Pivot Tables, and Graphs.

  We'll also introduce the process of designing and building Data Warehouses. 
  We'll lead you on a simple walkthrough for creating a SSAS cube.

  This is "one stop shopping" for all of the basics in the world of Microsoft 
  BI at its best!

  All participants will receive a copy of Advisicon's training manual 
  [Microsoft Business Intelligence][BI-book].

  </div>
 
  #{render_partial 'partials/footnotes'}

  
  Our Meeting Room                                                            {#meeting-room}
  ----------------

  Our meeting room is for rent!

%p <a href="http://rtvpix.com/rst/BU-5037-9QK11Y-01?h=500&w=700" title="take a virtual tour" target="_blank onclick="_gaq.push(['_trackEvent', 'virtual tour', 'flash 3d']);"><img src="/pix/advisicon-virtual-tour.jpg" alt="take a virtual tour" width="100%" /></a>

%p Click the image above to take a virtual tour of the Advisicon Headquarters or visit our facebook page to see an <a href="http://www.facebook.com/media/set/?set=a.10150709101698512.393774.136755573511&type=3" title="pictures of the Advisicon Headquarters building" onclick="_gaq.push(['_trackEvent', 'Facebook', 'User: Advisicon', 'HQ image gallery']);">image gallery of shots of our headquarters building</a>. To obtain a quote for renting our meeting room, please contact us at <a href="mailto:info@advisicon.com?subject=Meeting Room Quote Request">info@Advisicon.com</a>.
    
