title: Visio
keywords: 
description: 
layout: default.haml
--------------------------------------------------------META


%h1 #{ title }

:maruku
  #{ render_partial '/partials/references' }
  #{ render_partial '/partials/glossary' }

  Business Process and Work-flow Mapping
  --------------------------------------

  ![Visio 2013](/pix/logos/visio-large.jpg){.inlineImage}

  Advisicon has expanded to customizing Visio Services in SharePoint 2010 and 
  2013, we create visually stunning dashboards connecting throughout client's 
  internal or external websites. We can do a wide array of Business Process 
  Model and Notation (BPMN) Diagrams, Data Driven Diagrams, Visual Workflows, 
  Automation and Organizational Flowcharts. Our Visio services map client's 
  business processes using BPMN best practices through collaborating with each 
  client and charting their stakeholders and business processes utilizing very 
  simple and proven methods. Additionally, we have [Flowcharts][Flowcharts] 
  built utilizing Visio 2013 that even after Advisicon services are complete 
  clients can refer back to best practices in a specific area, and employ these 
  tools. A few of the services we can provide clients are:

  *	Business Process Model and Notation (BPMN) Diagrams incorporating industry 
    best practices
  *	Visual workflows of client's business processes
  *	SharePoint 2010/2013 Workflows
  *	Visual Dashboards for Business Intelligence reporting
  *	Dynamic Visual Reporting
  *	Project planning utilizing Visio elements

  #{ render_partial 'partials/footnotes' }

  [flowcharts]: http://store.advisicon.com/collections/flowcharts

