title: Visio
keywords: 
description: 
layout: default.haml
--------------------------------------------------------META


%h1 #{ title }

:maruku
  #{ render_partial '/partials/references' }
  #{ render_partial '/partials/glossary' }

  Through the use of Data Graphics we can help your team visualize your metrics 
  in a simple customizable drill down format. Think Global metrics of a company 
  with the ability to drill down to the specific city or store that you are 
  tracking your metrics against. This applies to all types of industries and 
  any type of SQL database accessible information. We aren’t stuck with out of 
  the box graphics either, we can create, modify and integrate your companies 
  graphics into a comprehensive no-nonsense easy to use Business Intelligence 
  (BI) metrics tracking tool that can be used from the top to track high level 
  business data clear to the base users of your organization to track their 
  daily work load.

  Give us a chance to show you how Visio can revolutionize your business 
  intelligence metrics reporting.


  Business Process and Work-flow Mapping
  --------------------------------------

  ![Visio 2013](/pix/logos/visio-large.jpg){.inlineImage}

  Advisicon has expanded to customizing Visio Services in SharePoint 2010 and 
  2013, we create visually stunning dashboards connecting throughout client's 
  internal or external websites. We can do a wide array of Business Process 
  Model and Notation (BPMN) Diagrams, Data Driven Diagrams, Visual Workflows, 
  Automation and Organizational Flowcharts. Our Visio services map client's 
  business processes using BPMN best practices through collaborating with each 
  client and charting their stakeholders and business processes utilizing very 
  simple and proven methods. Additionally, we have [Flowcharts][Flowcharts] 
  built utilizing Visio 2013 that even after Advisicon services are complete 
  clients can refer back to best practices in a specific area, and employ these 
  tools. A few of the services we can provide clients are:

  *	Business Process Model and Notation (BPMN) Diagrams incorporating industry 
    best practices
  *	Visual workflows of client's business processes
  *	SharePoint 2010/2013 Workflows
  *	Visual Dashboards for Business Intelligence reporting
  *	Dynamic Visual Reporting
  *	Project planning utilizing Visio elements

  #{ render_partial 'partials/footnotes' }

  [flowcharts]: http://store.advisicon.com/collections/flowcharts

