:plain
  <!--
                                                  `                                                   
                                                 +m`                                                  
                                                :MMd`                                                 
                                               -NMMMh                                                 
                                              .NMMMMMs                                                
                                             `mMMMMMMM+                                               
                                             dMMMMMMMMM/                                              
                                            yMMMMMMMMMMM-                                             
                                           oMMMMMMMMMMMMN.                                            
                                          +MMMMMMMMMMMMMMm`                                           
                                         :MMMMMMMm+MMMMMMMd`                                          
                                        -NMMMMMMN. oMMMMMMMh                                          
                                       .NMMMMMMM:   yMMMMMMMs                                         
                                      `mMMMMMMM+     dMMMMMMM+                                        
                                      dMMMMMMMs      `mMMMMMMM/                                       
                                     yMMMMMMMh        -NMMMMMMM-                                      
                                    sMMMMMMMm`         :MMMMMMMN.                                     
                                   +MMMMMMMN.           +MMMMMMMm`                                    
              `..---:::::::::---.....--:/+o-             sMMMMMMMd`                                   
        .:/osssssssoo+++/////////++++oosso+//:-..`        hMMMMMMMh                                   
     `/ssssso/-.`               .soo++/::``..--:/++++/:-.``+shmMMMMs                                  
     ossss:`                   `mMMMMMMMh            `.-:/++/:..:+ym+                                 
     +sss/                     dMMMMMMMm`                   `.:/++:-.          ````                   
      :sso`               -   yMMMMMMMN.        ..`          /ds+-.-/+/-           `....              
        -+o:`             ./-oMMMMMMMM:        //-.-.         sMMMMds/.-//-            `-::.          
          `-//-`            sMMMMMMMM+         -++//`          hMMMMMMMd. ./-              -++-       
              `--..`       :MMMMMMMMs            ``            `dMMMMMMMm`  `-               :ss/`    
                   `..``` :MMMMMMMMh/++:-`                      `mMMMMMMMd                    osss.   
                         -NMMMMMMMd`   .-/++/:-.`                -NMMMMMMMy                 `/ssss+   
                        `mMMMMMMMm`          .-:/++++/:--..`      /MMMMMMMMs            `.:+sssss+`   
                       `dMMMMMMMN-                  `.--:/++oooo+++dMMMMMMMMo::::///+oosssssso/-`     
                       hMMMMMMMM:                              ``..-hMMMMMMMMy++++////::--.`          
                      sMMMMMMMM+                                    `mMMMMMMMN-                       
                     oMMMMMMMMs                                      .NMMMMMMMN.                      
                    /MMMMMMMMh                                        :MMMMMMMMm`                     
                   -MMMMMMMMd`                                         +MMMMMMMMd`                    
                  .NMMMMMMMN.                                           sMMMMMMMMh                    
                  -////////.                                             /////////.                   
                                                                                                      
                                                                                               ---`   
       ``        ..`       ``   .      ``       `-.       .        `..       `-.        .   . .:---   
       sm`       m/+h:     -m  -m      h/      ho:/-      m-      +h//.     +y:+h`      mo  m  `.`    
      `m++       m` :d      d: s+      h/     `m-         m-     `N        `M`  yo      ms- m         
      +o`d       m` .N      /y m`      h/      `os/       m-     .d        -M   sy      N`h`m         
      mo+m:      m` :d       m+o       h/         ss      m-     `N`       `M`  yo      N`-ym         
     :d``:h      m+oh-       +N.       h/      o:/h:      m-      oh//.     +y/+h`      N` +d         
     ``   .      ..`          .        ``      `..        .        `..       `..        .   .         
                                                                                                      
  -->