%ul#credentials
  %li
    %a{ :href => '/staff_bios/tim-runcie.htm', :title => 'Learn more about Advisicon&rsquo;s President, Tim Runcie, a Microsoft MVP' }
      %img{ :border => '0',  :src => '/pix/MVP_Horizontal_FullColor-small.jpg', :alt => 'Microsoft MVP', :width => '150', :height => '53' }
  %li
    %a{ :href => '/our-certifications.htm', :title => 'Learn more about our competencies as a Microsoft Certified Partner' }
      %img{ :border => '0', :src => '/pix/microsoft-partner.png', :alt => 'Microsoft Certified Gold Partner in Project and Portfolio Management, Silver Partner in Midmarket Solution Provider', :width => '150', :height => '54' }
  %li
    %a{ :href => 'http://www.pmi.org/', :title => 'The PMI website' }
      %img{ :border => '0', :src => '/pix/logos/PMI-REP-logo.png', :alt => 'Project Management Institute / Registered Education Provider', :width => '150' } 
.footnotes
  %p 
    The PMI Registered Education Provider logo is a registered mark of the Project Management Institute, Inc.
