%a{ href: "http://rtvpix.com/rst/BU-5037-9QK11Y-01?h=500&w=700", 
    title: "take a virtual tour", 
    target: "_blank", onclick: track_event('virtual tour', 'flash 3d') }
  %img{ :src => "/pix/advisicon-virtual-tour.jpg", :alt => "take a virtual tour", :width => "100%" }

