#employees
  %a{ href: '/about-us/tim-runcie.html' }
    %img{ :alt => 'Tim Runcie', :src => '/pix/biopics/tim-runcie.jpg', :width => '107', :height => '161' }
    %p 
      Tim Runcie, MCTS, MCP, MVP, PMP
      %br/
      President
  %a{ href: '/about-us/rick-gardner.html' }
    %img{ :alt => 'Rick Gardner', :src => '/pix/biopics/rick-gardner.jpg', :width => '107', :height => '161' }
    %p
      Rick Gardner, PMP
      %br/
      Director of Operations for Latin America
  
  %a{ href: '/about-us/cindy-lewis.html' }
    %img{ :alt => 'Cindy Lewis', :src => '/pix/biopics/cindy-lewis.jpg', :width => '107', :height => '161' }
    %p
      Cindy Lewis, MCTS, MCITP, MCT, PMP, PMI-SP
      %br/
      Director of Knowledge Management
  %a{ href: '/about-us/tye-trepanier.html' }
    %img{ :alt => 'Tye Trepanier', :src => '/pix/biopics/tye-trepanier.jpg', :width => '107', :height => '161' }
    %p
      Tye Trepanier, PMP
      %br/
      Director of Advisicon Professional Services
  %a{ href: '/about-us/pam-greensky.html' }
    %img{ :alt => 'Pam Greensky', :src => '/pix/biopics/pam-greensky.jpg', :width => '107', :height => '161' }
    %p
      Pam Greensky
      %br/
      Director of Operations
  %a{ href: '/about-us/jesse-phillips-mead.html' }
    %img{ alt: 'Jesse Phillips-Mead', src: '/pix/biopics/jesse-phillips-mead.jpg', width: '107', height: '161' }
    %p
      Jesse Phillips-Mead, MCP
      %br/
      Project Advisor of Visio Business Services
  %a{ href: '/about-us/jeff-jacobson-swartfager.html' }
    %img{ :alt => 'Jeff Jacobson-Swartfager', :src => '/pix/biopics/jeff-jacobson-swartfager.jpg', :width => '107', :height => '161' }
    %p
      Jeff Jacobson-Swartfager
      %br/
      Advisicon Press
  %a{ href: '/about-us/kristin-raglione.html' }
    %img{ :alt => 'Kristin Raglione', :src => '/pix/biopics/kristin-raglione.jpg', :width => '107', :height => '161' }
    %p
      Kristin Raglione
      %br/
      Marketing Advisor
  %a{ href: '/about-us/chetan-patel.html' }
    %img{ :alt => 'Chetan Patel', :src => '/pix/biopics/chetan-patel.jpg', :width => '107', :height => '161' }
    %p
      Chetan Patel
      %br/
      Senior Developer
  %a{ href: '/about-us/chris-pfenninger.html' }
    %img{ :alt => 'Chris Pfenninger', :src => '/pix/biopics/chris-pfenninger.jpg', :width => '107', :height => '161' }
    %p
      Chris Pfenninger
      %br/
      Advisicon Information Services
  %a{ href: '/about-us/stacey-garner.html' }
    %img{ :alt => 'Stacey Garner', :src => '/pix/biopics/stacey-garner.jpg', :width => '107', :height => '161' }
    %p
      Stacey Garner
      %br/
      Human Resources
  %a{ href: '/about-us/jeff-poste.html' }
    %img{ alt: 'Jeff Poste', src: '/pix/biopics/jeff-poste.jpg', width: '107', height: '161' }
    %p
      Jeff Poste
      %br/
      Director of Product Development
  %a{ href: '/about-us/amy-wachsnicht.html' }
    %img{ alt: 'Amy Wachsnicht', src: '/pix/biopics/amy-wachsnicht.jpg', width: '107', height: '161' }
    %p
      Amy Wachsnicht
      %br/
      Project Coordinator
  %a{ href: '/about-us/kelli-stricker.html' }
    %img{ alt: 'Kelli Stricker', src: '/pix/biopics/kelli-stricker.jpg', width: '107', height: '161' }
    %p
      Kelli Stricker
      %br/
      Project Advisor
      
  -#
    / .employee
    /   %img{ :alt => 'Sarah Huibregste', :src => '/pix/biopics/sarah-huibregste.jpg', :width => '107', :height => '161' }
    /   %p
    /     Sarah Huibregste
    /     %br/
    /     Senior Knowledge Management Advisor
  -#
    / %a{ :href => '/staff_bios/joe-brewer.htm' }
    /   %img{ :alt => 'Joe Brewer', :src => '/pix/biopics/joe-brewer.jpg', :width => '107', :height => '161' }
    /   %p
    /     Joe Brewer, MCP, MCTS, MBA
    /     %br/
    /     Director of Advisicon University
  -# 
    / %a{ :href => '/staff_bios/nicole-brown.htm' }
    /   %img{ :alt => 'Nicole Brown', :src => '/pix/biopics/nicole-brown.jpg', :width => '107', :height => '161' }
    /   %p
    /     Nicole Brown
    /     %br/
    /    Social Media and Marketing Administrator
    <a href="/staff_bios/jason-stegner.htm" title="Jason Stegner&apos;s bio">
    <img alt="Jason Stegner" src="/pix/biopics/jason-stegner.jpg" width="107" height="161" />
    <p>Jason Stegner, MCP, MCTS<br />Advisicon Information Services</p>
    </a>
    <a href="/staff_bios/javier-gonzalez.htm">
    <img alt="Javier Gonz&aacute;lez" src="/pix/biopics/javier-gonzalez.jpg" width="107" height="161" />
    <p>Javier Gonz&aacute;lez, PMP, MCP, ITIL<br />Business Integration Principal</p>
    </a>
    <div class="employee">
    <img alt="Isabel Garc&iacute;a" src="/pix/biopics/isabel-garcia.jpg" width="107" height="161" />
    <p>Isabel Garc&iacute;a, PMP<br />Business Development Manager</p>
    </div>
    <a href="/staff_bios/rene-alvarez.htm" title="Ren&eacute; Alvarez's bio">
    <img alt="Ren&eacute; Alvarez" src="/pix/biopics/rene-alvarez.jpg" width="107" height="161" />
    <p>Ren&eacute; Alvarez, MCP<br />IT Integration Manager</p>
    </a>
    <div class="employee">
    <img alt="Alma Abundis" src="/pix/biopics/alma-abundis.jpg" width="107" height="161" />
    <p>Alma Abundis, PMP<br />Senior Project Advisor</p>
    </div>
    <div class="employee">
    <img alt="Omar Garc&iacute;a" src="/pix/biopics/omar-garcia.jpg" width="107" height="161" />
    <p>Omar Garc&iacute;a<br />Project Advisor</p>
    </div>
    <a href="/staff_bios/dave-ply.htm">
    <img alt="Dave Ply" src="/pix/biopics/dave-ply.jpg" width="107" height="161" />
    <p>Dave Ply<br />Senior Developer</p>
    </a>
    <a href="/staff_bios/chetan-patel.htm">
    <img alt="Chetan Patel" src="/pix/biopics/chetan-patel.jpg" width="107" height="161" />
    <p>Chetan Patel, MCP, PMP<br />Senior Developer</p>
    </a>
    <div class="employee">
    <img alt="Amy Wachsnicht" src="/pix/biopics/amy-wachsnicht.jpg" width="107" height="161" />
    <p>Amy Wachsnicht<br />Office Administrator</p>
    </div>
    <div class="employee">
    <img alt="Elena Flores" src="/pix/biopics/elena-flores.jpg" width="107" height="161" />
    <p>Elena Flores<br />Accounting Manager</p>
    </div>
    </a>
    <div class="employee">
    <img alt="Luis Manuel Estrada" src="/pix/biopics/luis-estrada.jpg" width="107" height="161" />
    <p>Luis Manuel Estrada<br />Project Management Consultant</p>
    </div>
  -# end #employees
