.rPopBox#featuredBooks
  %h3 Featured Books
  %ul#portfolio
    %li
      %a{ href: 'http://store.advisicon.com/products/introduction-to-scheduling-with-microsoft-project' }
        %img{ border: '0', src: '/pix/Cover-MPwMP2013_f.jpg', alt: 'Introduction to Scheduling with Microsoft Project', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/microsoft-access-in-a-sharepoint-world' }
        %img{ border: '0', src: '/pix/Cover-MASW.jpg', alt: 'Microsoft Access in a SharePoint World', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/microsoft-business-intelligence-building-executive-dashboards-with-sharepoint-2010' }
        %img{ border: '0', src: '/pix/Cover-BI-thumb.png', alt: 'Microsoft Business Intelligence', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/microsoft-project-server-2010-administrators-guide' }
        %img{ border: '0', src: '/pix/Cover-MSPS2010-Admin.jpg', alt: 'Microsoft Project Server 2010&nbsp;&ndash; Administrator&rsquo;s Guide', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/microsoft-project-server-2010-project-managers-guide'}
        %img{ border: '0', src: '/pix/Cover-MSPS2010-PM.jpg', alt: 'Microsoft Project Server 2010&nbsp;&ndash; Project Manager&rsquo;s Guide', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/microsoft-project-server-2010-team-members-guide' }
        %img{ border: '0', src: '/pix/Cover-MSPS2010-TM.jpg', alt: 'Microsoft Project Server 2010&nbsp;&ndash; Team Member&rsquo;s Guide', width: '150', height: '195' }
    %li
      %a{ href: 'http://store.advisicon.com/products/sharepoint-for-effective-team-collaboration-2010' }
        %img{ border: '0', src: '/pix/Cover-SPfETC-thumb.jpg', alt: 'SharePoint for Effective Team Collaboration', width: '150', height: '195' }
  %p Click a book for more information
