.rPopBox
  %h3 Featured Tools
  %ul
    %li{ :itemscope => true, :itemtype => 'http://schema.org/Product' }
      <a href="/tools/msp-rex.html" itemprop="name url">MSP-Rex</a> (<span itemprop="description">Report Extractor</span>)
    %li{ :itemscope => true, :itemtype => 'http://schema.org/Product' }
      <a href="/tools/skill-tracker.html" itemprop="name url">Skill Tracker</a>
