#footer
  %table.navbartemp
    %tr
      %td
#nav
  %ul.navbarmini
    %li
      %a{ :href => '/site-map.html', :title => 'view the site map' } Site Map
    %li
      %a{ :href => '/privacy-policy.html', :title => 'view our privacy policy' } Privacy Policy
    %li
      %a.tel{ href: 'tel:+1-866-362-3847', 
              title: 'call us at 1-866-362-3847', 
              onclick: track_event('Phone Calls', 
                                   'Headquarters', 
                                    label: 'Toll Free') } 1.866.36.ADVIS
