[^pmp]: PMP is a registered mark of the Project Management Institute, Inc.
[^opm3]: OPM3 is a registered mark of the Project Management Institute, Inc.
[^pmi-sp]: PMP-SP is a registered mark of the Project Management Institute, Inc.
[^pmbok]: PMBOK is a registered mark of the Project Management Institute, Inc.