*[EPM]: Enterprise Project Management
*[MVPs]: Most Valuable Professionals
*[MCP]: Microsoft&reg; Certified Professional
*[MCTS]: Microsoft&reg; Certified Technical Specialists
*[KPIs]: Key Performance Indicators
*[SQL]: Structured Query Language
*[PMP]: Project Management Professional
*[PMO]: Project Management Office
*[SP]: Scheduling Professional
*[PMI]: Project Management Institute
*[PMBOK]: Project Management Body of Knowledge
*[MCITP]: Microsoft Certified IT Professional
*[ERP]: Enterprise Resource Planning
*[OPM3]: the Organizational Project Management Maturity Model
*[WSS]: Windows SharePoint Services
*[MOSS]: Microsoft Office SharePoint Server