*[EPM]: Enterprise Project Management
*[ERP]: Enterprise Resource Planning

*[KPIs]: Key Performance Indicators

*[MCP]: Microsoft&reg; Certified Professional
*[MCITP]: Microsoft Certified IT Professional
*[MCTS]: Microsoft&reg; Certified Technical Specialists
*[MOSS]: Microsoft Office SharePoint Server
*[MVPs]: Most Valuable Professionals

*[OPM3]: the Organizational Project Management Maturity Model

*[PMBOK]: Project Management Body of Knowledge
*[PMI]: Project Management Institute
*[PMI-SP]: Project Management Institute-Scheduling Professional
*[PMO]: Project Management Office
*[PMP]: Project Management Professional

*[SP]: Scheduling Professional
*[SQL]: Structured Query Language

*[WSS]: Windows SharePoint Services
