*[EPM]: Enterprise Project Management
*[MVPs]: Most Valuable Professionals
*[MCP]: Microsoft&reg; Certified Professional
*[MCTS]: Microsoft&reg; Certified Technical Specialists
*[KPIs]: Key Performance Indicators
*[SQL]: Structured Query Language
*[PMP]: Project Management Professional
*[PMOs]: Project Management Offices
*[SP]: Scheduling Professional
*[PMI]: Project Management Institute
*[PMBOK]: Project Management Body of Knowledge
*[MCITP]: Microsoft Certified IT Professional
