%nav#highlightsNavigation
  %a{ href: '/project-management.html', :title => 'view our Project Management services' } Project Management
  %a{ href: '/microsoft-project-office.html', :title => "view our Microsoft Project and Microsoft Project Server consulting and training services" } Microsoft Project Server
  %a{ href: '/sharepoint.html' } Microsoft SharePoint
  %a{ href: '/training.html' } Training
  %a{ href: '/custom-development.html' } Custom Development
  %a{ href: '/visio.html' } Visio
