[MPwMP-course]: /training/managing-projects-with-microsoft-project.html
[MSPS_Admin-course]: /training/microsoft-project-server-for-administrators.html
[MSPS_PM-course]: /training/microsoft-project-server-for-project-managers.html
[MSPS_TM-course]: /training/microsoft-project-server-for-team-members.html
[SPfEPM-course]: /training/sharepoint-for-effective-project-management.html
[SPfFA-course]: /training/sharepoint-for-farm-administrators.html
[PMP_prep-course]: /training/pmp-prep-course.html
[CAPM_prep-course]: /training/capm-prep-course.html
[PPM-course]: /training/practical-project-management.html 
[MRG-course]: /training/mastering-requirements-gathering.html 
[BI-course]: /training/microsoft-business-intelligence.html
[MPwMP-intro-course]: /training/introduction-to-scheduling-with-microsoft-project.html
[MPwMP-adv-course]: /training/advanced-program-and-portfolio-use-of-microsoft-project.html
[communicate-with-class-course]: /training/communicate-with-class.html
[workplace-personalities-course]: /training/making-sense-of-workplace-personalities.html

[TPL-flowchart]: http://store.advisicon.com/products/technical-project-lifecycle "learn more about this flowchart on the Advisicon store"
[PML-flowchart]: http://store.advisicon.com/products/project-management-lifecycle "learn more abouth this flowchart on the Advisicon store"
[RGMP-flowchart]: http://store.advisicon.com/products/requirements-gathering-managing-process "buy the &ldquo;Requirements Gathering &amp; Managing Process&rdquo; flowchart from the Advisicon Store"
[RGPML-flowchart]: http://store.advisicon.com/products/requirements-gathering-in-the-project-management-lifecycle "buy the &ldquo;Requirements Gathering in the Project Management Lifecycle&rdquo; flowchart from the Advisicon Store"

[contact]: /contact-us.html "choose from a variety of options to contact us"
[case-studies]: /case-studies.html "A collection of case studies covering trainings and implimentations by Advisicon"
[claim-pdu]: http://www.pmi.org/Certification/Maintain-Your-Credential.aspx "Find out how to claim PDUs on the PMI website"
[certifications]: /our-certifications.html "find out more about our Microsoft Certification"
[sharepoint]: /sharepoint.html
[project]: /microsoft-project-office.html

[Pinpoint]: http://pinpoint.microsoft.com/en-US/companies/search?q=advisicon&amp;fcrc=USA "view our Pinpoint posting"
[Bemo]: http://www.bemopro.com/SharedHostingOptions.aspx?RefCode=Advisicon "Get BeMo!"
[GoToTraining-catalog]: https://student.gototraining.com/2tj23/catalog/6699287318625635328

[PMP_prep-book]: http://www.amazon.com/The-PMP-Exam-Fourth-Edition/dp/0972967346 "read reviews of this book on Amazon.com"
[PPM-book]: http://store.advisicon.com/products/practical-project-management-best-practices-and-tools-for-managing-projects-effectively "buy Practical Project Management on the Advisicon Store"
[MRG-book]: http://store.advisicon.com/products/mastering-requirements-gathering-best-practices-in-managing-project-requirements "buy Managing Requirements Gathering on the Advisicon Store"
[MPwMP2010-book]: http://store.advisicon.com/products/managing-projects-with-microsoft-project-2010-best-practices-in-managing-projects-with-microsoft-project "buy &ldquo;Managing Projects with Microsoft Project 2010&rdquo; from the Advisicon store"
[MSPS2010_PM-book]: http://store.advisicon.com/products/microsoft-project-server-2010-project-managers-guide "buy &ldquo;Microsoft Project Server 2010: Project Manager&rsquo;s Guide&rdquo; from the Advisicon store"
[MSPS2013_PM-book]: http://store.advisicon.com/products/microsoft-project-server-2013-project-manager-s-guide "buy &ldquo;Microsoft Project Server 2013: Project Manager&rsquo;s Guide&rdquo; from the Advisicon store"
[MSPS2010_TM-book]: http://store.advisicon.com/products/microsoft-project-server-2010-team-members-guide "buy this title on the Advisicon store!"
[SPfEPM-book]: http://store.advisicon.com/products/sharepoint-for-effective-team-collaboration-2010 "buy &ldquo;SharePoint for Effective Team Collaboration&rdquo; from the Advisicon store"
[BI-book]: http://store.advisicon.com/products/microsoft-business-intelligence-building-executive-dashboards-with-sharepoint-2010 "buy &ldquo;Microsoft Business Intelligence&rdquo; from the Advisicon store"
