[MPwMP-course]: http://managing-projects-with-microsoft-project-2010.eventbrite.com "view this course description on eventbrite"
[MSPS_Admin-course]: http://www.eventbrite.com/event/6449082379 "view this course description of eventbrite"
[MSPS_PM-course]: http://www.eventbrite.com/event/6878197875 "view this course description on eventbrite"
[MSPS_TM-course]: http://www.eventbrite.com/event/6878434583 "view this course description on eventbrite"
[SPfEPM-course]: http://sharepoint-2010-for-effective-team-collaboration.eventbrite.com "view this course on eventbrite"
[PMP_prep-course]: http://pmp-exam-prep.eventbrite.com "register for this course on eventbrite"
[PPM-course]: http://practical-project-management.eventbrite.com "register for this course on eventbrite"
[MRG-course]: http://mastering-requirements-gathering.eventbrite.com "register for this course on eventbrite"
[BI-course]: http://microsoft-business-intelligence-rss.eventbrite.com/ "register for the Microsoft Business Intelligence course"

[TPL-flowchart]: http://store.advisicon.com/products/technical-project-lifecycle "learn more about this flowchart on the Advisicon store"
[PML-flowchart]: http://store.advisicon.com/products/project-management-lifecycle "learn more abouth this flowchart on the Advisicon store"
[RGMP-flowchart]: http://store.advisicon.com/products/requirements-gathering-managing-process "buy the &ldquo;Requirements Gathering &amp; Managing Process&rdquo; flowchart from the Advisicon Store"
[RGPML-flowchart]: http://store.advisicon.com/products/requirements-gathering-in-the-project-management-lifecycle "buy the &ldquo;Requirements Gathering in the Project Management Lifecycle&rdquo; flowchart from the Advisicon Store"

[contact]: /contactus.htm "choose from a variety of options to contact us"
[case-studies]: /case-studies.htm "A collection of case studies covering trainings and implimentations by Advisicon"
[claim-pdu]: http://www.pmi.org/Certification/Maintain-Your-Credential.aspx "Find out how to claim PDUs on the PMI website"
[certifications]: /our-certifications.htm "find out more about our Microsoft Certification"
[courses]: /courses.htm "currently scheduled upcoming courses"
[sharepoint]: /sharepoint.htm
[project]: /microsoft-project-office.htm

[Pinpoint]: http://pinpoint.microsoft.com/en-US/companies/search?q=advisicon&fcrc=USA "view our Pinpoint posting"
[Bemo]: http://www.bemopro.com/SharedHostingOptions.aspx?RefCode=Advisicon "Get BeMo!"
[GoToTraining-catalog]: https://student.gototraining.com/2tj23/catalog/6699287318625635328

[PMP_prep-book]: http://www.amazon.com/The-PMP-Exam-Fourth-Edition/dp/0972967346 "read reviews of this book on Amazon.com"
[PPM-book]: http://store.advisicon.com/products/practical-project-management-best-practices-and-tools-for-managing-projects-effectively "buy Practical Project Management on the Advisicon Store"
[MRG-book]: http://store.advisicon.com/products/mastering-requirements-gathering-best-practices-in-managing-project-requirements "buy Managing Requirements Gathering on the Advisicon Store"
[MPwMP2010-book]: http://store.advisicon.com/products/managing-projects-with-microsoft-project-2010-best-practices-in-managing-projects-with-microsoft-project "buy &ldquo;Managing Projects with Microsoft Project 2010&rdquo; from the Advisicon store"
[MSPS2010_PM-book]: http://store.advisicon.com/products/microsoft-project-server-2010-project-managers-guide "buy &ldquo;Microsoft Project Server 2010: Project Manager&rsquo;s Guide&rdquo; from the Advisicon store"
[MSPS2010_TM-book]: http://store.advisicon.com/products/microsoft-project-server-2010-team-members-guide "buy this title on the Advisicon store!"
[SPfEPM-book]: http://store.advisicon.com/products/sharepoint-for-effective-team-collaboration-2010 "buy &ldquo;SharePoint for Effective Team Collaboration&rdquo; from the Advisicon store"
[BI-book]: http://store.advisicon.com/products/microsoft-business-intelligence-building-executive-dashboards-with-sharepoint-2010 "buy &ldquo;Microsoft Business Intelligence&rdquo; from the Advisicon store"
