[MPwMP-course]: http://managing-projects-with-microsoft-project-2010.eventbrite.com "view this course description on eventbrite"
[MSPS_Admin-course]: http://www.eventbrite.com/event/6449082379 "view this course description of eventbrite"
[MSPS_PM-course]: http://www.eventbrite.com/event/6878197875 "view this course description on eventbrite"
[MSPS_TM-course]: http://www.eventbrite.com/event/6878434583 "view this course description on eventbrite"
[SPfEPM-course]: http://sharepoint-2010-for-effective-team-collaboration.eventbrite.com "view this course on eventbrite"
[PMP_prep-course]: http://pmp-exam-prep.eventbrite.com "register for this course on eventbrite"
[PPM-course]: http://practical-project-management.eventbrite.com "register for this course on eventbrite"
[MRG-course]: http://mastering-requirements-gathering.eventbrite.com "register for this course on eventbrite"

[TPL-flowchart]: http://store.advisicon.com/products/technical-project-lifecycle "learn more about this flowchart on the Advisicon store"
[PML-flowchart]: http://store.advisicon.com/products/project-management-lifecycle "learn more abouth this flowchart on the Advisicon store"

[contact]: /contactus.htm "choose from a variety of options to contact us"
[case-studies]: /case-studies.html "A collection of case studies covering trainings and implimentations by Advisicon"
[claim-pdu]: http://www.pmi.org/Certification/Maintain-Your-Credential.aspx "Find out how to claim PDUs on the PMI website"
[certifications]: /our-certifications.htm "find out more about our Microsoft Certification

[Pinpoint]: http://pinpoint.microsoft.com/en-US/companies/search?q=advisicon&fcrc=USA "view our Pinpoint posting"
[Bemo]: http://www.bemopro.com/SharedHostingOptions.aspx?RefCode=Advisicon "Get BeMo!"

[PMP_prep-book]: http://www.amazon.com/The-PMP-Exam-Fourth-Edition/dp/0972967346 "read reviews of this book on Amazon.com"