[MPwMP-course]http://managing-projects-with-microsoft-project-2010.eventbrite.com
[MSPS_Admin-course]http://www.eventbrite.com/event/6449082379
[MSPS_PM-course]http://www.eventbrite.com/event/6878197875
[MSPS_TM-course]http://www.eventbrite.com/event/6878434583
[SPfEPM-course]http://sharepoint-2010-for-effective-team-collaboration.eventbrite.com
[PMP_prep-course]http://pmp-exam-prep.eventbrite.com
[PPM-course]http://practical-project-management.eventbrite.com
[MRG-course]http://mastering-requirements-gathering.eventbrite.com
[BI-course]http://microsoft-business-intelligence-rss.eventbrite.com/