%nav{ :id => 'secondaryNav' }
	%a{ :href => '/case-studies.htm', :title => 'see case studies', :class => 'secondaryNavButton' } Case Studies
	%a{ :href => '/clients.htm', :title => 'see our clients', :class => 'secondaryNavButton' } Clients
	%a{ :href => '/partners.htm', :title => 'see our partners', :class => 'secondaryNavButton' } Partners
	%a{ :href => '/training.htm', :title => 'view our training offerings', :class => 'secondaryNavButton' } Training
	%a{ :href => 'http://store.advisicon.com', :title => 'shop our products in our store', :class => 'secondaryNavButton' } Store
	%a{ :href => '/professional-associations.htm', :title => 'see our professional associations', :class => 'secondaryNavButton longText' } Professional Associations
	%a{ :href => '/news.htm', :title => 'Advisicon news and events', :class => 'secondaryNavButton' } News &amp; Events
	%a{ :href => '/public_classes.htm', :title => 'view our public class schedule', :class => 'secondaryNavButton highlightedNavButton' } Advisicon Public Class Schedule
	%a{ :href => '/contactus.htm', :title => 'view our contact info', :class => 'secondaryNavButton highlightedNavButton'} Contact Us!