%nav{ :id => 'secondaryNav' }
	%a.secondaryNavButton{ :href => '/case-studies.html', :title => 'see case studies' } Case Studies
	%a.secondaryNavButton{ :href => '/clients.html', :title => 'see our clients' } Clients
	%a.secondaryNavButton{ :href => '/partners.html', :title => 'see our partners' } Partners
	%a.secondaryNavButton{ :href => '/training.html', :title => 'view our training offerings' } Training
	%a.secondaryNavButton{ :href => 'http://store.advisicon.com', :title => 'shop our products in our store' } Store
	%a.secondaryNavButton{ :href => '/professional-associations.html', :title => 'see our professional associations' } Professional Associations
	%a.secondaryNavButton{ :href => '/news.html', :title => 'Advisicon news' } News
	%a.secondaryNavButton.bold{ :href => '/courses.html', :title => 'view our public course schedule' } Advisicon Public Course Schedule
	%a.secondaryNavButton{ :href => '/contact-us.html', :title => 'view our contact info' } Contact Us!
