#accordianAds
  %ul.accordion1
    %li.five
      %img{ border: '0', 
            src:    '/pix/slide5.jpg', 
            alt:    'We offer custom Application Development', 
            usemap: '#slide5' }
    %li.two
      %img{ border: '0',
            src:    '/pix/slide4.jpg', 
            alt:    'We offer comprehensive Training programs',
            usemap: '#slide4' }
    %li.one
      %img{ border: '0',
            src:    '/pix/slide3.jpg', 
            alt:    'We specialize in SharePoint', 
            usemap: '#slide3' }
    %li.three
      %img{ border: '0',
            src:    '/pix/slide2.jpg', 
            alt:    'We can set up Microsoft Project and Microsoft Project Server', 
            usemap: '#slide2' }
    %li.four
      %img{ border: '0',
            src:    'pix/slide1.jpg',
            alt:    'We deliver project, program, and portfolio management consulting services', 
            usemap: '#slide1' }
      %map{ name: 'slide1', id: 'slide1' }
        %area{ shape:  'rect', 
               coords: '303,203,399,245', 
               href:   '/project-management.html', 
               alt:    'project management slide' }
      %map{ name: 'slide2', id: 'slide2' }
        %area{ shape:  'rect', 
               coords: '331,187,427,229', 
               href:   '/microsoft-project-office.html', 
               alt:    'microsoft project office slide' }
      %map{ name: 'slide3', id: 'slide3' }
        %area{ shape:  'rect', 
               coords: '341,208,437,250', 
               href:   '/sharepoint.html', 
               alt:    'sharepoint slide' }
      %map{ name: 'slide4', id: 'slide4' }
        %area{ shape:  'rect', 
               coords: '341,206,437,248', 
               href:   '/training.htm', 
               alt:    'training slide' }
      %map{ name: 'slide5', id: 'slide5' }
        %area{ shape:  'rect', 
               coords: '302,195,398,237', 
               href:   '/application-development.html', 
               alt:    'application development slide' }

