title: MSP-Rex
keywords: Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, MSP-Rex, EPM, filtering, reporting, ETL, Excel Services, business intelligence, tools, software
description: MSP-Rex is a power tool from Advisicon that allows its users to easily build advanced, highly granular filtering of information across the entire portfolio of projects in Project Server 2007 or 2010. MSP-Rex provides senior management with top-down views of all project details and data right from the desktop.
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META


:textile
  
  h1. MSP-Rex
  
  <a href="/download/MSP-Rex/about-MSP-Rex.pdf" target="_blank" onclick="_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'MSP-Rex Flyer']);" title="Download the MSP-Rex brochure!"><img src="/pix/MSP-Rex-Splash.jpg" width="100%" border="0" /></a>
  <div class="downloadables">
    <a href="/download/MSP-Rex/MSP-REX.msi" target="_blank" onclick="_gaq.push(['_trackEvent', 'Software Downloads', 'Download', 'MSP-Rex trial']);" title="Download a free 30-day trial of MSP-Rex!" class="download" >30-day Trial</a><a href="/download/MSP-Rex/about-MSP-Rex.pdf" target="_blank" onclick="_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'MSP-Rex Flyer']);" title="Download the MSP-Rex brochure!" class="download">Brochure</a><a href="/download/MSP-Rex/MSP-Rex-user-guide.pdf" onclick="_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'MSP-Rex User Guide']);" title="Download the MSP-Rex User's Guide!" class="download">User&rsquo;s Guide</a>
  </div>
  

  h2. What Is MSP-Rex?

  MSP-Rex is a new power tool from Advisicon that allows its users to easily build advanced, highly granular filtering of information across the entire portfolio of projects in Project Server 2007, 2010 or 2013. MSP-Rex provides senior management with top-down views of all project details and data right from the desktop.

  Imagine being able to build filtering and reporting choosing from task, project and resource assignment data all in one view. Quickly rip through multiple project files, tasks, assignments and extract just the information you need.

  With the quick export reporting, you can quickly create cross project reporting and leverage the Power of MS Project or Excel to manage and mine information. You can use MSP-Rex as an ETL(Extract, Transform, Load) tool to instantly mine information, where it can be dropped into Excel Services or to other reporting tools leveraging SharePoint's Business Intelligence capabilities.

  With MSP-Rex you can create filters that span your entire EPM instance. You can then apply the filters to return any slice of project data and then export to either Project or Excel. MSP-Rex enables users to create complex queries and joins without the need to master SQL. If you have multiple EPM instances MSP-Rex can easily switch between them.

  All reports and filters can be saved for future use or shared with other users of MSP-Rex.

  This tool was built by EPM/PPM Senior Consultants and Project MVP’s to provide Program and Portfolio managers with key metrics about their project portfolios.

  You Benefit from MSP-Rex's filtering capabilities to help enforce data, quality, and process compliance through the ability to create extremely granular filters and then generate reports on the information returned.

  
  h2. Business Benefits
  
  * Enhanced Project Manager capabilies
  * Enhanced process and data compliance
  * Real-time decision support
  * Project reporting across multiple projects
  * Excel reporting can be reused in many ways
  * End-user reporting tool
  
  
  h2. Competitive Differentiation
    
  * Does not require experts to create reports
  * No knowlege of database is needed
  * Enhanced process and data compliance


  h2. Technical Benefits
    
  * Ease of implementation
  * No server installation required
    

  h2. Data Flow

  <img src="/pix/dataflow.jpg" width="100%" alt="P-Rex data flow: from project server to MSP-Rex to the PM to reports" />
  

  h2. How Can I Get It?

  Want more details? Download the <a href="/PDF/MSP-REX User Guide.pdf" onclick="_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'MSP-Rex User Guide']);" title="Download the MSP-Rex User's Guide!">User Guide</a> or give the free <a href="/download/MSP-Rex/MSP-REX.msi" target="_blank" onclick="_gaq.push(['_trackEvent', 'Software Downloads', 'Download', 'MSP-Rex trial']);" title="Download a free 30-day trial of MSP-Rex!" class="download" >30-day trial</a> version a spin!

  For more information please contact Advisicon, toll free at <a href="tel:+1-866-362-3847" class="tel" title="call us at 1-866-362-3847" onclick="_gaq.push(['_trackEvent', 'Phone Calls', 'Headquarters', 'Toll Free']);">1.866.36.ADVIS</a>.
