title: Skill Tracker
keywords: Project Management, Portfolio Management, Microsoft Project Server, Project Server
description: Skill Tracker is an Advisicon tool that tracks skills.
layout: default.haml
--------------------------------------------------------META


%h1 Skill Tracker

/ commented out because Tim was too lazy to write the content. What follows is just pulled from the powerpoint.
    
/   <h2>Competitive Differentiation</h2>
    
/   <h2>Technical Benefits</h2>
/ commented out until pretty!
/ <ol>
/   <li><a href="#what-is-skill-tracker">What is Skill Tracker?</a>
/     <ol>
/       <li><a href="#skill-tracker-role-in-training">Skill Tracker&rsquo;s Role in Training</a></li>
/     </ol>
/   </li>
/   <li><a href="#business-benefits">Business Benefits</a>
/     <ol>
/       <li><a href="#keep-skills-linked-to-jobs-and-employees">Keep Skills Linked to Jobs &amp; Employees</a></li>
/       <li><a href="#report-examples">Report Examples</a></li>
/     </ol>
/   </li>
/   <li><a href="#sharepoint-business-intelligence-reporting">SharePoint Business Intelligence Reporting</a></li>
/   <li><a href="#how-to-get-skill-tracker">How Can I Get It?</a></li>
/ </li>

.downloadables
  <a href="/download/skill-tracker/skill-tracker-titans-user-guide.pdf" onclick="_gaq.push(['_trackEvent', 'PDF Downloads', 'Download', 'Skill Tracker TITANS user guide']);" title="Download the Skill Tracker User's Guide!" class="download">User&rsquo;s Guide</a>

:textile

  h2(#what-is-skill-tracker). What Is Skill Tracker?
    
  h3. Skill Tracker's Role in Training
  
  * Skill Tracker was a 2 Year Compilation with Multiple Customers to Develop a Cost Effective Training and Gap Assessment Tool focused on Skill Competencies associated to Jobs, Employees and Organizations
  ** It enables organizations to rate and rank their knowledge skills and abilities (KSA's) and show improvements, gaps or locate key skills when needed
  * Mapping, Tracking & Reporting on Resources, Jobs & Departments KSAs(Knowledge, Skills &amp; Abilities)
  * Ability to Link KSA's to Training and Behavior Competencies or Jobs
  * Search & Identify Skills and Skill Gaps with Employees, Jobs or within departments
  * Use the "Scout Report" to find Employees with Skills and Rated Skillset Proficiencies
  * Completely Customizable & Definable for Any Organization
  * Sample Database is pre-loaded with US Government Standard & Defined KSA's and Workgroups as a base to clone, copy or build your own skills, abilities and competencies
  
  <img src="/pix/tools/skill-tracker/skill-tracker-01.png" border="0" alt="Skill Tracker screenshot" width="517" height="481.9491525423729" />
  <img src="/pix/tools/skill-tracker/skill-tracker-02.png" border="0" alt="Skill Tracker screenshot" width="517" height="320.4281298299845" />
  <img src="/pix/tools/skill-tracker/skill-tracker-03.png" border="0" alt="Skill Tracker screenshot" width="517" height="325.7028885832187" />

  h2(#business-benefits). Business Benefits

  h3(#keep-skills-linked-to-jobs-and-employees). Keep Skills Linked to Jobs & Employees

  * Link Skills to Employees or Link them to the Jobs with Ratings then link employees to Jobs and rate their skills.
  * Establish Immediate Visibility of Employees to Skills or Skills to Jobs and manage Regular Training Updates and Review Cycles

  <img src="/pix/tools/skill-tracker/skill-tracker-04.png" border="0" alt="Skill Tracker screenshot" width="517" height="318.1070588235294" />
  <img src="/pix/tools/skill-tracker/skill-tracker-05.png" border="0" alt="Skill Tracker screenshot" width="517" height="313.4782034346103" />
  <img src="/pix/tools/skill-tracker/skill-tracker-06.png" border="0" alt="Skill Tracker screenshot" width="446" height="420" />

  h3(#report-examples) Report Examples

  * KSA Reports by Person, Organization and Job Positions
  ** Showcase Skill Gaps, Training Needs by Person or Department
  ** Show Target &amp; Baseline Goals &amp; Competencies by Department, Person or by Skillset
  ** Prioritize Training to Maximize and Increase Key Needed Skills
  
  <img src="/pix/tools/skill-tracker/skill-tracker-07.png" border="0" alt="Skill Tracker screenshot" width="517" height="215.6208530805687" />
  <img src="/pix/tools/skill-tracker/skill-tracker-08.png" border="0" alt="Skill Tracker screenshot" width="517" height="152.28" />
  <img src="/pix/tools/skill-tracker/skill-tracker-09.png" border="0" alt="Skill Tracker screenshot" width="504" height="505" />
  <img src="/pix/tools/skill-tracker/skill-tracker-10.png" border="0" alt="Skill Tracker screenshot" width="517" height="416.9088" />

  h2(#sharepoint-business-intelligence-reporting). SharePoint Business Intelligence Reporting

  Reporting is Designed for SharePoint Web Business Intelligence with Interactive Reports

  <img src="/pix/tools/skill-tracker/skill-tracker-bi-reporting.png" border="0" alt="BI reporting with Skill Tracker" width="517" height="387.595947556615" />
  
  * Reports are Customizable & Definable
  * Single Page Viewing for Multiple Charts (scroll down)
  * Slicers can be Modified to Different Styles (i.e. Drop Downs, Check Boxes, etc.)
  
  <img src="/pix/tools/skill-tracker/skill-tracker-gap-analysis.png" border="0" alt="Gap Analysis with Skill Tracker" width="517" height="398.3754601226994" />
  <img src="/pix/tools/skill-tracker/skill-tracker-bar-chart-1.png" border="0" alt="Bar Chart for Skill Tracker" width="517" height="247.1994535519126" />

  h2(#how-to-get-skill-tracker). How Can I Get It?

  For more information or access to s 30-day trial (localized to your environment), please contact Advisicon toll free at <a href="tel:+1-866-362-3847" class="tel" title="call us at 1-866-362-3847" onclick="_gaq.push(['_trackEvent', 'Phone Calls', 'Headquarters', 'Toll Free']);">1.866.36.ADVIS</a>.
