title: TFSconnector
keywords: 
description: 
layout: default.haml
--------------------------------------------------------META


%h1= title

-# a "sexy" image (or video, slideshow, etc.) should go here
%img{ src: "#" }

-# anything that is downloadable goes here
.downloadables
  %a.download{ href: "#",
               target: '_blank',
               title: '', 
               onclick: track_event('#CATEGORY#', 
                                    '#ACTION#', 
                                     label: '#LABEL#' ) }PLACEHOLDER TEXT

-# short description of product, pain points it solves, etc.
%h2 PLACEHOLDER TEXT
%p
  Lorum ipsum dolor sit amet.

-# summary of product features
%h2 Features
%p Lorum ipsum dolor sit amet.

-# select glowing reviews
%blockquote
  %p lorum ipsum dolor sit amet.
  .reviewer
    %cite Jane Doe
    , VP of Abduction at Lost People, Inc.
%blockquote
  %p lorum ipsum dolor sit amet.
  .reviewer
    %cite Wile E. Coyote
    , Project Manager at 
    %a{ href: 'http://www.govloop.com/profiles/blogs/the-wile-e-coyote-guide-to' }
      ACME Co.

-# cost and pricing structure
%h2 Pricing
%p Lorum ipsum dolor sit amet.
-# 
  assuming we are smart and will let them just buy the damn 
  thing, provide a link. Otherwise, we should tell them how 
  to go about purchasing the thing.
%a{ href: '#' }
  Buy now!

-# technical specifications
%h2 Hardware and Software Requirements
%ul
  %li blah
  %li blah
  %li blah

%h2 More Information
%p
  For more information please contact Advisicon, toll free at 
  %a.tel{ href: 'tel:+1-866-362-3847',
          title: '', 
          onclick: track_event('Phone Calls', 
                               'Headquarters', 
                                label: 'Toll Free') } 1.866.36.ADVIS.
