title: Amy Wachsnicht
keywords: Project Management, Vancouver, Washington, Microsoft Project Server, Microsoft Project, Microsoft Office, biography, email, Twitter, LinkedIn, Advisicon, Amy Wachsnicht, Employee, Project Manager
description: Amy Wachsnicht is the Project Coordinator at Advisicon.
employee_name: Amy Wachsnicht
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Amy</span> 
    <span class="family-name">Wachsnicht</span>
    </span>
    <br />
    <span class="title">Project Coordinator</span>
  %img.photo{ alt: 'Amy Wachsnicht', 
              src: '/pix/biopics/amy-wachsnicht.jpg', 
              width: '107', 
              height: '161' }
  %p
    Amy is the Project Coordinator at Advisicon.

  %h2.repair Contact

  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Amy%20Wachsnicht',
              onclick: track_event( 'Emails',
                                    'Amy Wachsnicht',
                                     label: 'via info@advisicon.com' ) }= employee_name
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/amy-wachsnicht.html">Add Amy to your Address Book</a>

