title: Anna Raschdorf
keywords: Project Management, Knowledge Management, Marketing, Vancouver, Washington, biography, email, Advisicon, Anna Raschdorf, Employee, Advisicon Information Services
description: Anna Raschdorf is the Marketing Advisor at Advisicon.
employee_name: Anna Raschdorf
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Anna</span> 
    <span class="family-name">Raschdorf</span>
    </span>
    <br />
    <span class="title">Marketing Advisor</span>
  %img.photo{ alt: 'Anna Raschdorf', 
              src: '/pix/biopics/anna-raschdorf.jpg', 
              width: '107', 
              height: '161' }
  %p
    Anna is the Marketing Advisor at <span class="org">Advisicon</span>.
    
  
  %h2.repair Contact
  %p
    Email 
    %a.email{ href: 'mailto:marketing@advisicon.com?subject=Question%20for%20Anna%20Raschdorf',
              onclick: track_event('Emails', 
                                   'Anna', 
                                    label: 'via marketing@advisicon.com') }Anna Raschdorf
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/anna-raschdorf.html' }
      Add Anna to your Address Book

