title: Chetan Patel
keywords: Project Management, Knowledge Management, Information Technology, IT, Microsoft Project Server, Microsoft Project, Dynamic scheduling, PMI, Microsoft Office, biography, email, pmp, Advisicon, Chetan Patel, Employee, Senior Developer
description: Chetan Patel is the Senior Developer at Advisicon.
employee_name: Chetan Patel
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Chetan</span> 
    <span class="family-name">Patel</span>
    </span>, MCP, PMP
    <br />
    <span class="title">Senior Developer</span>
  %img.photo{ alt: 'Chetan Patel', 
              src: '/pix/biopics/chetan-patel.jpg', 
              width: '107', 
              height: '161' }
  %p
    A valued member of the <span class="org">Advisicon</span> team, Chetan 
    holds the esteemed <abbr title="Project Management Professional">PMP</abbr> 
    credential through the <abbr title="Project Management Institute">PMI</abbr>. 
    He has extensive and varied experience in application architecture and 
    development, client/server and web development, process methodology, business 
    architecture, client satisfaction, technology infrastructure, e-business 
    and legacy systems, and project management.
  
  
  %h2 Accomplishments
  %ul
    %li
      15+ years of diverse experience in information technology at private, 
      federal government and non-profit organizations covering several diverse 
      industries
    %li
      7+ years of automated unit, web, load and stress testing experience with 
      unit &#40;J-unit&#41;
    %li
      9+ years of object oriented design and development experience, including 
      various design patterns
    %li
      12+ years of relational database design and development experience, 
      including writing stored procedures, triggers, and MDX queries for all 
      major databases. Online Analytical Processing &#40;OLAP&#41; methods 
      were utilized to ensure rapid online response
    %li
      In-depth experience and demonstrated capability to perform full system 
      development life cycle including business modeling, data modeling, 
      requirements definition, design, implementation, and testing and deployment
    %li
      Expertise in interfacing with EAI &#40;Tibco, and BizTalk&#41;, ERP 
      &#40;PeopleSoft, and SAP&#41;, Portal documentary &#40;Motiva&#41;, and 
      Mainframe &#40;RIS, and MV90&#41; system. Also interfaced CyberSource for 
      credit card, Ingram Micro for fulfillment, and Linkshare for affiliates
    %li
      Skilled in MOSS&#47;SharePoint configuration, WebPart or InfoPath form, 
      and SharePoint&#47;custom workflow. Developed custom interface with 
      Google search appliance or MOSS search tools
    %li
      Developed custom solutions for Microsoft Office Project Server, Portfolio 
      Server and custom interfaces with PSI and portfolio gateways


  %h2 Certifications
  %ul
    %li PMP &#40;Project Management Institute&#41;
    %li MCP &#40;Microsoft&#41;
  
  
  %h2.repair Contact
  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Chetankumar%20Patel',
              onclick: track_event('Emails', 
                                   'Chetan', 
                                    label: 'via info@advisicon.com') }Chetan Patel
  %p
    Follow 
    %a.url.twitter{ href: 'http://twitter.com/#!/SoftwareImagine',
                    title: 'Chetan (aka @SoftwareImagine)on twitter',
                    onclick: track_event('Twitter', 
                                         'User: SoftwareImagine', 
                                          label: 'User stream') }Chetan on Twitter
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/chetan-patel.html' }
      Add Chetan to your Address Book
