title: Chris Pfenninger
keywords: Project Management, Knowledge Management, Information Technology, IT, Vancouver, Washington, Microsoft Project Server, Microsoft Project, biography, email, Advisicon, Chris Pfenninger, Employee, Advisicon Information Services
description: Chris Pfenninger is Information Services at Advisicon.
employee_name: Chris Pfenninger
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Chris</span> 
    <span class="family-name">Pfenninger</span>
    </span>
    <br />
    <span class="title">Advisicon Information Services</span>
  %img.photo{ alt: 'Chris Pfenninger', 
              src: '/pix/biopics/chris-pfenninger.jpg', 
              width: '107', 
              height: '161' }
  %p
    Chris <em>is</em> Advisicon Information Services at <span class="org">Advisicon</span>, 
    Inc. Chris has over 10 years of experience in installation, repair and 
    maintenance of corporate enterprise computer hardware and software.
  %p
    He is a proven IT professional with exceptional customer service and 
    interpersonal skills, strong written and oral communication skills.
    
    
  %h2 Education
  %ul
    %li US Navy Advanced Electronics and Cryptographic schools
  
  
  %h2.repair Contact
  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Chris%20Pfenninger',
              onclick: track_event('Emails', 
                                   'Chris', 
                                    label: 'via info@advisicon.com') }Chris Pfenninger
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/chris-pfenninger.html' }
      Add Chris to your Address Book
