title: Cindy Lewis
keywords: Project Management, Knowledge Management, Information Technology, IT, Detroit, Michigan, Microsoft Project Server, Microsoft Project, Dynamic scheduling, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, mcts, mcitp, mct, pmp, PMI-SP, MVP Advisicon, Cindy Lewis, Employee, Senior Knowledge Management Solution Advisor, Director of Knowledge Management
description: Cindy Lewis is the Director of Knowledge Management and the head of the Michigan branch of Advisicon.
employee_name: Cindy Lewis 
layout: default.haml
--------------------------------------------------------META

.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Cindy</span> 
    <span class="additional-name">M.</span> 
    <span class="family-name">Lewis</span>
    </span>, 
    Project MVP, MCTS, MCITP, MCT, PMP, PMI-SP
    <br />
    <span class="title">Director of Knowledge Management</span>
  .credentialedPhoto
    <img alt="Cindy M. Lewis" src="/pix/biopics/cindy-lewis.jpg" class="photo" width="107" height="161" />
    <img alt="Microsoft MVP" src="../pix/MVPLogo.png" class="photoBadge" width="25.5" height="40" />

  %p
    Cindy is the Director of Knowledge Management at <span class="org">Advisicon</span>, 
    Inc. Cindy has focused her career on Information Technology and has over 20 
    years of project management experience in the areas of scheduling, training 
    and managing large projects. She specializes in projects that include 
    company-wide system implementations spanning the industries of: architecture, 
    financial, government, manufacturing, medical, education and high tech. 
    Cindy has in-depth expertise in lifecycle management, organizational 
    project/portfolio process development and management, and customized 
    curriculum development and execution.
  %p
    Cindy is the most recent Advisicon Team Member to receive the esteemed 
    Microsoft Most Valuable Professional (MVP) award in Microsoft Project. With 
    a mere 50-60 people having received this designation for Microsoft Project 
    out of the thousands of MVPs awarded worldwide, this is a great testament 
    to her dedication to the scheduling community.
  %p
    Cindy is an industry expert at deploying and assisting with Project Server 
    implementations in versions 2002, 2003, 2007, 2010, and 2013/Project Online. 
    Cindy has also excelled in rescuing many failed implementations of Project 
    Server, creating a state  of efficiency within the organizations she serves.
  %p
    In Project Server/Project Online Cindy captures complex business requirements 
    and delivers a best in case solution by recommending features that derive 
    value for the business and provides consultative training to apply these 
    features immediately. She has deployed Project Server Proof-of-Concept 
    instances and has also directed Project Server upgrades. Her vast experience 
    includes working with both on-site and cloud based (hosted) solutions.
  %p
    Cindy is passionate about teaching and has provided extensive training on 
    Microsoft Project in both live and virtual classroom settings. In addition 
    to teaching, she has taken a role as the lead author on courseware 
    development for new courses on Microsoft Project and Project Server.


  %h2 Accomplishments
  %ul
    %li 
      Cindy has been invited by Microsoft to participate in authoring and 
      reviewing all exams for Project 2013. Throughout Cindy's career, she has 
      contributed as a subject matter expert on all "official" Microsoft Project 
      exams for all previous versions. 
    %li
      Invited by Microsoft to work the Project booth and the Ask the Experts 
      special event at the SharePoint Conference in 2012.
    %li
      Presented at the 2012 Project Conference. Cindy delivered a top 20 
      presentation as recognized by excellent evaluation scores received at the 
      event. She was also recognized as one of the top 5 tweeters throughout 
      the conference.
    %li
      Co-authored the following books for Advisicon Publishing:
      %ul
        %li Introduction to Scheduling with Microsoft Project 2013
        %li Advanced Scheduling with Microsoft Project 2013
        %li Microsoft Project Server 2010: Project Manager's Guide
        %li Microsoft Project Server 2010: Team Member's Guide
        %li Managing Projects with Microsoft Project 2010
        %li SharePoint 2010 for Effective Project Management
        %li Numerous customized client books, exercises, and job-aids.
    %li
      Co-authored Managing Projects using Microsoft Project Server 2010 
      published by MVP-Press.
    %li
      Contributed as an author and technical editor for <a href="http://www.amazon.com/Dynamic-Scheduling-Microsoft-Office-Project/dp/1932159878">Dynamic Scheduling with Microsoft Office Project 2007</a> 
      and <a href="http://www.amazon.com/Dynamic-Scheduling-Microsoft-Project-2010/dp/1604270616">Dynamic Scheduling with Microsoft Project 2010</a>.
    %li
      Sought after speaker and featured presenter at events such as Microsoft 
      Project Conference, PMI Global Congress, and PMI chapter meetings on an 
      ongoing basis.

    
  %h2 Certifications
  %ul
    %li MVP (Most Valuable Professional): Microsoft Award in Project
    %li MS (Microsoft Specialist): Project and Project Server 2013
    %li MCTS (Microsoft Certified Technology Specialist): Project and Project Server 2007 and 2010
    %li MCITP (Microsoft Certified IT Professional): Project Server 2007
    %li MCT (Microsoft Certified Trainer)
    %li PMP (Project Management Professional): Project Management Institute
    %li PMI-SP (Project Management Institute-Scheduling Professional): Project Management Institute


  %h2 Education
  %ul
    %li MBA, inducted into Alpha Sigma Nu Honor Society, Regis University, Denver, CO
    %li BBA in Business Communication, Western Michigan University, Kalamazoo, MI


  %h2 Contributions
  %p
    Cindy is a dedicated contributor to advancing the practice of project 
    management.
    

  %h2.repair Contact
    
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Cindy%M.%20Lewis', 
              onclick: track_event('Emails', 
                                   'Cindy', 
                                    label: 'via info@advisicon.com')}Cindy M. Lewis
  %p 
    Call Cindy at 
    %span.tel
      %span.type work
      %a.value{ href: 'tel:+1-616-446-8569', 
                onclick: track_event('Phone Calls', 
                                     'Cindy', 
                                      label: 'Work Cell')}616-446-8569
  %p 
    Follow 
    %a.url.twitter{ href: 'http://twitter.com/#!/lewiscindy', 
                    title: 'Cindy (aka @LewisCindy) on twitter', 
                    onclick: track_event('Twitter', 
                                         'User: LewisCindy', 
                                          label: 'User stream')}Cindy on Twitter
  %p
    Find 
    %a.url.linkedin{ href: 'http://www.linkedin.com/in/cindylewis2', 
                     title: 'Cindy\'s LinkedIn account', 
                     onclick: track_event('LinkedIn', 
                                          'User: Cindy Lewis', 
                                          label: 'Personal Profile')}Cindy on LinkedIn
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/staff_bios/cindy-lewis.htm">Add Cindy to your Address Book</a>
  %p
    Follow 
    %a{ href: 'http://mvp.microsoft.com/en-us/mvp/Cindy%20Lewis-4039936',
    title: 'Cindy&rsquo;s MVP profile',
    onclick: track_event('Microsoft', 
                         'Cindy Lewis', 
                         label: 'MVP Profile')}Cindy&rsquo;s activities as a Microsoft MVP.    
