title: Cindy Lewis
keywords: Project Management, Knowledge Management, Information Technology, IT, Detroit, Michigan, Microsoft Project Server, Microsoft Project, Dynamic scheduling, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, mcts, mcitp, mct, pmp, PMI-SP, MVP Advisicon, Cindy Lewis, Employee, Senior Knowledge Management Solution Advisor, Director of Knowledge Management
description: Cindy Lewis is the Director of Knowledge Management and the head of the Michigan branch of Advisicon.
employee_name:
layout: base-alt/default.haml
--------------------------------------------------------META

.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Cindy</span> 
    <span class="additional-name">M.</span> 
    <span class="family-name">Lewis</span>
    </span>, 
    Project MVP, MCTS, MCITP, MCT, PMP, PMI-SP
    <br />
    <span class="title">Director of Knowledge Management</span>
  .credentialedPhoto
    <img alt="Cindy M. Lewis" src="/pix/biopics/cindy-lewis.jpg" class="photo" width="107" height="161" />
    <img alt="Microsoft MVP" src="../pix/MVPLogo.png" class="photoBadge" width="25.5" height="40" />

  :textile
    
    #{render_partial '/partials/references_books'}

    Cindy is the Director of Knowledge Management at <span class="org">Advisicon</span>, Inc. Cindy has focused her career on Information Technology and has nearly 20 years of project management experience in the areas of scheduling, training and managing large projects. She specializes in projects that include company-wide system implementations spanning the industries of: architecture, financial, manufacturing, medical, education and high tech. Cindy has in-depth expertise in lifecycle management, organizational project/portfolio process development and management, and customized curriculum development and execution.

    Cindy is the most recent Advisicon Team Member to receive the esteemed  Microsoft Most Valuable Professional (MVP) award in Microsoft Project.  With a mere 50-60 people having received this designation for Microsoft  Project out of the thousands of MVPs awarded worldwide, this is a great testament to her dedication to the scheduling community.

    Cindy is an industry expert at deploying and assisting with Project Server implementations in versions 2002, 2003, and 2007. Cindy has also excelled in rescuing many failed implementations of Project Server, creating a state  of efficiency within the organizations she serves.

    In Project Server 2010 Cindy captures complex business requirements and delivers a best in case solution by recommending features that derive value for the business and provides consultative training to apply these features immediately. She has deployed Project Server 2010 Proof-of-Concept instances and has also directed Project Server 2007 to Project Server 2010 upgrades. Her vast experience includes working with both on-site and cloud based (hosted) solutions.

    Cindy is passionate about teaching and has provided extensive training on Microsoft Project in both live and virtual classroom settings. In addition to teaching, she has taken a role as the lead author on courseware development for new courses on Microsoft Project and Project Server.

    Accomplishments
    ---------------

    * Invited by Microsoft to participate in authoring and reviewing all exams for Project 2013.
    * Invited by Microsoft to work the Project booth and the Ask the Experts 
      special event at the SharePoint Conference in 2012.
    * Presented at the 2012 Project Conference. Cindy's presentation scores 
      tied for 13th place out of all sessions given at the event. She was also 
      recognized as one of the top 5 tweeters throughout the conference.
    * Co-authored the following books for Advisicon Publishing:
        * [Microsoft Project Server 2010: Project Manager's Guide][MSPS2010_PM-book]
        * [Microsoft Project Server 2010: Team Member's Guide][MSPS2010_TM-book]
        * [Managing Projects with Microsoft Project 2010][MPwMP2010-book]
        * [SharePoint 2010 for Effective Project Management][SPfEPM-book]
        * Numerous customized client books, exercises, and job-aids.</ul>
    * Co-authored <cite>Managing Projects using Microsoft Project Server 2010</cite> 
      published by MVP-Press.
    * Contributed as an author and technical editor for 
      "Dynamic Scheduling with Microsoft Office Project 2007":http://www.amazon.com/Dynamic-Scheduling-Microsoft-Office-Project/dp/1932159878 and 
      "Dynamic Scheduling with Microsoft Project 2010":http://www.amazon.com/Dynamic-Scheduling-Microsoft-Project-2010/dp/1604270616.
    * Invited by Microsoft to participate in exam objective development for 
      Project and Project Server 2007 and 2010.
    * Co-authored all of the Microsoft Official Courseware (MOC) for Project 
      and Project Server 2007.
    * Sought after speaker and featured presenter at events such as Microsoft 
      Project Conference, PMI Global Congress, and PMI chapter meetings on an 
      ongoing basis.

    Certifications
    --------------

    * MVP(Most Valuable Professional): Microsoft Award in Project
    * MCTS(Microsoft(r) Certified Technical Specialist): Project and Project Server 2007 and 2010
    * MCITP(Microsoft Certified IT Professional): Project Server 2007
    * MCT(Microsoft Certified Trainer)
    * PMP(Project Management Professional): Project Management Institute
    * PMI-SP(Project Management Institute-Scheduling Professional): Project Management Institute

    Education
    ---------

    * MBA, inducted into Alpha Sigma Nu Honor Society, Regis University, Denver, CO
    * BBA in Business Communication, Western Michigan University, Kalamazoo, MI

    Contributions
    -------------

    Cindy is a dedicated contributor to advancing the practice of project 
    management.

    ### Books ###
  
    * [SharePoint 2010 for Effective Project Management][SPfEPM-book]
    * [Microsoft Project Server 2010: Team Member's Guide][MSPS2010_TM-book]
    * [Managing Projects with Microsoft Project 2010][MPwMP2010-book]
    * [Micorosoft Project Server 2010: Project Manager's Guide][MSPS2010_PM-book]
    * \[upcoming\] Introduction to Scheduling with Microsoft Project: Best 
      Practices with Project MVPs
    * \[upcoming\] Advanced Scheduling with Microsoft Project: Power Scheduling 
      from Project MVPs
  
    ### Guest Posts ###
    * "BeMo News | June 2013: Volume 3, Number 6":http://archive.constantcontact.com/fs109/1112227710467/archive/1113769746741.html
  

  %h2.repair Contact
    
  %p Email <a href="mailto:info@advisicon.com?subject=Question for Cindy M. Lewis" class="email" onclick="_gaq.push(['_trackEvent', 'Emails', 'Cindy', 'via info@advisicon.com']);">Cindy M. Lewis</a>
  %p 
    Call Cindy at <span class="tel"><span class="type">work</span> <a href="tel:+1-616-446-8569" class="value" onclick="_gaq.push(['_trackEvent', 'Phone Calls', 'Cindy', 'Work Cell']);">616-446-8569</a></span>
  %p 
    Follow <a href="http://twitter.com/#!/lewiscindy" class="url twitter" title="Cindy (aka @LewisCindy)on twitter" onclick="_gaq.push(['_trackEvent', 'Twitter', 'User: LewisCindy', 'User stream']);">Cindy on Twitter</a>
  %p
    Find <a href="http://www.linkedin.com/in/cindylewis2" class="url linkedin" title="Cindy's LinkedIn account" onclick="_gaq.push(['_trackEvent', 'LinkedIn', 'User: Cindy Lewis', 'Personal Profile']);">Cindy on LinkedIn</a>
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/staff_bios/cindy-lewis.htm">Add Cindy to your Address Book</a>