title: Dave Ply
keywords: Senior Development Advisor, Unix, Microsoft, Project Server, Project, programming, biography, email, Advisicon, Dave Ply, Employee
description: Dave Ply is a Microsoft development expert.
employee_name: Dave Ply
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Dave</span> 
    <span class="family-name">Ply</span>
    </span>
    <br />
    <span class="title">Senior Development Advisor</span>
  %img.photo{ alt: 'Dave Ply', 
              src: '/pix/biopics/dave-ply.jpg', 
              width: '107',
              height: '161' }
  %p
    Dave is an application developer with a deep and broad range of experience 
    with various technologies and industries over a span of 33 years. He has 
    worked in mainframe, Unix, and Microsoft environments.
  %p
    He is adept with both web-based and client/server development. He has 
    extensive database experience, especially relational databases. He has 
    comprehensive familiarity with all phases of application development, i.e. 
    Definition, Analysis, Design, Programming, Testing, and Deployment. His 
    extensive experience makes Dave an asset in any environment.
  
  %h2 Accomplishments
  %ul
    %li 33 years of development experience
    %li Experience in Mainframe, Unix and Microsoft environments
    %li Strong flexibility and adaptability to developing in any environment
    %li Deep knowledge of application development lifecycle management
    %li Comprehensive familiarity with many development languages
    %li Proficient in web-based and client/server development
    %li Extensive experience with relational databases
    %li Skilled in all phases of development

  %h2 Specialties
  %ul
    %li .NET
    %li Java
    %li Visual Basic &#40;all variants&#41;
    %li <abbr title="Structured Query Language">SQL</abbr>
    %li C#
    %li <abbr title="HyperText Markup Language">HTML</abbr>
    %li JavaScript
    %li <abbr title="eXtensible Markup Language">XML</abbr>
  
  %h2.repair Contact 	
  %p
    Email 
    %a.email{ href: 'mailto:daveply@msn.com', 
              onclick: track_event('Emails', 
                                   'Dave', 
                                    label: 'via daveply@msn.com') }Dave Ply
  %p 
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/dave-ply.html' }
      Add Dave to your Address Book
