title: Jeff Poste
keywords: 
description: Jeff Poste is the Director of Product Development at Advisicon.
employee_name: Jeff Poste
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Jeff</span> 
    <span class="family-name">Poste</span>
    </span>
    <br />
    <span class="title">Director of Product Development</span>
  %img.photo{ alt: 'Jeff Poste', 
              src: '/pix/biopics/jeff-poste.jpg', 
              width: '107', 
              height: '161' }
    

  %p
    Jeff is the Director of Product Development at Advisicon and has a long and 
    varied career in both leading, and being hands-on as a specialist technical 
    resource building better mousetraps. 

  %p
    He began his career as a communications and electronics engineering officer 
    in the army commanding a troop of 50 whose mission was to provide mobile, 
    tactical, secure, and highly available communications networks for an army 
    Brigade Group. When not in the field he made sure that his people were 
    trained in the technological and practical skills they needed to do their 
    job, and identified and developed potential leaders on his team. This early 
    experience developed a formula for success he has used in all organizations 
    ever since:

    %ol
      %li 
        The first priority is to accomplish the objective. 
      %li 
        The second priority only infinitesimally behind the first, is to develop 
        and look after your people, because they are the tool that the 
        organization has given you to accomplish the objective with.
      %li
        Create an environment where people are not afraid to be honest when 
        they disagree with you or the organization. If you do this your people 
        will continually provide new ideas and opportunities to innovate. 
        Innovation promotes success, and success motivates people.
      %li
        Understand the technologies that you are using, and their strengths and 
        limitations in practical application.
      %li
        Know and manage the details.
    %p
      After 9 years in the military and a second degree in Computer Science, 
      he joined Texaco Canada Resources as a software developer specializing 
      in digital signal processing and analysis, and 3D graphics modeling and 
      simulation software for geologists and geophysicists.  During this time 
      he was promoted to lead the Scientific Systems Development Team, and then 
      after a corporate merger led geoscience system development at the Esso 
      Research Centre. 
    %p
      Subsequently he became the author of the first client / server system 
      development methodology at a worldwide systems integrator, and then led 
      the Technology &amp; Client Support Group at Norcen Energy which was 
      responsible for the data center, network, and acquisition and support of 
      all systems and geoscience software, before becoming an independent IT 
      Consultant working with many different organizations and technologies.
    %p
      Key Competencies:
    %ul
      %li Enterprise Project Management, and Enterprise Content Management
      %li Business Process Analysis &amp; Simulation
      %li System Development Methodology, IT Architecture
      %li 
        Microsoft SharePoint and Project Server Architecture, Infrastructure, 
        Design, Implementation, and Operational Support
      %li Microsoft .NET Framework C# Development
      %li Microsoft Office InfoPath Forms Design, Development, and Automation
      %li Windows Server 2012 R2, Hyper-V Virtualization, SQL Server 2012

  %h2.repair Contact

  %p
    Email 
    %a.email{ href:   'mailto:info@advisicon.com?subject=Question%20for%20Jeff%20Poste',
              onclick: track_event('Emails', 
                                   'Jeff Poste', 
                                    label: 'via info@advisicon.com') }Jeff Poste
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/jeff-poste.html">Add Jeff to your Address Book</a>


