title: Jeff Jacobson
keywords: Project Management, Information Technology, IT, art, graphic design, book design, quality assurance, web design, print, biography, email, Twitter, LinkedIn, Adobe, Advisicon, Jeff Jacobson-Swartfager, Employee, Technical Communications Advisor
description: Jeff Jacobson-Swartfager is the Technical Communications Advisor and head of the Press department at Advisicon.
employee_name: Jeff Jacobson-Swartfager
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Jeff</span> 
    <span class="family-name">Jacobson-Swartfager</span>
    </span>
    <br />
    <span class="title">Technical Communications Advisor</span>
  %img{ :alt => "Jeff Jacobson-Swartfager", :src => "/pix/biopics/jeff-jacobson-swartfager.jpg", :class => "photo", :width => "107", :height => "161" }
    
  :textile

    Jeff is a Technical Communications Advisor at <span class="org">Advisicon</span>, Inc. He has been accused of being a bit of a typography nerd. While it is true that he loves a good ligature and a solid grid sytem, he is also an illustrator and builder. This fine fellow obsessively collects new skills like a Lepidopterist collects butterflies in a field.

    He has been working in Desktop Publishing since 2007 and in Graphic Design since 2006. He's often a good person to talk to when you are having a problem with Adobe software or with your fonts in general.

    Occasionally you may find Jeff volunteering his time to effect political change, contributing to news, culture, and food magazines, or making awesome things with the Portland Tech community.

    Jeff believes beauty and functionality are intimately related and works to incorporate both into any project he is a part of.

    Jeff plays well with others.

  %h2.repair Contact

  %p
    Email <a href="mailto:info@advisicon.com?subject=Question for Jeff Jacobson-Swartfager" class="email" onclick="_gaq.push(['_trackEvent', 'Emails', 'Jeff', 'via info@advisicon.com']);">Jeff Jacobson-Swartfager</a>
  %p
    Jeff is voice behind <a href="http://twitter.com/#!/advisicon" class="url twitter" title="Jeff (aka @Advisicon)on twitter" onclick="_gaq.push(['_trackEvent', 'Twitter', 'User: Advisicon', 'User stream']);">@Advisicon</a>
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/staff_bios/jeff-jacobson-swartfager.htm">Add Jeff to your Address Book</a>
