title: Jesse Phillips-Mead
keywords: 
description: Jesse Phillips-Mead is a Project Advisor of Viso Business Services at Advisicon.
employee_name: Jesse Phillips-Mead
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Jesse</span> 
    <span class="family-name">Phillips-Mead</span>
    </span>, MCP
    <br />
    <span class="title">Project Advisor of Visio Business Services</span>
  %img.photo{ alt: 'Jesse Phillips-Mead', 
              src: '/pix/biopics/jesse-phillips-mead.jpg', 
              width: '107', 
              height: '161' }
    

  %p
    Jesse is a Project Advisor at Advisicon.
  %p
    I&lsquo;m a Seattle native; I attended a private Catholic school in Ravenna 
    k-8, and then finished all four years of high school at Issaquah High School 
    (while my mother worked at Microsoft as an editor). While there, I became 
    very interested in business topics and twice led our school&lsquo;s DECA team to 
    the state championship for our business and marketing plan creations. After 
    high school, I attended a year of college on the east coast, completing one 
    year. I returned to Seattle and began an entry-level career in banking, 
    rising to the level of Universal Banker. In 2009, I set a goal to become 
    an air traffic controller, something I was inspired to do because my family, 
    including my mother and all the way back to my great-grandfather, has a 
    history of patriotic service. I joined the Air National Guard that year and 
    during basic training I unprecedentedly led my 50-man squadron through the 
    entire 8 week basic course, which required self-discipline, leadership 
    skills and a strong commitment to integrity. I have been a gamer my whole 
    life (World of Warcraft, etc), and, as it turns out, that made me a natural 
    at controlling complex air spaces and calmly multi-tasking. In one of the 
    toughest schools in the Air Force, with a washout rate of 85 percent, I 
    graduated in the top 5% of my Air Traffic Control class. I&lsquo;m currently a 
    Senior Airman (E-4) and will make Staff Sergeant (E-5) within the next 6 
    months. I am now scheduled to attend Leadership School. In my Air Guard 
    career I have been given responsibilities above and beyond my grade because 
    I&lsquo;ve demonstrated both the drive and the ability, in particular to prepare 
    our unit for a national-level inspection. While supporting the mission of 
    the 173rd Fighter Wing, I was hand-picked by my first sergeant to interview 
    for Advisicon, a project management consulting company in Vancouver 
    Washington that was searching for people with, as they said, &ldquo;aptitude 
    and attitude&rdquo; to succeed. They saw me as a natural fit, plug-and-play, 
    as they say. I began there in April 2013 and have rapidly become the expert 
    in Visio. While at Advisicon, I&lsquo;ve become certified Project 2013, 
    have led conference teams, taught Microsoft Project, Project Server and 
    SharePoint 2013 user courses. I walk on water with Visio and have been 
    identified both within the company and with the MS Visio team as a first-class 
    expert, integrating Visio 2013, Project 2013 and Project Management 
    Methodologies together to create a visual view of tasks and statuses. I am 
    currently engaged in having my experience in and out of the military assessed 
    for college credit and intend to finish my bachelors in Business Management 
    at night school. My goal is to finish by 2016. My next professional goal is 
    to become a Project Management Professional (PMP), which I will accomplish 
    by continuing on the Project Management path, documenting my hours and 
    experiences with great detail.
 

  %h2.repair Contact

  %p
    Email 
    %a.email{ href:   'mailto:info@advisicon.com?subject=Question%20for%20Jesse%20Phillips-Mead',
              onclick: track_event('Emails', 
                                   'Jesse Phillips-Mead', 
                                    label: 'via info@advisicon.com') }Jesse Phillips-Mead
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/jesse-phillips-mead.html">Add Jesse to your Address Book</a>

