title: Jesse Phillips-Mead
keywords: 
description: Jesse Phillips-Mead is a Project Advisor of Viso Business Services at Advisicon.
employee_name: Jesse Phillips-Mead
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Jesse</span> 
    <span class="family-name">Phillips-Mead</span>
    </span>
    <br />
    <span class="title">Project Advisor of Visio Business Services</span>
  %img.photo{ alt: 'Jesse Phillips-Mead', 
              src: '/pix/biopics/jesse-phillips-mead.jpg', 
              width: '107', 
              height: '161' }
    

  %p
    Jesse is a Project Advisor at Advisicon.

  %h2.repair Contact

  %p
    Email 
    %a.email{ href:   'mailto:info@advisicon.com?subject=Question%20for%20Jesse%20Phillips-Mead',
              onclick: track_event('Emails', 
                                   'Jesse Phillips-Mead', 
                                    label: 'via info@advisicon.com') }Jesse Phillips-Mead
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/jesse-phillips-mead.html">Add Jesse to your Address Book</a>

