title: Jon Kangas
keywords: SharePoint, developer, Washington, C#, VB.NET,  biography, email, Advisicon, Jon Kangas, Employee
description: Jon Kangas is a SharePoint Backend Developer at Advisicon.
employee_name: Jon Kangas
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Jon</span> 
    <span class="family-name">Kangas</span>
    </span>
    <br />
    <span class="title">SharePoint Backend Developer</span>
  %img.photo{ alt: 'Jon Kangas', 
              src: '/pix/biopics/jon-kangas.jpg', 
              width: '107', 
              height: '161' }
  %p
    Jon is a SharePoint Backend Developer at Advisicon.

  %h2.repair Contact

  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Jon%20Kangas',
              onclick: track_event( 'Emails',
                                    'Jon Kangas',
                                     label: 'via info@advisicon.com' ) }= employee_name
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/jon-kangas.html">Add Jon to your Address Book</a>



