title: Kelli Stricker
keywords: Project Management, Knowledge Management, Vancouver, Washington, Microsoft Project Server, Microsoft Project, Microsoft Office, biography, email, LinkedIn, Advisicon, Kelli Stricker, Employee, Scheduler
description: Kelli Stricker is a Project Advisor at Advisicon.
employee_name: Kelli Stricker
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Kelli</span> 
    <span class="family-name">Stricker</span>
    </span>
    <br />
    <span class="title">Project Advisor</span>
  %img.photo{ alt: 'Kelli Stricker', 
              src: '/pix/biopics/kelli-stricker.jpg', 
              width: '107', 
              height: '161' }
  %p
    Kelli is a Project Advisor at Advisicon.

  %h2.repair Contact

  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Kelli%20Stricker',
              onclick: track_event( 'Emails',
                                    'Kelli Stricker',
                                     label: 'via info@advisicon.com' ) }= employee_name
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/kelli-stricker.html">Add Kelli to your Address Book</a>


