title: Ken Loewen
keywords: biography, email, Advisicon, Ken Loewen, Employee
description: Ken Loewen is a Director of Professional Services at Advisicon.
employee_name: Ken Loewen
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Ken</span> 
    <span class="family-name">Loewen</span>
    </span>
    <br />
    <span class="title">Director of Professional Services</span>
  %img.photo{ alt: 'Ken Loewen', 
              src: '/pix/biopics/ken-loewen.jpg', 
              width: '107', 
              height: '161' }
  %p
    Ken is a Director of Professional Services at Advisicon.

  %h2.repair Contact

  %p
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Ken%20Loewen',
              onclick: track_event( 'Emails',
                                    'Ken Loewen',
                                     label: 'via info@advisicon.com' ) }= employee_name
  %p
    <a href="http://h2vx.com/vcf/advisicon.com/about-us/ken-loewen.html">Add Ken to your Address Book</a>




