title: Kristin Raglione
keywords: Project Management, Knowledge Management, Microsoft Project Server, Microsoft Project, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, Advisicon, Kristin Raglione, Employee, Marketing Advisor
description: Kristin Raglione is the Marketing Advisor at Advisicon.
employee_name: Kristin Raglione
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Kristin</span> 
    <span class="family-name">Raglione</span>
    </span>
    <br />
    <span class="title">Marketing Advisor</span>
  %img.photo{ alt: 'Kristin Raglione', 
              src: '/pix/biopics/kristin-raglione.jpg', 
              width: '107', 
              height: '161' }
  %p
    Kristin Raglione is <span class="org">Advisicon</span>'s Marketing Advisor.


  %h2.repair Contact
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Kristin%20Raglione',
              onclick: track_event('Emails', 
                                   'Kristin', 
                                    label: 'via info@advisicon.com') }Kristin Raglione
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/kristin-raglione.html'}
      Add Kristin to your Address Book
