title: Pam Greensky
keywords: Project Management, Knowledge Management, Microsoft Project Server, Microsoft Project, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, Advisicon, Pam Greensky, Employee, Marketing Advisor
description: Pam Greensky is Operations at Advisicon.
employee_name: Pam Greensky
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Pam</span> 
    <span class="family-name">Greensky</span>
    </span>
    <br />
    <span class="title">Operations</span>
  %img.photo{ alt: 'Pam Greensky', 
              src: '/pix/biopics/pam-greensky.jpg', 
              width: '107', 
              height: '161' }
  %p
    Pam Greensky is Operations at <span class="org">Advisicon</span>.


  %h2.repair Contact
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Pam%20Greensky',
              onclick: track_event('Emails', 
                                   'Pam', 
                                    label: 'via info@advisicon.com') }Pam Greensky
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/pam-greensky.html'}
      Add Pam to your Address Book

