title: Rick Gardner
keywords: Project Management, Knowledge Management, Mexico City, Mexico, Microsoft Project Server, Microsoft Project, Dynamic scheduling, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, mcts, mcitp, mct, pmp, Advisicon, Rick Gardner, Employee, Director of Operations, Latin America
description: Rick Gardner is the Director of Operations at the Latin American branch of Advisicon.
employee_name: Rick Gardner
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Rick</span> 
    <span class="family-name">Gardner</span>
    </span>,
    PMP
    <br />
    <span class="title">Director of Operations &ndash; Latin America</span>
  %img.photo{ alt: 'Rick Gardner', 
              src: '/pix/biopics/rick-gardner.jpg', 
              width: '107', 
              height: '161' }
  %p
    Rick Gardner is <span class="org">Advisicon</span>'s Director of Operations 
    for Latin America. Rick is also a <abbr title="Project Management Professional">PMP</abbr> 
    through <abbr title="the Project Management Institute">PMI</abbr>.
  %p
    His 20 years of experience encompasses managing major International accounts 
    as well as business development in Latin America; including strategic 
    business plans and cultivating partnership opportunities. His strong 
    customer-driven focus creates an environment for success in achieving 
    business strategies, development of internal talent and capturing lessons 
    learned to build intellectual assets for clients.


  %h2 Accomplishments
  %ul
    %li 20 years of in-depth experience
    %li Business development in North and Latin America
    %li Published author
    %li Deliver instruction of Project Management courses
    %li Guest instructor at Universidad Nacional Autonama de Mexico
    %li Effective relationship management and mentoring
    %li Analysis of obstacles and opportunities to achieve project goals
    %li Document project plans, agreements, organizational campaigns
    %li Contract administration
    %li Creative problem solving and successful negotiating
    %li Maintain strong relationships with internal and external customers
    %li Dynamic one-on-one and group presentations
    %li Prioritizing and organizing customer support
    %li 
      Bilingual in Spanish - fluent in conversation and writing skills with 
      excellent grammar, pronunciation, and vocabulary
  
  
  %h2 Certifications
  %ul
    %li PMP

  %h2.repair Contact
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Rick%20Gardner',
              onclick: track_event('Emails', 
                                   'Rick', 
                                    label: 'via info@advisicon.com') }Rick Gardner
  %p 
    Call Rick at 
    %span.tel
      %span.type{ value: 'work' }
        %a.value{ href: 'tel:+1-541-306-3947', 
                  onclick: track_event('Phone Calls', 
                                       'Rick', 
                                        label: 'Desk') }541-306-3947
  %p
    Follow 
    %a.url.twitter{ href: 'http://twitter.com/#!/RLGY',
                    title: 'Rick (aka @RLGY)on twitter', 
                    onclick: track_event('Twitter', 
                                         'User: RLGY', 
                                          label: 'User stream') }Rick on Twitter
  %p
    Find 
    %a.url.linkedin{ href: 'http://www.linkedin.com/pub/rick-gardner-pmp/6/b31/5a7',
                     title: "Rick's LinkedIn account", 
                     onclick: track_event('LinkedIn', 
                                          'User: Rick Gardner', 
                                           label: 'Personal Profile') }Rick on LinkedIn
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/rick-gardner.html'}
      Add Rick to your Address Book
