title: Stacey Garner
keywords: Project Management, Knowledge Management, Microsoft Project Server, Microsoft Project, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, Advisicon, Stacey Garner, Employee, Marketing Advisor
description: Stacey Garner is Human Resources at Advisicon.
employee_name: Stacey Garner
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Stacey</span> 
    <span class="family-name">Garner</span>
    </span>
    <br />
    <span class="title">Human Resources</span>
  %img.photo{ alt: 'Stacey Garner', 
              src: '/pix/biopics/stacey-garner.jpg', 
              width: '107', 
              height: '161' }
  %p
    Stacey Garner is Human Resources at <span class="org">Advisicon</span>.


  %h2.repair Contact
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Stacey%20Garner',
              onclick: track_event('Emails', 
                                   'Stacey', 
                                    label: 'via info@advisicon.com') }Stacey Garner
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/stacey-garner.html'}
      Add Stacey to your Address Book
