title: Stowe St. Pierre
keywords: Project Management, Information Technology, IT, Microsoft Project Server, Microsoft Project, SharePoint, MCTS, biography, email, Advisicon, Stowe St. Pierre, Employee, Senior Solutions Architect
description: Stowe St. Pierre is a Microsoft Project and SharePoint expert.
employee_name: Stowe St. Pierre
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Stowe</span> 
    <span class="family-name">St. Pierre</span>
    </span>, 
    MCTS
  %img.photo{ alt: 'Stowe St. Pierre', 
              src: '/pix/biopics/stowe-st-pierre.jpg', 
              width: '107', 
              height: '161' }
  %p
    Stowe brings over 10 years of experience in SharePoint development and 
    Information Technology. He also holds the prestigious Microsoft Certified 
    Technology Specialist certification.
  %p
    Stowe is creative and innovative with strong problem solving skills. He 
    possesses an outstanding customer-focused reputation. He is dedicated to 
    meeting expectations and requirements of internal and external customers 
    with exceptional communication skills. His extensive experience allows him 
    to work well with all levels within an organization from operations staff 
    to senior level management.
  %p
    Stowe strives to provide his clients with the best technical experience 
    available, while leaving them educated and prepared to manage future projects.

  %h2 Accomplishments
  %ul
    %li Expertise in Microsoft SharePoint, Project and Project Server
    %li Enterprise Collaboration &#8211; Design and Administration
    %li Precise drafting of Technical and Business Use Cases
    %li Operational Analysis and Process Improvement
    %li Object Oriented Design
    %li Detailed End-user Training and Support
    %li Data Analysis and Modeling
    %li Data, Activity and Workflow Creation
    %li Experience with Windows Based Operating Systems

  %h2>Certifications
  %ul
    %li <abbr title="Microsoft Certified Technology Specialist">MCTS</abbr>

  %h2.repair Contact 	
  %p
    Email 
    %a.email{ href: 'mailto:ststoweman@hotmail.com?subject=Question%20for%20Stowe%20St.%20Pierre%20-%20Advisicon',
              onclick: track_event('Emails', 
                                   'Stowe', 
                                   label: 'via ststoweman@hotmail.com') }Stowe St. Pierre
  %p
    Call Stowe on his 
    %span.tel
      %span.type cell 
      %a.value{ href: 'tel:+1-480-528-3468', 
                onclick: track_event('Phone Calls', 
                                     'Stowe', 
                                     label: 'Cell') }480-528-3468 
  %p
    Find 
    %a.url.linkedin{ href: 'http://www.linkedin.com/in/stowestpierre', 
                     title: 'Stowe\'s LinkedIn account',
                     onclick: track_event('LinkedIn',
                                          'User: Stowe St. Pierre',
                                           label: 'Personal Profile') }Stowe on LinkedIn
  %p
    Circle 
    %a.url.googleplus{ href: 'https://plus.google.com/111878035823226755038',
                       title: 'google plus',
                       onclick: track_event('Google+',
                                            'Stowe St. Pierre',
                                             label: 'Personal Profile') }Stowe on Google Plus
  %p <a href="http://h2vx.com/vcf/advisicon.com/about-us/stowe-st-pierre.html">Add Stowe to your Address Book</a>
