title: Tim Runcie
keywords: Project Management, Knowledge Management, Vancouver, Washington, Microsoft Project Server, Microsoft Project, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, mcts, mcp, mvp, pmp, Advisicon, Tim Runcie, Employee, President, Founder
description: Tim Runcie is the President and Founder of Advisicon.
employee_name: Tim Runcie
layout: base-alt/default.haml
--------------------------------------------------------META



.vcard
  %h1
    <span class="fn n">
    <span class="given-name" id="name">Tim</span> 
    <span class="family-name">Runcie</span></span>, MCTS, MCP, MVP, PMP<br />
    <span class="title">President</span> &amp; Founder</h1>
  .credentialedPhoto
    %img.photo{ :alt => "Tim Runcie", :src => "/pix/biopics/tr-x.jpg", :width => "107", :height => "161" }
    %img.photoBadge{ :alt => "Microsoft MVP", :src => "../pix/MVPLogo.png", :width => "25.5", :height => "40" }
    
  :textile
    #{ render_partial '/partials/references_books' }
    
    Tim Runcie, the President of <span class="org">Advisicon</span>, has over 15 years of experience in information systems and 12 years of construction project management. His overall background has been in project portfolio planning. He has guided organizations to successfully manage competing initiatives using scarce resources, fixed budgets and interconnected schedules. He is particularly adept at teaching and establishing project methodologies that are adopted into the project management culture of organizations and creating custom tools to expedite and automate the project management process.

    Tim's true love is in teaching. When not leading or mentoring organizations, he is actively involved in teaching classes, or developing courses and training programs centered on the disciplines and technologies of project management. To every project, he brings a personal passion for education and a commitment to providing customers with a full set of skills and tools to achieve optimum success.

    h2. Accomplishments
  
    * Develop and design PMO(Project Management Office)s for various industries and departments
    * Establish project and program infrastructures to support organizational business objectives
    * Published Author
    * Deliver interactive and consultative training to all levels of stakeholder classes
    * Participate in project and program management associations dedicated to furthering the project management profession
    * Develop partner business channels
    * Create and implement strategy-based business solutions
    * Analyze workflow system architecture
    * Well-versed in technology infrastructure
  
    h2. Certifications
  
    * Microsoft MCTS(Microsoft Certified Technology Specialist), MCP(Microsoft Certified Professional)
    * Microsoft MVP(Most Valuable Professional) in Project. One of less than 40 MVPs in Project world-wide.
    * Project Management Institute PMP(Project Management Professional)

    h2(repair). Contact

    <p>Email <a href="mailto:info@advisicon.com?subject=Question for Tim Runcie" class="email" onclick="_gaq.push(['_trackEvent', 'Emails', 'Tim', 'via info@advisicon.com']);">Tim Runcie</a></p>
    <p>Follow <a href="http://twitter.com/#!/projectmvp" class="url twitter" title="Tim (aka @projectmvp)on twitter" onclick="_gaq.push(['_trackEvent', 'Twitter', 'User: projectmvp', 'User stream']);">Tim on Twitter</a></p>
    <p>Find <a href="http://www.linkedin.com/pub/tim-runcie-mcts-mcp-pmp-mvp/1/130/922" class="url linkedin" title="Tim's LinkedIn account" onclick="_gaq.push(['_trackEvent', 'LinkedIn', 'User: Tim Runcie', 'Personal Profile']);">Tim on LinkedIn</a></p>
    <p><a href="http://h2vx.com/vcf/advisicon.com/staff_bios/tim-runcie.htm">Add Tim to your Address Book</a></p>

