title: Tye Trepanier
keywords: Project Management, Knowledge Management, Microsoft Project Server, Microsoft Project, PMI, Microsoft Office, biography, email, Twitter, LinkedIn, pmp, Advisicon, Tye Trepanier, Employee, Director of Advisicon Professional Services, Latin America
description: Tye Trepanier is the Director of Professional Services at Advisicon.
employee_name: Tye Trepanier
layout: default.haml
--------------------------------------------------------META


.vcard
  %h1
    <span class="fn n">
    <span class="given-name">Tye</span> 
    <span class="family-name">Trepanier</span>
    </span>, PMP
    <br />
    <span class="title">Director of Advisicon Professional Services</span>
  %img.photo{ alt: 'Tye Trepanier', 
              src: '/pix/biopics/tye-trepanier.jpg', 
              width: '107', 
              height: '161' }
  %p
    Tye Trepanier is <span class="org">Advisicon</span>'s Director of Professional
    Services.


  %h2.repair Contact
  %p 
    Email 
    %a.email{ href: 'mailto:info@advisicon.com?subject=Question%20for%20Tye%20Trepanier',
              onclick: track_event('Emails', 
                                   'Tye', 
                                    label: 'via info@advisicon.com') }Tye Trepanier
  %p
    %a{ href: 'http://h2vx.com/vcf/advisicon.com/about-us/tye-trepanier.html'}
      Add Tye to your Address Book

