title: Banjercito | Case Study
case_study: true
keywords: Project Management Office Development, PMO, case study, Banjercito, bank, Microsoft, Project Server, Microsoft Office
description: A case study of our PMO implementation for Banjercito.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Banjercito <span itemprop='genre'>Case Study</span>: 
  Project Management Organization Implimentation
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Banjercito was implimenting project management best practices to standardize 
      its processes and needed a technological platform to support this development. 
      Advisicon deployed Microsoft&reg; Project Server, introduced standardizations, 
      and trained the users at Banjercito.
    %p  
      Efficiency, communication, processes and reporting were all improved.
  #aboutClient
    %h2 About Banjercito
    %img{ src: '/pix/case-studies/Banjercito-logo.jpg' }
    %p
      <a href='http://www.banjercito.com.mx/'>Banjercito</a> was 
      founded in Mexico in 1947 as the National Bank of the Army, Navy and Air 
      Force. Over the years it has had to adapt to significant changes in the 
      Mexican banking system. Banjercito has evolved to be a national credit and 
      development institution that forms part of the Federal Public Administration 
      system, while still retaining its corporate identity. Banjercito reinvented 
      its identity and reengineered its services to meet the realities of the 
      modern business climate. It strategically repositioned itself in order to 
      offer its customers efficient, practical services designed to meet the 
      demands of today's market.
  #businessSituation
    %h2 Business Situation
    %p
      Banjercito needed a technological platform to support the required project 
      management best practices that would help it standardize processes. This 
      was critical to its efforts to successfully deliver strategic projects that 
      would realign its services and reinvent its image.
    %p
      Banjercito did not have the tools, technology or methodology in place to 
      manage their strategic projects. The consequences were projects that grew 
      out of control in scope, projects were not completed on time and projects 
      that were over budget. Each of these costly initiatives failed to create 
      the desired results. Staff members assigned to projects consistently worked 
      overtime because project resources were constantly over allocated.
  #solutionDelivered
    %h2 Solution Delivered
    %p
      Advisicon deployed Microsoft&reg; Project Server, standardized processes 
      and workflows. Additionally, Advisicon trained users in the IT group at 
      Banjercito in the Microsoft&reg; tools and in the best practices of project 
      management. Advisicon worked with mangers and project contributors to 
      customize Microsoft&reg; Project Server and to align their project 
      investments with the business strategy of the organization.

  %h2 Benefits
  %ul
    %li Improved control of day-to-day project activities
    %li Alignment with organizational strategy
    %li Better communication and management of project scope
    %li More successful delivery of IT projects on time and within budget
    %li Enhanced utilization of resource management
    %li Delivered Executive level reporting requirements
    %li 
      System administrators, project managers and project contributors were 
      well-trained to correctly use these tools to achieve strategic results

  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Office Project Server
    %li Microsoft&reg; Office
    %li Project Management
    %li Project Portfolio Management
    %li Project Management Office Consulting

  %h2 Users
  %ul
    %li Executives
    %li Project Management Office
    %li Project Managers
    %li Information Technology Professionals
