title: Banjercito | Case Study
keywords: Project Management Office Development, PMO, case study, Banjercito, bank, Microsoft, Project Server, Microsoft Office
description: A case study of our PMO implementation for Banjercito.
employee_name:
layout: base-alt/case-study-default.haml
--------------------------------------------------------META


%h1 Banjercito Case Study: Project Management Organization Implimentation

.abstract
  :maruku

    Abstract
    --------

		Banjercito was implimenting project management best practices to standardize 
    its processes and needed a technological platform to support this development. 
    Advisicon deployed Microsoft&reg; Project Server, introduced standardizations, 
    and trained the users at Banjercito.
		
    Efficiency, communication, processes and reporting were all improved.


.aboutClient
  :maruku

    About Banjercito
    ----------------

		![Banjercito' logo](/pix/case-studies/Banjercito-logo.jpg)

    [Banjercito](http://www.banjercito.com.mx/ "Banjercito's website) was 
    founded in Mexico in 1947 as the National Bank of the Army, Navy and Air 
    Force. Over the years it has had to adapt to significant changes in the 
    Mexican banking system. Banjercito has evolved to be a national credit and 
    development institution that forms part of the Federal Public Administration 
    system, while still retaining its corporate identity. Banjercito reinvented 
    its identity and reengineered its services to meet the realities of the 
    modern business climate. It strategically repositioned itself in order to 
    offer its customers efficient, practical services designed to meet the 
    demands of today's market.


.businessSituation
  :maruku

    Business Situation
    ------------------

		Banjercito needed a technological platform to support the required project 
    management best practices that would help it standardize processes. This 
    was critical to its efforts to successfully deliver strategic projects that 
    would realign its services and reinvent its image.

		Banjercito did not have the tools, technology or methodology in place to 
    manage their strategic projects. The consequences were projects that grew 
    out of control in scope, projects were not completed on time and projects 
    that were over budget. Each of these costly initiatives failed to create 
    the desired results. Staff members assigned to projects consistently worked 
    overtime because project resources were constantly over allocated.


.solutionDelivered
  :maruku

    Solution Delivered
    ------------------

		![Banjercito Graphics](/pix/Banjercito_graphic.jpg){: width="116" height="133"}
		
    Advisicon deployed Microsoft&reg; Project Server, standardized processes 
    and workflows. Additionally, Advisicon trained users in the IT group at 
    Banjercito in the Microsoft&reg; tools and in the best practices of project 
    management. Advisicon worked with mangers and project contributors to 
    customize Microsoft&reg; Project Server and to align their project 
    investments with the business strategy of the organization.

:maruku

  Benefits
  --------

  * Improved control of day-to-day project activities
  * Alignment with organizational strategy
  * Better communication and management of project scope
  * More successful delivery of IT projects on time and within budget
  * Enhanced utilization of resource management
  * Delivered Executive level reporting requirements
  * System administrators, project managers and project contributors were 
    well-trained to correctly use these tools to achieve strategic results

  Software & Services
  -------------------

  * Microsoft&reg; Office Project Server
  * Microsoft&reg; Office
  * Project Management
  * Project Portfolio Management
  * Project Management Office Consulting

  Users
  -----
	
  * Executives
  * Project Management Office
  * Project Managers
  * Information Technology Professionals
	