title: Fortis | Case Study
case_study: true
keywords: Fortis, Project Server 2010, SAP, Microsoft, SharePoint, Project Server, Designer, Visual Studio
description: A case study of our document control and integration solution for Pfizer Busness Technology.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  <span itemprop='genre'>Case Study</span>:
  Microsoft Project Server 2010 Integration with SAP
%div{ itemprop: 'articleBody' }
  %div#abstract
    %h2 Abstract
    %p
      This white paper outlines the integration of Project Server 2010 with 
      SAP work Actuals, integrating the actual time reporting from SAP with 
      the time phased planning and resource forecasting power of Project Server 
      2010. This is an example successful integration is both cost effective 
      and a way to enable the source of record Actuals (both Cost and Time 
      reporting) to bring actuals to the planning activities that Project/Program 
      Offices or Scheduling groups use Project Server 2010 for. This connection 
      module and process enabled a large national company to drastically reduce 
      the time spent in planning and trying to map the actuals directly with 
      the way that the organization schedules work, enabling the feature rich 
      reporting capabilities of Project 2010 Professional, Project Server and 
      SharePoint and put that planning and reporting directly in the hands of 
      the end users.
    %p
      Note: This paper is not a Detailed Technical Systems or programming 
      write-up, but a customer solutions case study focus on the value of 
      systems integration that addressed via a technical perspective, the 
      business need of a Project and Resource Planning Organization.
  %div#aboutClient
    %h2 About Fortis
    %img{ src: '/pix/case-studies/Fortis-logo.gif', alt: 'Fortis&rsquo;s logo' }
    %p 
      In 2004, Fortis Inc., the largest investor-owned distribution utility in 
      Canada, acquired all the distribution, transmission and generation assets 
      of the West Kootenay Power and Light Company and renamed it FortisBC Inc. 
      In 2007, Fortis Inc. purchased Terasen Inc., which included the Terasen 
      Gas group of companies, from Houston-based Kinder Morgan Inc.
    %p
      In July 2010, Terasen Inc. and FortisBC Inc. started sharing the same 
      leadership team. Then, on March 1, 2011, the Terasen group of companies 
      began operating under the FortisBC brand name. Today, the natural gas 
      and electricity businesses continue to operate as before, as separate 
      legal entities, while sharing the name <span itemprop="sourceOrganization">FortisBC</span>.
  %div#businessSituation
    %h2 Business Situation
    %a{ href: 'http://www.sap.com', title: 'go to the SAP website' }
      %img{ src:    '/pix/case-studies/SAP_grad_R_min.png', 
            alt:    'SAP logo', 
            width:  '99', 
            height: '49' }
    %p 
      The key challenge that was presented to Advisicon Inc. (a Microsoft Gold 
      Certified Project Management partner) was how to provide timely and cost 
      effective Resource Forecast Business Intelligence, through integration 
      with corporate <abbr title="Enterprise Resource Planning">ERP</abbr> and 
      other <abbr title="Line of Business">LOB</abbr> Systems. The customer 
      utilizes SAP as the corporate system where Timesheet Actuals and Planned 
      Workload are centrally gathered.
    %p 
      This customer also leverages additional external planning and forecasting 
      scheduling systems (Clicksoftware) to help identify crew assignments 
      workload, resource availability. All their ERP and LOB systems were not 
      connected and did not meet their workload forecasting, resource demand 
      planning and detailed scheduling needs.
  %h2 Solution Delivered
  %p 
    Microsoft Project Server 2010 was introduced to provide comprehensive Work 
    and Resource capabilities to the scheduling and planning teams. It was seen 
    as a software solution that could bridge the complex and difficult to report, 
    track, map actuals to scheduled work and resources.
  %h2 Benefits
  %ul
    %li 
      Resource Planners time Reduced by 50% allowing for additional work on 
      forecasting and growing the business
    %li 
      Reduced time to analysis of actual work performed by resources from weeks 
      to daily impact analysis as needed, enabling the ability to review work 
      team performance
    %li
      Project Server enabled What if scenarios with no additional costs (other 
      ERP Modules had significant costs associated with adding, removing and 
      utilizing forecast analysis)
    %li
      Process eliminated the 80% manual effort in building collecting the 
      reporting information and re-allocated resource planners and program 
      coordinators time to analyzing and addressing work related activities
    %li
      Customer loved the Project Professional 2010 interface that allows them 
      to build grouping, views and reports in minutes and respond to Senior 
      Managements need for graphical reporting
  #softwareAndServices
    %h2 Software and Services
    %img{ alt: 'Project 2010', src: '/pix/projectserver2010.png', width: '238', height: '47' }
    %img{ alt: 'SharePoint 2010', src: '/pix/sharepoint2010.png', width: '229', height: '53' }
    %ul
      %li
        Project Server 2010: provides innovative capabilities across the entire 
        lifecycle to help organizations understand demand, effectively initiate, 
        select, plan and deliver projects on time and on budget.
      %li
        Project Professional 2010: is the PC based client that provides both 
        resource and scheduling management capabilities, as well as a visual 
        interface that provides a configurable rich graphical display of data.
      %li
        SharePoint 2010: provides the ability to create Web sites to share 
        information with, collaborate on documents, manage lists such as Risks 
        or Issues, and provide Business Intelligence and Reporting across the 
        enterprise.
      %li
        SAP (CATS): is the <abbr title="Cross Application Time Sheet">CATS</abbr> 
        is used to track employee working times. Time data is recorded and can 
        be transferred to corresponding applications and components of the SAP 
        Business Suite.
      %li
        SQL Server: is a relational database server whose primary function is 
        to store and retrieve data as requested by other software applications, 
        running on another computer across a network (including the Internet).
      %li
        Clicksoftware: is scheduling software used to capture resource 
        availability/non-availability with their calendar information.</li>
  %h2>Users
  %ul
    %li Oracle users
    %li SAP users
    %li ClickView users
    %li Sr. IT Managers
    %li CIOs
    %li Sr. Management
    %li PMOs
  %h2 Full White Paper
  %p
    You can <a href="http://technet.microsoft.com/en-us/library/hh770392.aspx" 
    title="Read the complete white paper on Microsoft's site" 
    itemprop="url">read the full white paper online at Microsoft&rsquo;s TechNet site</a> 
    or download a copy of our case study (in Microsoft Word or Adobe Acrobat 
    format) below.
  %div.downloadables
    %a.download{ href: 'http://go.microsoft.com/fwlink/p/?LinkId=238714', 
                 title: 'Download the full SAP case study in Microsoft Word format', 
                 itemprop: 'url',
                 onclick: track_event('Download', 
                                      'White Paper', 
                                       label: 'SAP Case Study .docx file') }DOCX Download
    %a.download{ href: 'http://go.microsoft.com/fwlink/p/?LinkId=238716',
                 title: 'Download the full SAP case study in Adobe Acrobat format',
                 itemprop: 'url',
                 onclick: track_event('Download',
                                      'White Paper',
                                       label: 'SAP Case Study .pdf file') }PDF Download
