title: LAIKA | Case Study 
case_study: true
keywords: Microsoft, Project Server, EPM, Enterprise Project Management, Laika, SharePoint Services, Excel
description: A case study of our EPM implimentation for LAIKA.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  LAIKA <span itemprop='genre'>Case Study</span>: 
  Microsoft Project Server &amp; Enterprise Project Management Implimentation
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p 
      LAIKA is an award-winning, world-class animation studio that produces 
      feature films, and commercial videos. To meet the demands of producing 
      complex, feature-length films, LAIKA partnered with Advisicon to deploy a 
      customized <abbr title="Enterprise Project Management">EPM</abbr> system 
      using Microsoft Office Project and Project Server 2007. This resulted in 
      an immediate improvement in planning, scheduling, visibility, reporting, 
      and project cost control.
  #aboutClient
    %h2 About LAIKA
    %img{ src: '/pix/case-studies/laika-logo.jpg', alt: 'LAIKA&rsquo;s logo' }
    %p
      LAIKA produces entertainment films, feature films, and commercial videos. 
      LAIKA has attracted top management and production talent from across the 
      animation film industry. LAIKA has acquired and built upon Will Vinton 
      Studios&rsquo; 30-year history of excellence and innovation as a leading 
      producer of computer generated animation, stop-motion animation, and cell 
      animation. LAIKA boasts an Academy Award-winning director, 11 prime time 
      Emmy Awards, and over 100 international accolades. LAIKA&rsquo;s creative 
      team, management, and projects are helping it quickly grow into a creative 
      powerhouse in the animated film industry.
    %p
      As part of its ongoing development, LAIKA has branched into two organizations: 
      LAIKA/House, which produces commercial videos and LAIKA/Entertainment, which 
      produces entertainment and feature films.  LAIKA/Entertainment&rsquo;s feature 
      film projects have been an exciting new direction for LAIKA.
  #businessSituation
    %h2 Business Situation
    %p
      In addition to attracting top talent, LAIKA has also focused attention on 
      developing its project management capacity to successfully plan, track, and 
      manage feature-length film projects. LAIKA was looking for ways to 
      consistently overcome the management challenges that come with producing 
      feature length films.
    %p
      LAIKA identified three critical areas that needed to be addressed to support 
      its ongoing organizational development:
    %h3 Project Planning
    %ul
      %li
        LAIKA had very limited forecasting and visibility of resource demand 
        using FastTrack and other applications and no ability to assess 
        productivity of creative resources.
      %li
        Although deliverables were detailed, interdependencies were not clearly 
        mapped and linked, so there was no enterprise-level view of inter-project 
        impacts.
      %li
        Project planning was not integrated with budget planning, tracking, and 
        visibility of project performance.
      %li
        There was very little reliable current or historical project performance 
        data on which to base decisions.
    %h3 Project Execution
    %ul
      %li
        Inefficient use of resources due to a lack of control management or monitoring
      %li
        Reactionary management caused by a lack of established project risk assessment
      %li
        Unanticipated schedule delays
    %h3 Project Reporting
    %ul
      %li
        No timely or systematic way of reviewing the business.
      %li
        Business had no mechanism to compare planned versus actual time, work, 
        or cost estimates and no consolidated views of schedules, resource tasks, 
        or availability.
      %li
        Lack of data integrity &ndash; data not captured accurately or data 
        captured in multiple, distributed tools
      %li
        Inefficient meetings due to lack of integration of data and management 
        processes
  #solutionDelivered
    %h2 Solution Delivered
    %p
      LAIKA partnered with Advisicon, a Microsoft Gold Certified EPM Partner, to 
      deploy an integrated EPM solution to support LAIKA&rsquo;s growing project 
      management needs. This customized EPM system built on the Microsoft Office 
      Project and Project Server 2007 platform resulted in immediate improvements 
      in planning, scheduling, visibility, reporting, and project cost control.
    %p
      Advisicon delivered a complete EPM solution that provided the necessary 
      functionality, power, ease-of-use, and scalability required by LAIKA&rsquo;s 
      complex project management challenges. The system automated and centralized 
      many functions including project communications, tracking, and reporting. 
      The EPM system provided a strong platform to support LAIKA&rsquo;s project 
      planning, scheduling, and management methodology.
    %p
      Other key elements of the solution that Advisicon delivered included:
    %ul
      %li
        Migrating projects from FastTrack and other applications to Microsoft 
        Office Project 2007 and publishing them to Microsoft Office Project 
        Server 2007
      %li
        Development of LAIKA&rsquo;s project templates, custom fields, and other 
        business specific reporting tools
      %li
        Development of an enterprise-wide shared resource pool to reflect LAIKA&rsquo;s 
        organizational and management structure and workflows
      %li
        User training to ensure adoption and effective use of all platforms 
        (Microsoft Office Project Professional and Microsoft Office Project 
        Server 2007
    %p
      Another critical element of the solution&rsquo;s success was the ability 
      to develop and deliver a pilot project using Microsoft Office Project 
      Server 2007. The pilot was used to identify and correct any issues or gaps 
      in LAIKA&rsquo;s project management processes and to identify possible 
      integration opportunities with other systems and processes.
  %h2 Benefits
  %p
    Once the new EPM system was installed and running, LAIKA began to see benefits 
    nearly immediately. The most immediate improvements to the company included:
  %h3 Project Planning
  %ul
    %li
      A system for planning accurate and realistic production schedules
    %li
      Customized project templates to support LAIKA&rsquo;s unique project work 
      breakdown structure and processes
    %li
      Standardized terminology and references to facilitate more consistent 
      planning, communications, and reporting across the enterprise
    %li
      The ability to do accurate bottom-up resource forecasting, enabling 
      management to  plan and hire appropriately
    %li
      Management visibility to assess and predict productivity of creative 
      resources based on actual data
    %li
      Enterprise-level views of project and inter-project impacts
    %li
      Integrated project budget, resource, and schedule planning
  %h3 Project Execution
  %ul
    %li
      The ability to monitor and control resource allocation and management
    %li
      Visibility of schedule changes allowing management to anticipate and 
      mitigate schedule delays and other risks
    %li
      Systematic evaluation to support timely and rational management 
      decision-making
    %li
      Integrated project workspaces to support proactive risk assessment, 
      planning, and management Project Reporting
    %li
      Web-enabled views and portfolio reporting on projects, tasks, issues and 
      risks allowing consolidated views of schedules, tasks, resources, and 
      availability
    %li
      Capacity to analyze and report on planned vs. actual time, work, and cost 
      estimates
    %li
      Ensured data integrity through a single integrated database; productive 
      meetings, management, and decision-making based on integrated, accessible, 
      and reliable data
  %p
    Advisicon delivered a successful EPM solution that was able to meet LAIKA&rsquo;s 
    needs. Long-term benefits of the implementation include:
  %ul
    %li
      Effective management and control of scope, budget, issues and risks, 
      resources and schedule changes
    %li
      Reinforcement of LAIKA&rsquo;s organizational structure, roles, and 
      business rules
    %li
      Collaboration and better communication across the organization
    %li
      Potential integration and scalability with other 
      <abbr title="Structured Query Language">SQL</abbr>-based business systems
  %p
    LAIKA and Advisicon supported this EPM implementation with training for 
    administrators, users and managers. By ensuring the adoption of the technology, 
    LAIKA has seen sustained use and benefits from the Microsoft project management 
    tools. It also enabled them to continue developing their customized methodology, 
    standards, and processes. Given the success of the implementation, LAIKA will 
    be able to build on their infrastructure and extend the benefits of their EPM 
    system to other groups.
  %h2 Software &amp; Services
  %ul
    %li
      Microsoft&reg; Office Project Server 2007: implementation, consulting, 
      and training
    %li
      Microsoft&reg; Office Project Professional 2007: consulting and training
    %li
      Microsoft&reg; Windows SharePoint Services 3.0: consulting
    %li
      Microsoft&reg; Office Excel
  %h2 Users
  %ul
    %li Project managers
    %li Project team members
    %li Resource managers
    %li Production managers
    %li Executives
