title: Mainbit | Case Study 
case_study: true
keywords: Project Management Office Development, PMO, case study, mainbit, project server, epm, microsoft, sharepoint
description: A case study of our EPM solution for Mainbit's PMO.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Mainbit <span itemprop='genre'>Case Study</span>: 
  Project Management Office Development
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      As an <abbr title="Information Technology">IT</abbr> solution provider, 
      <a href="http://www.mainbit.com.mx" title="Mainbit&rsquo;s website">Mainbit</a> 
      was having difficulty sustaining the high quality deliverables that were 
      propelling them through a significant growth period. They needed to have 
      a more collaborative work environment and a centralized reporting/administration 
      function to manage the workflow. Advisicon recommended an 
      <abbr title="Enterprise Project Management">EPM</abbr> solution implementing 
      <abbr title="Microsoft Project Server">MSPS</abbr> 2007&reg; in addition 
      to supporting the technology with education and creating a 
      <abbr title="Project Management Office">PMO</abbr>. Mainbit has been able 
      to successfully sustain its growth and become more efficient in controlling 
      projects and allocating resources through sustained use of the EPM format.
  #aboutClient
    %h2 About Mainbit
    %img{ src: '/pix/case-studies/Mainbit-logo.jpg', alt: 'Mainbit&rsquo;s logo' }
    %p
      Mainbit is an IT solutions company based in Mexico City that is dedicated 
      to creating technology infrastructures using the robust platforms of 
      Microsoft and Citrix. Mainbit provides systems consulting, implementation 
      and configuration for those platforms to their clients in Mexico. Of 
      necessity, Mainbit is a project-driven company that needs to provide high 
      quality services that meet the expectations  and technology demands of 
      their customers.
  %h2 Business Situation
  %p
    Mainbit was positioned for growth, but was not positioned to coordinate the 
    workload of that growth for the organization in an efficient and effective 
    method. The existing system was cumbersome, lacked support within the 
    company and resulted in repetition of work by multiple users. The company 
    needed a way to collaborate the efforts of the resources and be able to 
    generate meaningful reports providing visibility into the organization. 
    Additionally, they did not have:
  %ul
    %li Standardization in processes and procedures for data collection
    %li An adopted methodology for project management
    %li A functional PMO to direct and administer activity
    %li A project management tool that could address needs and requirements
  %p
    To ensure the success of the organization, Mainbit would need to have better 
    project portfolio visibility and a technology that would be embraced and 
    adopted by the resources.
  %h2 Solution Delivered
  %p
    For Mainbit, Advisicon determined that an EPM system using MSPS 2007&reg;, 
    would provide the most comprehensive and appropriate technology. This tool, 
    in addition to being a flexible and scalable solution, was also able to 
    provide user-friendly interfaces to help ensure adoption. Microsoft Project 
    Server 2007 was deployed and configured for the organization&rsquo;s needs. 
    Additionally, Advisicon  recommended:
  %ul
    %li
      <em>Creation of a PMO.</em> The objective of this position was to focus 
      on disseminating a project management culture throughout the organization
    %li
      <em>Training/education utilizing the technology.</em> It was imperative 
      to define and implement a project management methodology that aligned with 
      Mainbit&rsquo;s organizational development and direction.
  %h2 Benefits
  %p
    The installation of an EPM system produced measurable results that directly 
    impacted performance. Improvements included:
  %ul
    %li
      Control of requirements gathering, project administration and execution 
      through standardization and workflow
    %li
      Improved data collection and interpretation which allowed better visibility 
      into the project portfolio
    %li
      Efficiency in collaboration and communication across the organization
    %li
      Increased resource management and workload visibility
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Project Server 2007
    %li Microsoft&reg; Project Professional 2007
    %li Microsoft&reg; Windows SharePoint Services
    %li 
      Advisicon training curriculum for internal resources &ndash; including 
      production managers, resource managers, executives and administrators
      %ul
        %li Consulting/training for Microsoft Project Server 2007 implementation
        %li Consulting/training in the standardized methodology of project management
  %h2 Users
  %ul
    %li Resource managers
    %li Administrators
    %li Project resources
    %li Executives
