title: NCRAR | Case Study 
case_study: true
keywords: Application Development, case study, VA, NCRAR, National Center for Rehabilitative Auditory Research, Veterans Administration, Microsoft Access, Microsoft Excel, training
description: A case study of our application development for NCRAR.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  NCRAR <span itemprop='genre'>Case Study</span>: 
  Application Development
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Advisicon introduced project management processes, developed reporting 
      applications, and implimented trainings in the tools. This resulted in 
      improved reporting capabilities.
  #aboutClient
    %h2 About <abbr title="National Center for Rehabilitative Auditory Research">NCRAR</abbr>
    %img{ src: '/pix/case-studies/ncrar-logo.png', alt: 'NCRAR&rsquo;s logo' }
    %p
      The United States has the most comprehensive system of assistance for 
      veterans of any nation in the world. This benefits system traces its 
      roots back to 1636, when the Pilgrims of Plymouth Colony were at war with 
      the Pequot Indians. The Pilgrims passed a law which stated that disabled 
      soldiers would be supported by the colony. These words, spoken by Abraham 
      Lincoln during his Second Inaugural Address, reflect the philosophy and 
      principles that guide the 
      <a href="http://www.va.gov/" title="Veterans Administration website">VA</a>.
    %blockquote
      &quot;To care for him who shall have borne the battle and for his widow 
      and his orphan.&quot;
    %p The VA focuses on serving the US Veterans and their families, including:
    %ul
      %li
        Restoring the capability of veterans with disabilities to the greatest 
        extent possible and improve the quality of their lives and that of their 
        families
      %li
        Ensuring a smooth transition for veterans from active military service 
        to civilian life
      %li
        Honor and serve veterans in life and memorialize them in death for their 
        sacrifices on behalf of the Nation
      %li
        Contribute to the public health, emergency management, socioeconomic 
        well-being and history of the Nation
    %img{ src: '/pix/case-studies/va.png', alt: 'the VA&rsquo;s logo' }
    %p
      VA healthcare facilities provide a broad spectrum of medical, surgical 
      and rehabilitative care. The responsibilities and benefits of the programs 
      provided by the VA has grown exponentially during the last six decades. 
      The VA health care system has grown from 54 hospitals in 1930, to now 
      include:
    %ul
      %li 171 medical centers
      %li More than 350 outpatient, community, and outreach clinics
      %li 126 nursing home care units
      %li 35 domiciliaries
    %p
      The <a href="http://www.ncrar.research.va.gov/" title="NCRAR&rsquo;s website">NCRAR</a> 
      is a part of this commitment.
  #businessSituation
    %h2 Business Situation
    %p
      NCRAR worked with many different stakeholders, medical associations and 
      sponsors. Daily, weekly and monthly communication was all done through 
      manual reporting, printing and mailing. NCRAR needed to maximize the 
      ability of its small staff to work in different functions, while cutting 
      down the costs associated with managing their customer relations and 
      marketing efforts.
    %p Key pain points included:
    %ul
      %li
        No centralized or electronically-stored client and customer contact 
        information database
      %li
        Completely manual, time-intensive process for communicating and updating 
        key stakeholders within the US of events and key activities
      %li
        Systems needed to integrate with current workflow, business customer 
        and association activities
  #solutionDelivered
    %h2 Solution Delivered
    %p
      Advisicon evaluated the business needs and created a solution that 
      replaced most of the manual work processes with an electronic tracking 
      and auditing <abbr title="Customer Relationship Management">CRM</abbr> 
      system. This included:
    %ul
      %li
        Stakeholder Analysis &amp; Requirements Map
      %li
        Customized and configured the new system that could automate current 
        staff manual processes and reporting activities
      %li
        Documented and trained internal staff to support and run the tool 
        solution
      %li
        Established user-based securities and permissions to limit access and 
        functionality to role-based use
  %h2 Benefits
  %p Benefits NCRAR realized by implementing the Advisicon solution:
  %ul
    %li
      Reduced time in managing, tracking and communicating key activities and 
      events
    %li
      Increased resource productivity in working with associations and medical 
      communities
    %li
      Allowed dashboard input and report-generating solutions for point-and-click 
      interface
    %li
      Ability to drill-down into customer and association contact information
    %li
      Automated Electronic E-mail and Report Generation from Manual Print and 
      Mail Methods
    %li
      Single to multiple user interface for Marketing and printing as well as 
      managing incoming and outgoing Communication
    %li
      Provided &ldquo;Saved Scenario Reporting&rdquo; for memorized criteria 
      that was user specific
  %h2 Software &amp; Services
  %ul
    %li Technical Project Management
    %li Microsoft&reg; Access Reporting &amp; Database Solutions
    %li Microsoft&reg; Excel Portfolio Reporting
  %h2 Users
  %ul
    %li Department Director and Senior Staff
    %li Research Staff
    %li Office and Administrative Staff
    %li Core Medical Groups and Associations
