title: ODOT (EPM) | Case Study 
case_study: true
keywords: Microsoft, Project Server, EPM, Enterprise Project Management, ODOT, Oregon Department of Transportation, SharePoint Services, Excel, consulting, STIP, OTIA
description: A case study of our EPM consulting for ODOT.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  ODOT <span itemprop='genre'>Case Study</span>: 
  Enterprise Project Management Consulting
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Advisicon provided successful consulting services to the Oregon Department 
      of Transportation. As a result ODOT was able to increase efficiency, 
      resource visibility, and perform &ldquo;What If&hellip;&rdquo; scenario 
      modeling.
  #aboutClient
    %h2 About the Oregon Department of Transportation
    %img{ src: '/pix/case-studies/ODOT-logo.png', alt: 'ODOT&rsquo;s logo' }
    %p
      <abbr title="Oregon Department of Transportation">ODOT</abbr> is the 
      transportation infrastructure for the State of Oregon, handling the 
      construction, maintenance, planning and management of the state&rsquo;s 
      transportation needs and requirements. It is also one of the largest 
      departments of the Oregon state government. The Highway Division manages 
      approximately 450 active <abbr title="Statewide Transportation Improvement Program">STIP</abbr>/<abbr title="Oregon Transportation Investment Act">OTIA</abbr> 
      projects at a time and delivers approximately $600 million of STIP/OTIA 
      projects annually.
    %p
      Once the <abbr title="Oregon Transportation Commission">OTC</abbr> approves 
      a STIP project under the OTIA, Project Leaders refine the schedule with 
      a Project Delivery Team that includes technical specialists from the 
      various technical discipline units (including Bridge, Survey, Environmental 
      Services and Roadway Design) required to complete the design activities 
      of the <abbr title="Preliminary Engineering">PE</abbr> design project.
  #businessSituation
    %h2 Business Situation
    %p
      The number of ODOT construction projects was increasing, but the budgets 
      and resources needed to deliver the projects were restricted. The system 
      they were using to plan and manage projects was not working as expected 
      and had been rejected by most of the project and resource managers as 
      being too cumbersome to deliver the reports and information needed.
    %p
      Key pain points included:
    %ul
      %li
        Lack of resource utilization and workload visibility for planning and forecasting
      %li
        Managing and updating project schedules was tedious and difficult
      %li
        Needed more integration of their technology with the ODOT project management culture
      %li
        Lack of organizational standards and metrics for reporting
      %li
        Systems needed to integrate with line of business systems currently in use
  #solutionDelivered
    %h2 Solution Delivered
    %p
      Advisicon evaluated the business needs and recommended several technology 
      solutions that would address their <abbr title="Enterprise Program Management">EPM</abbr> 
      and resource management needs. ODOT commissioned Advisicon to rate and 
      rank the possible solutions. After ODOT decided to implement Microsoft&reg; 
      Project Server, Advisicon implemented the system throughout the ODOT system 
      statewide and delivered the following services:
    %ul
      %li
        Stakeholder analysis and requirements map
      %li
        Customized and configured the system to meet reporting needs
      %li
        Trained resource managers, tech center managers, project leaders and 
        executives how to use and leverage Microsoft&reg; Project Server for 
        ODOT&rsquo;s project management activities
      %li
        Audited all local configurations and trained users statewide
      %li
        Cross-trained the ODOT administration team to continue to customize 
        and configure Microsoft&reg; Project Server as needed
      %li
        Assisted with the integration of ODOT&rsquo;s programming and database 
        configuration with other line of business systems
  %h2 Benefits
  %p
    Benefits ODOT received by implementing this solution through Advisicon:
  %ul
    %li
      Reduced requirement time for forecasting and planning from weeks to hours
    %li
      Increased resource management and workload visibility
    %li
      Provided web-enabled views of project, task, issues, risks, documentation 
      and resources
    %li
      Ability to drill down into resource capabilities within regions, projects 
      and tasks
    %li
      Delivered all required web portfolio reporting functionalities (from 
      <abbr title="OnLine Analytical Processing">OLAP</abbr> Cube)
    %li
      Integration of SharePoint Services to support and establish project site 
      workspace and project teams collaboration
    %li
      Provided &ldquo;What If&rdquo; scenario modeling for new projects to allow 
      resource availability and more flexibility in managing State-legislated 
      project mandates
    %li
      Knowledge transferred to internal resources to enable continued, 
      self-directed adoption
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Project Server
    %li Microsoft&reg; Project Professional
    %li Microsoft&reg; Excel Portfolio Reporting
    %li Microsoft&reg; Windows SharePoint Services
  %h2 Users
  %ul
    %li Executive Management
    %li Regional, Division and Tech Center Managers
    %li Project Managers
    %li Resource Managers
    %li Team Members
