title: ODOT (SharePoint) | Case Study 
case_study: true
keywords: Microsoft, Project Server, ODOT, Oregon Department of Transportation, SharePoint, Windows Server 2003, SQL Server 2000, ASP.net, C#.net, consulting
description: A case study of our Microsoft SharePoint consulting for ODOT.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  ODOT <span itemprop='genre'>Case Study</span>: 
  Microsoft&reg; SharePoint&reg; Consulting
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Advisicon provided successful consulting services to the Oregon Department 
      of Transportation. As a result ODOT was able to achive mandated goals, 
      impliment best practices, and improve reporting. 
  #aboutClient
    %h2 About the Oregon Department of Transportation
    %img{ src: '/pix/case-studies/ODOT-logo.png', alt: 'ODOT&rsquo;s logo' }
    %p
      <abbr title="Oregon Department of Transportation">ODOT</abbr> is the 
      transportation infrastructure for the State of Oregon, handling the 
      construction, maintenance, planning and management of the state&rsquo;s 
      transportation needs and requirements. It is also one of the largest 
      departments of the Oregon state government.
    %p
      Once the <abbr title="Oregon Transportation Commission">OTC</abbr> 
      approves a STIP project under the OTIA, Project Leaders refine the 
      schedule with a Project Delivery Team that includes technical specialists 
      from the various technical discipline units (including Bridge, Survey, 
      Environmental Services and Roadway Design) required to complete the 
      design activities of the <abbr title="Preliminary Engineering">PE</abbr> 
      design project.
  #businessSituation
    %h2 Business Situation
    %p
      Due to a tight economy, the Oregon Department of Transportation was 
      tasked with increasing their overall project delivery without increasing 
      their resources. ODOT&rsquo;s senior leadership also required that the 
      new system must be able to incorporate Microsoft&reg; Project Server&reg; 
      and Portfolio Analysis reports, making personnel capable of posting 
      Issues, Risks, Documents and Dashboard Reporting to the Project 
      SharePoint Sites.
    %p
      Key pain points included:
    %ul
      %li
        Lack of a cohesive system that provided access and information to users
      %li
        Inability to provide comprehensive strategic planning that would also 
        address technology needs and planning
      %li
        Independent project communications, planning and forecasting
      %li
        No forecasting capabilities for workload, budgets or communications 
        efficiency
      %li
        No visibility for resource utilization or workload
  #solutionDelivered
    %h2 Solution Delivered
    %p
      Advisicon implemented Microsoft&reg; SharePoint&reg; to support project 
      collaboration across ODOT&rsquo;s annual portfolio, representing more 
      than $600 million worth of projects across the state of Oregon. The 
      solution incorporated resource modeling and workload forecasting to 
      increase efficiency in scheduling and project portfolio management. It 
      incorporated five regional locations and nearly five hundred separate 
      projects including a central set of resources, both internal and external, 
      to involve vendors. Advisicon established the protocols for using, 
      supporting, deploying and maintaining the SharePoint system. Each project 
      had its own SharePoint site and the project teams were able to collaborate 
      on issues, risks, documents and status reports.
    %p
      To ensure cohesive ongoing development and strategic alignment, surveys 
      and threaded discussions were integrated through the system to provide 
      continuous feedback loops to management. Once all key project 
      documentation was approved by the Project Steering Committee, materials 
      were driven to the SharePoint site and made available for review by 
      management and other project managers.
    %p
      This project was rolled out on-time and under budget, allowing ODOT to 
      add supplementary functionality with additional services and ensuring a 
      maximized return on contract dollars.
  %h2 Benefits
  %ul
    %li
      Achieved mandated operational goals
    %li
      Standardized information sharing and management protocols and practices 
      across a very large enterprise
    %li
      Created a searchable digital repository of documents
    %li
      Enabled sharing of best practices
    %li
      Improved peer collaboration and communication
    %li
      Increased manager&rsquo;s access to information and reports critical to 
      decision making and management tracking
    %li
      The system required minimal administration and management
    %li
      Rapid time to use &ndash; site design and deployment
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Windows SharePoint Portal
    %li Microsoft&reg; Windows Server 2003 Enterprise Edition
    %li Microsoft&reg; Project Server
    %li Microsoft&reg; SQL Server 2000
    %li ASP.net
    %li C#.net
  %h2 Users
  %ul
    %li Information Technology Professionals
    %li Engineers
    %li Project Managers
    %li Project Teams
    %li Executives
