title: Pfizer Business Technology | Case Study
case_study: true
keywords: Project Management Office Development, PMO, case study, Pfizer, Business Technology, Microsoft, SharePoint, Project Server, Designer, Visual Studio
description: A case study of our document control and integration solution for Pfizer Busness Technology.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Pfizer Business Technology <span itemprop='genre'>Case Study</span>: 
  Project Management Office Development
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Pfizer <abbr title="Business Technology">BT</abbr> needed to have better 
      document control and integration for project success. With widespread 
      <abbr title="Project Management Office">PMO</abbr> offices, a centralized 
      location was critical to ensure necessary requirements and approvals 
      through multiple document iterations. Advisicon implemented a unique 
      authorization process based on Microsoft&reg; SharePoint&reg; technology 
      including a proprietary site to ensure accurate versioning and control. 
      With a single site for registering required paperwork, dissemination of 
      information and  communication was greatly improved, reducing redundancy 
      and lost resources. 
  #aboutClient
    %h2 About Pfizer Business Technology
    %img{ src: '/pix/case-studies/pfizer-logo.gif',
          alt: 'Pfizer&rsquo;s logo' }
    %p
      <a href="http://www.pfizer.com/" title="Pfizer&rsquo;s website">Pfizer</a> 
      is the world&rsquo;s largest research-based biomedical and pharmaceutical 
      company. With corporate headquarters located in New York, its major research 
      and development locations are also based in the United States and England. 
      The Pfizer Business Technology Unit is located in Mexico and is responsible 
      for the design, development and maintenance of all internal 
      <abbr title="Information Technology">IT</abbr> projects that address 
      different needs in Latin America, the Middle East and Africa. 
      Responsibilities include  applications, portals, web pages and all other 
      intra-company technology requirements.
  %h2 Business Situation
  %p
    The pharmaceutical industry is one of the most critical sectors where 
    time-to-market can mean the difference between product success and failure. 
    After years of research, being able to get a product into the hands of the 
    consumer quickly and with support of the medical community, is a crucial 
    component to creating a long-term product in the company&rsquo;s portfolio.
  %p
    Because the development and research of new pharmaceuticals is so essential, 
    Pfizer BT launched an initiative to start a PMO for the control of internal 
    projects. They needed a technological platform to support their project 
    management processes. Key considerations for Pfizer BT included:
  %ul
    %li
      Lack of integration with the latest version of Microsoft Project Server&reg; 
      and PMO&rsquo;s located around the world
    %li
      Corporate control initiated remotely from the regions from where the PMO&rsquo;s 
      were established
    %li
      Creating a central repository through Microsoft Project Professional&reg; 
      for controlling document approval and registering required paperwork
  %h2 Solution Delivered
  %p
    Upon review by Advisicon, a unique solution to Pfizer&rsquo;s problem was 
    implemented. Advisicon developed an authorization process based on Microsoft 
    SharePoint workflows in order to restrict the project plans that Project 
    Server can accept for publishing. Additionally, it required that documents 
    be registered in a special SharePoint site where they could be reviewed, 
    approved and rejected.
  %p
    By developing a systemized, controlled process for documentation, Pfizer 
    now had a very powerful platform where all projects managers could publish 
    their projects, control the key documentation and share findings across 
    the enterprise. This resulted in a more efficient workflow, eliminating 
    lost time and effort in communicating and sharing information.
  %h2 Benefits
  %p
    Once the system was implemented, Pfizer BT began to see results with all 
    internal resources associated with the process. Benefits included:
  %ul
    %li
      Control of project administration and versioning through standardized 
      procedures
    %li
      Integrated information and technology platforms designed to provide 
      access and accuracy to the status of current projects
    %li
      Efficiency in collaboration and communication across the organization
    %li
      Increased resource management
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Project Server 2007
    %li Microsoft&reg; Project  Professional 2007
    %li Microsoft&reg; Windows SharePoint Services
    %li Microsoft&reg; SharePoint Designer and Visual Studio 2005
  %h2 Users
  %ul
    %li Project managers
    %li Business technology PMOs
    %li Project resources
    %li Executives
