title: Pfizer Medical Department | Case Study
case_study: true
keywords: EPM, PMO, case study, Pfizer, Medical Department, Microsoft, SharePoint, Project Server
description: A case study of our Microsoft Project Server and EPM solution for Pfizer Medical Department.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Pfizer Medical Department <span itemprop='genre'>Case Study</span>: 
  Microsoft Project Server &amp; Enterprise Project Management
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      The Pfizer <abbr title="Medical Department">MD</abbr> needed to have 
      better control of clinical research projects through standardized 
      processes and efficiency of information sharing. Internally, there was 
      also an additional hurdle to overcome: poor past experience with a new 
      technology deployment. Based on Advisicon&rsquo;s 
      <a href="/case-studies/pfizer-business-technology.htm" title="view our case study of Pfizer Business Technology">highly successful implementation within another business unit of Pfizer</a> 
      (Pfizer Business Technology), a solution was implemented based on 
      Microsoft&reg; Project Server&reg; technology. By standardizing processes 
      and procedures and establishing a centralized documentation library, 
      immediate results were realized. Information was easily accessible and 
      communication was greatly improved, reducing redundancy and lost resources.
  #aboutClient
    %h2 About Pfizer Medical Department
    %img{ src: '/pix/case-studies/pfizer-logo.gif', alt: 'Pfizer&rsquo;s logo' }
    %p
      <a href="http://www.pfizer.com/" title="Pfizer&rsquo;s website">Pfizer</a> 
      is the world&rsquo;s largest research-based biomedical and pharmaceutical 
      company. With corporate headquarters located in New York, major research 
      and development locations are also based in the United States and England. 
      The Pfizer Medical Department Unit is located in Mexico and is responsible 
      for the coordination and  development of clinical research to support new 
      product introductions.
  %h2 Business Situation
  %p
    The pharmaceutical industry has a very complex and multi-faceted approval 
    process for the clinical research necessary to support product development. 
    Specifically, the Medical Department of Pfizer has special procedures for 
    clinical research of their products that must be followed in a strict order 
    and with strict control in order for Pfizer to release a new product into 
    the market. Notably, the  resources involved in this procedure did not have 
    a tool that supported a standardized process and follow up of their clinical 
    research projects. Additionally, they needed to understand how to best 
    achieve project goals with maximum efficiency throughout the process.
  %p
    Importantly, another problem Pfizer had to address, was overcoming executive 
    concerns based on a previously failed deployment of technology. The earlier 
    experience left executives questioning the application of the technology 
    and quite hesitant to repeat the same poor performance. However, the vision 
    of the technology&rsquo;s ability was supported at the highest levels due 
    to the tremendous success from other Advisicon specific deployments within 
    Pfizer (Advisicon had previously deployed a customized Project Server 
    solution for the Pfizer Business Technology unit, which resulted in positively 
    measurable results for the division).
  %h2 Solution Delivered
  %p
    After a thorough review of the necessary requirements and processes for a 
    successful system, Advisicon recommended the implementation of Microsoft 
    Project Server 2007. This technology would be able to provide the 
    functionality, power and ease-of-use to allow for organizational adoption 
    and ultimately, success.
  %p
    By creating and requiring standardized processes, Pfizer had a very secure 
    platform that provided a focal point for all documentation. Centralizing 
    the research allowed efficient sharing of information and communication, 
    reducing duplication and loss of resources.
  %h2 Benefits
  %p
    Pfizer MD began to see results across internal resources associated with 
    the implementation. Benefits included:
  %ul
    %li
      Control of project administration through standardized procedures and 
      use of the right technology tool
    %li
      Integrated information and technology platforms designed to provide 
      access and accuracy to the status of current projects
    %li
      Efficiency in collaboration and communication across the organization
    %li
      Increased resource management
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Project Server 2007
    %li Microsoft&reg; Project Professional 2007
    %li Microsoft&reg; Windows SharePoint Services
  %h2 Users
  %ul
    %li Clinical researchers
    %li Business technology <abbr title="Project Management Office">PMO</abbr>s
    %li Project resources
    %li Executives
