title: Portland General Electric | Case Study
case_study: true
keywords: Project Management Office Development, PMO, case study, Portland General Electric, PGE, Microsoft, Access, Project Server, AMI, AMR
description: A case study of our Microsoft based project managment infrastructure solution for Portland General Electric.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Portland General Electric <span itemprop='genre'>Case Study</span>: 
  Project Management Office Development
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      <abbr title="Portland General Electric">PGE</abbr> needed to make 
      significant changes to its infrastructure in order to remain competitive 
      as well as meet growing consumer demand. Given the size and scope of the 
      project, it commanded the attention of the state of Oregon in addition 
      to the corporate executives. Advisicon deployed a successful solution 
      utilizing Microsoft technology to provide a flexible and scalable project 
      management structure as well as detailed reporting functions. Additionally, 
      Advisicon curriculum was used for training and education to create a 
      supportive organizational environment.
  #aboutClient
    %h2 About Portland General Electric
    %img{ src: '/pix/case-studies/pge-logo.gif', alt: 'PGE&rsquo;s logo' }
    %p
      <a href="http://www.portlandgeneral.com/" title="PGE&rsquo;s website">PGE</a> 
      was on the precipice of change. Faced with growing energy requirements, 
      a need to install a two-way communications system and the ability to 
      collect and process this data, a new system needed to be implemented. 
      The changes and systems needed to meet these demands were required to be 
      fast, efficient and effective.
    %p
      For PGE, deployment of advanced metering systems was considered the next 
      step in the quickly evolving utilities sector. 
      <abbr title="Advanced Metering Infrastructure">AMI</abbr> describes the 
      automated collection of meter data over a fixed communications network 
      (sometimes called <abbr title="Automated Meter Reading">AMR</abbr>). With 
      more than one-third of all electric utilities in North America already 
      having this type of system, PGE was positioning to provide demand response 
      and direct load control programs to its customers. Considering that by 
      2010, experts project 40% of utility customers in the US will have 
      &ldquo;smart metering&rdquo;, the conversion was also of tremendous 
      interest to the Oregon Public Utility Commission.
  %h2 Business Situation
  %p
    Upon conversion to the AMI system, PGE would become one of the largest 
    deployments in the US with approximately 850,000 meters installed. The 
    rationale for installing an advanced metering system included:
  %ul
    %li Cost savings
    %li Elimination of inaccurate, missing or problematic reads
    %li Improved customer service
  %p
    The PGE mission was to &ldquo;design, construct and operate a two-way AMI 
    that provides a communications and control platform for valued customer 
    services, process efficiencies and the collection and use of interval data.&rdquo;
  %h2 Solution Delivered
  %p
    Advisicon evaluation and analysis revealed two main areas that needed to 
    be addressed to ensure deployment success.
  %p
    Technological Issues:
  %ul
    %li
      Identify project controls, office portfolio and program needs and plans
    %li
      Identify existing architecture for supporting project and resource management
    %li
      Create a project and resource scheduling roadmap for software implementation
  %p
    Organizational Issues:
  %ul
    %li
      Identify organizational and cultural sticking points and adoption roadblocks
    %li
      Document, summarize and present the plan for review by key stakeholders 
      allowing approval to move forward
  %h2 Benefits
  %p
    PGE was able to reap the benefits of a well defined project management 
    system by taking full advantage of the functionality of Microsoft technology. 
    Implementation of these tools allowed the development of a successful AMI 
    system to be launched. Overall, PGE was able to realize:
  %ul
    %li
      Effective project portfolio management standards and workflow reporting 
      on projects, resources, deliverables and cross project dependencies
    %li
      Detailed project planning and ensured timely collection and interpretation 
      of schedule data
    %li
      Supported organizational adoption through training and other educational 
      efforts to expand user knowledge and leverage tool performance
  %p
    Deployment of the new system resulted in clear, measurable operational 
    improvements for the organization. The enhanced reporting functionality 
    gave opportunity for better interpretation of the data ultimately resulting 
    in more efficient utilization of resources across the board. Importantly, 
    the system was able to provide:
  %ul
    %li
      Timely information on project tasks, risks, resources and statistics 
      allowing for enhanced visibility into the organization and more effective 
      decision&#8208;making
    %li
      Simple data entry with easily accessible reporting functions designed to 
      pull data accurately and without human error
    %li
      More efficient resource allocation and better visibility into the organization.
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Office Suite
    %li Microsoft&reg; Project 2003
    %li Microsoft&reg; Access
    %li Advisicon curriculum for Risk Management and Project Training
  %h2 Users
  %ul
    %li Project Managers
    %li Sponsors
    %li Directors
    %li Managers
    %li Resources
