title: PPM Energy | Case Study
case_study: true
keywords: training, case study, PPM Energy, Microsoft, Project Professional
description: A case study of our Microsoft Project 2007 training for PPM Energy.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  PPM Energy <span itemprop='genre'>Case Study</span>: 
  Microsoft Project Training
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Advisicon provided PPM Energy with a series of customized training 
      sessions on Microsoft Project Professional 2007 to improve their 
      effeciency with the product.
  #aboutClient
    %h2 About PPM Energy
    %img{ src: '/pix/case-studies/PPMEnergy-logo.jpg', alt: 'PPM Energy&rsquo;s logo' }
    %p
      <a href="http://www.iberdrolarenewables.us/" title="the website of Iberdrola Group (formally PPM Energy)">PPM Energy</a> 
      is an energy services company that provides marketing, balancing, 
      scheduling and transportation management to wholesale and large commercial 
      and industrial customers. PPM Energy also provides marketing and 
      development of wind and thermal energy facilities, shaping and firming, 
      scheduling and transmission management. Their projects focus on identifying, 
      developing and building wind farm sites and facilities.
  #businessSituation
    %h2 Business Situation
    %img{ src: '/pix/PPMEnergy_pix.jpg', alt: 'PPM Energy Workers', width: '170', height: '169' }
    %p
      PPM Energy&rsquo;s project managers had worked with a number of project 
      scheduling and management tools. However, they had recently adopted 
      Microsoft&reg; Project 2007 as their single, in-house project scheduling 
      solution. Recognizing the value of focused training, they were looking 
      for instruction and education on using the tool effectively. Given the 
      size and complexity of their wind farm projects, they also needed to 
      learn how to use some of the more advanced features of Microsoft&reg; 
      Project 2007. PPM Energy approached Advisicon to help them learn how to 
      put Microsoft&reg; Project to work for them.
  %h2 Solution Delivered
  %p
    Advisicon delivered a series of customized, on-site training sessions focused on:
  %ul
    %li
      Applying project management best practices to Microsoft&reg; Project 2007
    %li
      Optimizing, linking, and formatting Microsoft&reg; Project 2007 schedules
    %li
      Strategic scheduling strategies in Microsoft&reg; Project 2007
  %p
    Advisicon also provided expert consulting on the development of PPM Energy&rsquo;s 
    wind farm project template. This template will enable PPM Energy to plan, 
    initiate and manage projects more efficiently and consistently going forward.
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Project  Professional 2007
    %li Advisicon training curriculum for internal resources
