title: Sharp Labs | Case Study
case_study: true
keywords: Microsoft, Project Server, Sharp Labs, Sharp Laboratories, Sharp, SharePoint, Windows Server 2003, SQL Server 2000, ASP.net, C#.net
description: A case study of our Microsoft SharePoint Services implimentation for Sharp Laboratories.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Sharp Labs <span itemprop='genre'>Case Study</span>: 
  Microsoft&reg; SharePoint&reg; Services Implimentation
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Advisicon preformed requirements gathering, proposed an 
      <abbr title="Enterprise Project Management">EPM</abbr> solution, and then 
      installed, configured, and deployed the solution. This created a searchable 
      digital repository of documents, and centralized the communications of 
      project risks and issues.
  #aboutClient
    %h2 About Sharp Laboratories
    %img{ src: '/pix/case-studies/Sharp-logo.png', alt: 'ODOT&rsquo;s logo' }
    %p
      <a href="http://www.sharplabs.com/" title="The website of Sharp Laboratories, part of Sharp Microelectronics">Sharp Laboratories</a> 
      is part of Sharp Microelectronics (Worldwide), one of the world&rsquo;s 
      leading technology companies. Sharp&rsquo;s international research and 
      development teams work in different locations around the globe and need 
      to collaborate with colleagues and vendors to develop new solutions for 
      their growing portfolio of products.
  #businessSituation
    %h2 Business Situation
    %p
      Sharp had no visible tracking, reporting or forecasting system for their 
      <abbr title="Information Technology">IT</abbr> and 
      <abbr title="Research and Development">R&amp;D</abbr> projects. There was 
      no cohesive approach to communicating issues, status on projects and 
      document sharing was fragmented and scattered. Sharp needed a way to make 
      their R&amp;D and intellectual resources easily accessible on a global 
      basis. They needed a reliable way to share information, collaborate and 
      store information. Furthermore, this data needed to be easily available 
      for presentations and accessible for reports quickly, reliably and securely.
  #solutionDelivered
    %h2 Solution Delivered
    %p
      Advisicon facilitated the discovery and requirements gathering process, 
      proposed solutions and then installed, configured and deployed an EPM 
      solution. The solution included using a SharePoint Portal, Project Server 
      and Key WebParts within SharePoint, to facilitate quick cross-site 
      communications regarding project risks and issues.
    %p
      Advisicon developed WebParts and integrated them into the working processes 
      around Sharp&rsquo;s project management culture. The solution provided a 
      centralized communications and project collaboration platform that was 
      adopted by the organization and was able to meet the their technology 
      requirements.
  %h2 Benefits
  %ul
    %li Centralized and facilitated cross-site communications of project risks and issues
    %li Searchable digital repository of documents
    %li Enabled a collaborative online community
    %li Enabled dedicated online workspaces to multiple communities of practice
    %li Minimal administration and management
    %li Rapid time to use &ndash; site design and deployment
  %h2 Software &amp; Services
  %ul
    %li Microsoft&reg; Windows SharePoint Portal
    %li Microsoft&reg; Windows Server 2003 Enterprise Edition
    %li Microsoft&reg; Project Server
    %li Microsoft&reg; SQL Server 2000
    %li ASP.net
    %li C#.net
  %h2 Users
  %ul
    %li R&amp;D Professionals
    %li Engineers
    %li Project Managers
    %li Executives
