title: Volaris | Case Study
case_study: true
keywords: Project Management Office Development, PMO, EPM, case study, Volaris, Airline, Microsoft, Project Server, SharePoint, Project Professional, training
description: A case study of our PMO implementation and Project Server 2007 deployment for Volaris.
layout: default.haml
--------------------------------------------------------META

%h1{ itemprop: 'headline' }
  Volaris <span itemprop='genre'>Case Study</span>: 
  Project Management Office Development, Microsoft&reg; Office Project Server Deployment, &amp; Enterprise Project Management
%div{ itemprop: 'articleBody' }
  #abstract
    %h2 Abstract
    %p
      Volaris is the fastest growing airline based in Mexico. With little time 
      to adjust to the growth, the organization infrastructure was unable to 
      support critical functions that allowed smooth data capture and collaboration. 
      Through the solution developed by Advisicon, a 
      <abbr title="Project Management Office">PMO</abbr> was implemented and 
      Microsoft Office Project Server 2007 was deployed. Volaris was able to 
      develop better visibility into the overall IT project portfolio as well 
      as adopt standard project management methodology. Through these solutions, 
      they were also able to improve their overall project management processes 
      and gain control of their operations.
  #aboutClient
    %h2 About Volaris
    %img{ src: '/pix/case-studies/volaris-logo.png', alt: 'Volaris&rsquo; logo' }
    %p
      <a href="http://www.volaris.mx/" title="Volaris&rsquo; website">Volaris</a> 
      is the commercial brand of the Mexican corporation 
      <em>Concesionaria Vuela  Compa&ntilde;&iacute;a de Aviaci&oacute;n S.A. de C.V.</em>, 
      a low-cost airline based in the city of Toluca, Mexico State. It is also 
      the fastest growing airline in Mexico. Volaris is headquartered in Santa 
      Fe (Mexico City) and its operational base is located in Toluca, 50 
      kilometers (31 miles) west of Mexico City.
  %h2 Business Situation
  %p
    The unprecedented growth of Volaris was exciting, but was creating internal 
    havoc. The organization infrastructure was essentially unprepared to handle 
    the volume of incremental work caused by the  growth. The company also needed 
    to have better project portfolio visibility into their 
    <abbr title="Information Technology">IT</abbr> projects to provide for better 
    administration and control. To further  complicate matters, they did not have 
    a tool to facilitate collaboration in the monitoring and control of their 
    projects.
    %p
      As a result, Volaris was experiencing:
    %ul
      %li No standardization in processes
      %li No adopted methodology for project management
      %li No centralized reporting functions or operations
    %h2 Solution Delivered
    %p
      A thorough evaluation by Advisicon included the important aspects of 
      discovery workshops, training and validation sessions for formats and 
      processes. Through these investigation, a comprehensive  solution that 
      included the implementation of a PMO (level #2) integrated with Microsoft 
      Office Project Server 2007 was developed. The Microsoft technology was 
      able to provide the functionality that was critical to Volaris, while 
      allowing additional options for growth and scalability. Additionally, 
      the ease-of-use to resources was an important factor in implementing the 
      system.
    %h2 Benefits
    %p
      Upon installation of the new system, Volaris saw benefits nearly 
      immediately. Most notably:
    %ul
      %li
        Control of project administration through standardized processes to 
        improve requirements gathering, ultimately leading to better project 
        administration and execution
      %li
        Efficiency in collaboration and communication across the organization
      %li
        Increased resource management and workload visibility
    %h2 Software &amp; Services
    %ul
      %li Microsoft&reg; Project Server 2007
      %li Microsoft&reg; Project  Professional 2007
      %li Microsoft&reg; Windows SharePoint Services
      %li
        Advisicon training curriculum for internal resources &mdash; including 
        production managers, resource managers, executives and administrators
    %h2 Users
    %ul
      %li Resource managers
      %li Administrators
      %li Project resources
      %li Executives
