<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> <!-- itemscope itemtype="http://schema.org/Intangible"> -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<!-- Some semantic meta info, because there was none (and this entire website was a mess!) before Jeff Jacobson-Swartfager got here -->
	<meta name="keywords" content="Job, Career, social media, marketing, IT, Project Management, Portfolio Management, Microsoft Project Server, Project Server, Microsoft SharePoint, EPM" />
	<!-- <meta itemprop="name" content="Advisicon job postings" /> --> <!-- for G+ button, keep this in the header -->
	<!-- <meta itemprop="description" content="A list of the current open positions at Advisicon." /> --><!-- for G+ button, keep this in the header -->
	<!-- Link to style sheet for this Web site -->
	<link href="/styles/css/stylesheet-jjs-less.css" rel="stylesheet" type="text/css" />
	<title>Careers | Advisicon</title>
	<script src="/Scripts/rootGoogleAnalytics.js" type="text/javascript"></script> <!-- This is the only script I'm leaving in the head. It's the google analytics tracking code. -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script> <!-- loads jQuery. Gotta leave this in the head too. -->
</head>

<body>

	<div id="content">
		<img border="0"  src="/pix/advisicon_banner-012709.jpg" alt="Advisicon, Inc." id="advisiconBanner" width="950" height="110" usemap="#Map" />
		<!-- #include virtual="/include/topNavTrial.htm" -->
		<!-- #include virtual="/include/navAndCred.htm" -->
		<aside id="secondaryContent">
			<!-- #include virtual="/include/socialMediaProfiles.htm" -->
			<!-- #include virtual="/include/newsEvents.htm" -->
			<!-- #include virtual="/include/courseListings.htm" -->
			<!-- #include virtual="/include/featuredBooks.htm" -->
		</aside>
		<section id="main"> 
			<h1>Advisicon Careers</h1>
				<p>Current Openings:</p>
				<%

				Dim strConnectionJob, connJob, rsJob, strSQLJob 

				strConnectionJob = "Provider=SQLOLEDB;Server=ADVISICON-COLO;Database=AdvisiconCareers;User Id=webuser; password=webuser;encrypt=true" 

				Set connJob = Server.CreateObject("ADODB.Connection")

				connJob.Open strConnectionJob

				Set rsJob = Server.CreateObject("ADODB.recordset")
				strSQLJob = "SELECT dbo.Careers.CareerTitle AS Title, dbo.Careers.CareerDesc AS Description, dbo.Careers.CareerLink AS Link, dbo.Careers.CurrentStatus FROM dbo.Careers WHERE dbo.Careers.CurrentStatus = 'True'"
				rsJob.open strSQLJob, connJob, 3,3
				
				%>
				
				<% do until rsJob.EOF %>

				<%
					for each x in rsJob.Fields
						Select Case x.name
							Case "Title"
							response.write("<div itemscope itemtype='http://schema.org/JobPosting'><h2 itemprop='title'>" & x.value & "</h2>")
							Case "Description"
							response.write("<p itemprop='description'>" & x.value & " ")
							Case "Link"
							response.write("[See <a href='/" & x.value & "' itemprop='url'>details</a>]</div>")
						End Select
					next
				%>
				<% rsJob.MoveNext %>
				<% loop %>
				<%rsJob.close%>
		</section>
	</div> <!-- END #content -->


	<!-- #include virtual="/include/footer.htm" -->


<map name="Map" id="Map">
  <area shape="rect" coords="858,21,936,99" href="/" alt="Advisicon Home" />
  <area shape="rect" coords="860,22,861,24" href="#" alt="Advisicon" />
</map>

<!-- ****************************THIS IS THE SCRIPT SECTION************************************* -->


<!-- I'm not sure what this script does just yet. I'm going to have to break it down and I really 
	 don't want to do that right now. Sorry guys.
	 Also, this has been commented out for a while now. It might just be old code. [Jeff]
	 
	<script src="Scripts/possibleGarbage.js" type="text/JavaScript"></script> 
-->
<!-- <script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script> --> <!-- For running ActiveX/Flash content. Probably not neccessary on this page (I don't think we've got any here) -->
<script src="/jscript/jquery.easing.1.3.js" type="text/javascript"></script> <!-- I believe this is for animating the slides in that (ridiculous) header -->
<script src="/jscript/2/jquery.hslides.js" type="text/javascript"></script> <!-- Part of the slide control in the header -->
<!-- <script src="jscript/2/jquery.hoverintent.js" type="text/javascript"></script> --> <!-- Not really sure why we are using this. Doesn't seem to apply to anything we've got going on this page at the moment. Likely useless. -->
<script src="/jscript/2/jquery.innerfade.js" type="text/javascript"></script> <!-- Animates the fade in/fade out of book in the "Featured Books section" -->
<script src="/Scripts/frontPageSlideshowHeader.js" type="text/javascript"></script> <!-- Controls the display of that silly banner at the top of the index page. It sizes all of the slides the same [Jeff] -->
<script src="/Scripts/featuredProducts.js" type="text/javascript"></script> <!-- Controls the slideshow action of fading from book to book in the "Featured Books" section of the index page [Jeff] -->
<script src="/Scripts/googlePlusOneButton.js" type="text/javascript"></script><!-- Render call for the google +1 link [Jeff] -->

</body>
</html>
