#toppage{
		width: 100%;
	 	vertical-align: middle;
	 	margin: 0px;
	 	padding: 0px;								
}

#centerpage{
		width: 100%;
		vertical-align:top;
		margin:0px;
		padding:0px;				
}

#bottompage{
		width: 100%;
	 	vertical-align: middle;
	 	margin: 0px;
	 	padding: 0px;
}
