/* CSS Document */

/* Page header style */
#header{
     width: 100%;
	 vertical-align: middle;
	 margin: 0px;
	 padding: 0px;
	 
}

/* Page footer style */
#footer{
     width: 100%;
	 vertical-align: middle;
	 margin: 0px;
	 padding: 0px;
}

/* Body text and page background */
body{
    margin: 0px;
	padding: 0;	
	font-family: 'Calibri', Arial, San-Serif;
    font-size: small;
	color:#444;
	background: fixed;
	background-image:url(pix/bkgrdgrayfade.gif);
	background-repeat: repeat-x;
		
}

#nav{
	margin: 0px;
	background-position: center;
	vertical-align:middle;
}

#topnav{
	margin: 0px;
	background-position: center;
	vertical-align:middle;
}

#bottomnav{
	margin: 0px;
	background-position: center;
	vertical-align:middle;
}



#sidebar{
	float: left;
    display: inline;
    padding: 0;
    margin: 1px;
    width:150px;
	vertical-align:middle;
}

#main{
	width: 100%;
	vertical-align:top;
	font-size: medium;
	margin-top:0px;
	padding-top:0px;
}
	#main table {
	background-color: #FFFFFF;
	}


/* Style for right side */

#rPopBox /* keep the id selector until all rPopBox ids have been converted to classes throughout the advisicon site [Jeff] */, .rPopBox
{
	margin:0em 0em 1em 0em;
	border:thin;
	border-style:solid;
	border-color:maroon;
	width:220px;		
	float: right;
	/*BEGIN rounded corners (only works in newer browsers)[Jeff]*/
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*END rounded corners [Jeff]*/
}
	#rightside {
		width: 220px;
		float: right; 
		height: 100%; 
		top: auto; 
		clear:left;
	}
		
	#rPopBox h3, .rPopBox h3 {
		font-size: medium;
		margin: .3em .2em .5em .2em;
		color: maroon;
		width: 200px;
	}
	#rPopBox ul, .rPopBox ul {
		padding-bottom: 2.5em;
		font-size: 14px;
	}
		#rPopBox ul.otherCommsList, .rPopBox ul.otherCommsList {
			clear:right;
			list-style-type: none;
			margin:0em 0em .7em 0em;
			padding:0;		
		}
			#rPopBox ul.otherCommsList li, .rPopBox ul.otherCommsList li {
				height: 42px;
				width: 45px;
				display: inline;
				margin: 0em 0em 1em 0em;				
			}
			#rPopBox li, .rPopBox li {
				font-weight: bolder;
				float: left;
				height: auto;
				padding-bottom: 1em;
				width: 200px;
			}
				#rPopBox a, .rPopBox a {
				text-decoration: none;
				}
	#rPopBox p, .rPopBox p {
		margin-right: .2em;
		margin-left: .2em;
		font-size: 14px;
	}
#portfolio
{
 	padding:0;
 	margin: 0;
 	height:220px;
}

#portfolio li
{
	height:220px;
}
#portfolio a img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*left side nav [Jeff]*/
#secondaryNav, #credentials{
	width: 146px;
	float: left;
	margin-left: 0;
}
	#secondaryNav li, #credentials li {
		height: auto;
	}


/* Style for main content column */


/* Level-1 Headings */
h1{
    font-family: 'Calibri', Arial, San-Serif;
    font-size: 16pt;
    color: #666;
}

h2{
    font-family: 'Calibri', Arial, San-Serif;
    font-size: 18pt;
    color: #800000;
}

h3{
    font-family: 'Calibri', Arial, San-Serif;
    font-size: 14pt;
    color: #000000;
}

h4{
    font-family: 'Calibri', Arial, San-Serif;
    font-size: large;
    color: #000000;
}

h5{
    font-family: 'Calibri', Arial, San-Serif;
    font-size: 15pt;
    color: #800000;
}



table.navbarmini /*This is for the footer navigation [Jeff]*/ {
   width: 960px;
   height: 10px;
   vertical-align: middle;
   text-align: center;
/*   padding-left: 10px; Unneccessary, I think. [Jeff]*/
   font-family:'Calibri', Arial, sans-serif;   
   border-collapse: collapse;
   font-size:medium;
   margin:auto;
}
	/*BEGIN styles from index.htm [Jeff]*/
	table.navbarmini a {
	   display: block;
	   font-size: small;
	   color: #666666;
	   text-decoration: none;
	   padding-top: 2px;
	   padding-bottom: 2px;
	   float: right;
	}
		table.navbarmini a.tel {
		   padding-right: 10px;
		   float: right;
		}
	/*END styles from index.htm [Jeff]*/

table.navbarminipad{
   width: 950px;
   height: 15px;
   vertical-align: middle;
   text-align: center;
   padding-left: 10px;
   font-family:'Calibri', Arial, sans-serif;   
   border-collapse: collapse;
   font-size:medium;
   margin:auto;
  }
   
/* Navbar style*/ 
table.navbar{ 
	background-color:#000000;
	width: 950px;
	height: 40px;
	vertical-align:middle;
	margin:auto;
	border-collapse:collapse;
	
} 
/* for blacked out Navbar at bottom only. Since there are no links to it yet. Revert to table.navbar when links are available*/ 
table.navbartemp{ 
	background-color:#000000; 
	width: 950px;
	height:2em;
	vertical-align:middle;
	margin:auto;
	border-collapse:collapse;
	color:#000000;
	
} 

/*Navbar pseudoclasses */ 
/* Navbar links apply only in div that starts with <div id="navbar"> */ 
table.navbar a:link{color:#fff;text-decoration:none;} 
table.navbar a:visited{color:#fff;text-decoration:none;}
table.navbar a:hover{color:#FFCC33;text-decoration:none;} 
table.navbar a:active{color:#CCCCCC;text-decoration:none;} 


a.quick:link{color:#000000;text-decoration:underline;} 
a.quick:visited{color:#000000;text-decoration:underline;}
a.quick:hover{color:#800000;text-decoration:underline;} 
a.quick:active{color:#CCCCCC;text-decoration:underline;} 

a.case:link{color:#800000;text-decoration:none} 
a.case:visited{color:#800000;text-decoration:none;}
a.case:hover{color:#FFf; background-color:#800000; text-decoration:none;} 
a.case:active{color:#fff; background-color:#800000; text-decoration:none;}

a.flashtest:link{color:#FFFFFF;text-decoration:none; font-size:24px;} 
a.flashtest:visited{color:#FFFFFF;text-decoration:none; font-size:24px;}
a.flashtest:hover{color: #000099; text-decoration:none; font-size:24px;} 
a.flashtest:active{color:#000099; text-decoration:none; font-size:24px;}
   

/* Style for tables of thumbnail images */
table.main{
   width: 950px;   
   vertical-align: middle;
   text-align: left;
   border-color:#CCCCCC;
   border-style:solid;  
   border-width:thin;
   border-collapse: collapse;   
   
}

table.sidebarleft{
	width: 150px;
	vertical-align: middle;
	text-align: left;
	border-left: none;
	border-right: thin;
	border-top: none;
	border-bottom: none;
	border-style:solid;
	border-color: #CCCCCC;	
}

table.sidebarright{
	width: 530px;
	vertical-align: middle;
	padding-left: 5px;
	text-align: left;
	border: none;	
	
}

a.special:link { 
color: #ffffff; /*White [Jeff]*/
text-decoration: none; 
} 
a.special:visited { 
color: #ffffff; /*White, so there is no indication where you've been. We should probably change this to improve usability. [Jeff]*/
text-decoration: none; 
} 
a.special:hover { 
color:#ffcc33; /*Gold [Jeff]*/
text-decoration: none;
} 
a.special:active{ 
color: #cccccc; /*Grey [Jeff]*/
text-decoration: none; 
} 

a.specialside:link { 
color: #800000; 
text-decoration: none; 
} 
a.specialside:visited { 
color: #800000; 
text-decoration: none; 
} 
a.specialside:hover { 
color:#FFFFFF;
background-color:#666666;
border-width: thin;
border-color: #666666; 
text-decoration: none;
} 
a.specialside:active{ 
color: #800000; 
text-decoration: none; 
} 

a.specialhome:link { 
color:#000000;
font-size: large; 
text-decoration: none;
} 
a.specialhome:visited { 
color: #000000; 
font-size: large;
text-decoration: none; 
} 
a.specialhome:hover { 
color:#800000;
font-size: large;
text-decoration: none; 
} 
a.specialhome:active{ 
color: #cccccc; 
font-size: large;
text-decoration: none; 
} 

hr	{background-color:#800000;
	color:#800000;
	width: 90%;
	}
	
ul {
	list-style-position:outside;
	margin-left:17px;
	padding:0px;
}	
	
ul.inset {
padding-left:17px;
}	

/* BEGIN index.html stuff [Jeff] */
	ul.accordion, ul#portfolio, .rPopBox ul {
		margin: 0;
	}
	#mainNavigation {
		width: 100%;
	}
	#mainNavigation td {
		padding: 2px 10px;
	}
	#mainNavigation a {
		font-size: small;
		padding-right: 2em;
	}
		#mainNavigation a.tel {
			padding-right: 0;
		}
	li {
		width: 214px;
		height: 31px;
		float: left;
		color: #333333;
		text-align: left;
		overflow: hidden;
		margin: 0;
		padding: 0px 5px;
	}
	a img{
		border: 0;
	}
	#center { /* controls styles on the center column */
		float: left;
		width: 517px;
		clear: none;
	}
/* END index.html stuff [Jeff] */