title: Advanced Program &amp; Portfolio use of Microsoft Project
keywords: training, microsoft project, scheduling, advanced, project, program, portfolio
description: 
  Microsoft Project is an excellent, resource driven reporting tool tailored 
  to the needs of enterprise reporting and resource managers. 
  This course teaches advanced techniques used to build, optimize and manage a 
  working project schedule using Microsoft Project. Learn to edit and organize 
  your project, assign resources to tasks, manage and modify project schedules, 
  and use Project Pro views to effectively communicate information about your 
  project. A hands-on training will be provided where students gain tactical 
  experience while building a project schedule, or working with the schedule 
  of their choosing during the training.
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  #{render_partial 'partials/footnotes' }

