title: Advanced Scheduling with Microsoft Project
keywords: 
  training, microsoft project, scheduling, advanced, project, program, portfolio, 
  certification
description: 
  The purpose of this advanced course is to help the power scheduler become a 
  more valuable resource by providing techniques to fully configure Microsoft 
  Project for the needs of an organization. Included are recommendations to 
  implement Earned Value Analysis, procedures to modify resource assignments 
  in unique ways to solve overallocations. The course will dive into complex 
  situations with Task Types and illustrate how to properly implement a change 
  and apply a controlled calculation. The benefits of a master project for 
  managing a program will be illustrated and a shared resource pool will be 
  created. Finally the course will create customizations in the objects 
  contained within a view, report, and dashboard.
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  _Are you ready to take your Microsoft Project knowledge to the next level?_

  The purpose of this advanced course is to help the power scheduler become a 
  more valuable resource by providing techniques to fully configure Microsoft 
  Project for the needs of an organization. Included are recommendations to 
  implement Earned Value Analysis, procedures to modify resource assignments 
  in unique ways to solve overallocations. The course will dive into complex 
  situations with Task Types and illustrate how to properly implement a change 
  and apply a controlled calculation. The benefits of a master project for 
  managing a program will be illustrated and a shared resource pool will be 
  created. Finally the course will create customizations in the objects 
  contained within a view, report, and dashboard.

  Completion of both the Intro and Advanced courses in Microsoft Project cover 
  all the features in the software and will help you become a Microsoft Project 
  expert. You will also learn how the features in the software map to the 
  Microsoft certification exam. This course along with the course 
  [Managing Projects with Microsoft Project][MPwMP-course] cover 
  the topics for **Exam # 74-343 Managing Projects with Microsoft Project 2013**.

  Students will be applying advanced features of Microsoft Project on individual 
  or multiple schedules. Students can follow the instructor example or select 
  their own projects to work with. 
  
  All participants will receive a complimentary copy of Advisicon's 
  [Advanced Scheduling with Microsoft Project][MPwMP2013_a-book], a 
  [Technical Project Lifecycle Flowchart][TPL-flowchart] and 
  [Scalability PPM Flowchart][Scalability-flowchart].
  
  #{render_partial 'partials/footnotes' }

