title: Making Sense of Workplace Personalities
training: true
keywords: training, DiSC assessment
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  #{render_partial 'partials/footnotes' }

