title: Managing Projects with Microsoft Project
keywords: training, project management
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Learn how to use Microsoft&#174; Project to build, optimize and manage 
  project schedules. This course teaches participants how to use Microsoft&#174; 
  Project to successfully create, track, manage and modify project schedules 
  and resource pools.

  Participants will learn how to apply best practices, tips and tricks to 
  planning, executing, and managing projects with Microsoft&#174; Project.

  All participants will receive a copy of Advisicon's training manual 
  [Managing Projects with Microsoft Project][MPwMP2010-book].

  #{render_partial 'partials/footnotes' }

