title: Managing Projects with Microsoft Project
keywords: training, microsoft project, scheduling, project, fundamentals, intro
description: 
  Microsoft Project is a scheduling software designed to help you manage the 
  complexities of delivering a project successfully. This course teaches the 
  core techniques needed to create a basic, working project schedule using 
  Microsoft Project 2013. Learn to edit and organize your project, assign 
  resources to tasks and use Project views to get information about your project. 
  This course also explains how to fine tune your plan to make sure deadlines 
  are honored and to reduce or eliminate overallocated resources. In the course, 
  your schedule will go from planning to execution and the completion of tasks 
  will be tracked.  
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}
  
  Are you an Excel user considering switching to Microsoft Project? Are you a 
  frustrated Microsoft Project user who receives error messages in your schedule?
  This course is a great jump start in helping you gain the knowledge needed 
  to efficiently and effectively develop schedules. 

  Microsoft Project is a scheduling software designed to help you manage the 
  complexities of delivering a project successfully. This course teaches the 
  core techniques needed to create a basic, working project schedule using 
  Microsoft Project 2013. Learn to edit and organize your project, assign 
  resources to tasks and use Project views to get information about your project. 
  This course also explains how to fine tune your plan to make sure deadlines 
  are honored and to reduce or eliminate overallocated resources. In the course, 
  your schedule will go from planning to execution and the completion of tasks 
  will be tracked.  Your instructor will deliver this course in a best-practices 
  format to ensure that no matter how little experience you have in Project, 
  you will know the best way to use this software to effectively manage your 
  project.  

  Students will be building, managing, troubleshooting, optimizing, and tracking 
  a Microsoft Project schedule in the class. Students can follow the instructor 
  example or select their own project to work with. 
  
  All participants will receive a complimentary copy of Advisicon's Introduction 
  to Scheduling with Microsoft Project and Project Management Lifecycle flowchart.

  #{render_partial 'partials/footnotes' }

