title: Mastering Requirements Gathering
keywords: training, project management
description: 
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Learn how to gather and manage project requirements successfully. This course 
  teaches participants how to elicit, characterize, document, analyze, validate, 
  verify and manage requirements for new projects, products and services.

  Participants will learn how to define and document high-level business 
  requirements, identify user classes and representatives, select elicitation 
  techniques, differentiate and prioritize functional and non-functional 
  requirements from users, identify business rules, and how to review and 
  verify project requirements with stakeholders.

  All participants will receive a copy of Advisicon's training manual
  [Mastering Requirements Gathering][MRG-book] and utilizes the
  [Requirements Gathering &amp; Managing Process][RGMP-flowchart] and 
  [Requirements Gathering in the Project Management Lifecycle][RGPML-flowchart]
  flowcharts.

  #{render_partial 'partials/footnotes' }

