title: Microsoft Project Server for Administrators
keywords: training, microsoft project server, administrators
description: 
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}


  #{render_partial 'partials/footnotes' }

