title: Microsoft Project Server for Administrators
keywords: training, microsoft project server, administrators
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Project Server is used for Enterprise Project and Portfolio management in an
  organization. It offers features that are designed to report on schedule
  status, resource capacity, and portfolio needs. This course teaches the core
  techniques that the Project Server administrator or PMO administrator will
  need to be skilled in to support an existing or new installation of Project
  Server. Attendees of this course will gain practical examples from the
  experienced instructor who has deployed and configured these features in
  organizations in a wide variety of businesses. (Course delivery may be
  tailored for a 1-2 day format.)

  Participants will learn to:

  - Describe the components of the Project Server software solution and its 
    benefits to an organization
  - Manage enterprise-wide security in an efficient manner and to support 
    future changes
  - Create and update enterprise-wide templates used to jump start projects of
    various types
  - Configure all enterprise-wide objects used to gather or deliver information
    to users
  - Design security-controlled views to enhance the user experience
  - Perform recommended database maintenance to optimize Project Server


  #{render_partial 'partials/footnotes' }

