title: Microsoft Project Server for Project Managers
keywords: training, microsoft project server, project management
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Microsoft Project Server or the cloud offering, Project Online, is a
  department-wide or enterprise-wide solution which consolidates projects,
  programs, and resources.  The centralized views and reports of information
  help facilitate quick decision making for the PMO staff. This course is
  tailored to the scheduler or project manager who will learn how to create and
  maintain projects using the online functionality of Project Server, commonly
  referred to as Project Web App (PWA). Learning how to create a team from the
  enterprise resource pool, generate tasks assignments, and receive and apply
  updates to the schedule automatically are some of the critical aspects of the
  course. In addition, learn how to maintain each Project's SharePoint site,
  properly check out/in schedules, documents, and work with the scheduling
  engine available within PWA. Course is delivered in a customer's environment
  to maximize immediate application of knowledge. Course delivery may be
  tailored for a 1-2 or day format.

  Participants will learn to:

  - Navigate effectively through PWA and create multiple types of projects
  - Check out and edit schedules using the built in scheduling capabilities of 
    PWA
  - Build a project team and plan for resource demand using high-level plans 
    and detailed schedules
  - View and analyze cross project demand for resources
  - Perform task and timesheet updates as a team member
  - Accept team member updates and automatically update the schedule
  - Display variances against the baseline schedule and send changes to the 
    team quickly

  #{render_partial 'partials/footnotes' }

