title: Microsoft Project Server for Team Members
keywords: training, microsoft project server, team members
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  This course is designed to teach a Microsoft Project Server Team Member the
  basic functionality of Project Server Admin. Students are acquainted with the
  Project Server interface, enabling them to filter, view and group their
  tasks, update tasks status, respond to project update reports. Students Learn
  the concepts of task updates, timesheet updates and administrative time,
  learn to interact with the Project Collaboration Sites and communicate more
  efficiently as a team!

  The learning objectives of this course are designed to help Project Members
  fully understand the Project Server environment and be capable of:

  - Login in and view assigned tasks
  - Update Task Status
  - Respond to Project Manager Status Reports
  - Update and Manage Team Collaboration Documents, Information and team 
    dynamic concepts 
  - Have a basic understanding of the Project Lifecycle and PMI concepts

  #{render_partial 'partials/footnotes' }

