title: Microsoft Project Server for Project Managers
keywords: training, microsoft project server, project management
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Learn how to build, publish, and manage project schedules, issues, risks, 
  deliverables, resources, and documents across an enterprise with Microsoft&#174; 
  Project Server.

  Project Managers will learn to build, track and manage project schedules with 
  Microsoft&#174; Project Professional and publish them to Microsoft&#174; Project 
  Server, and how to track, analyze, and report on projects through Project 
  Web Access.

  All participants will receive a copy of Advisicon's training manual 
  [Microsoft Project Server: Project Manager's Guide][MSPS2013_PM-book].

  #{render_partial 'partials/footnotes' }

