title: Microsoft Business Intelligence
keywords: training, microsoft, business intelligence, bi, reporting
description: Learn to build executive dashboards using Microsoft tools.
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Get an introduction to creating BI solutions using the Microsoft Suite of 
  tools. We'll emphasize Excel Services, PowerPivot, PerformancePoint, and 
  SharePoint.
  
  Our hands-on training will walk you through creating multifaceted BI dashboards 
  including KPIs, Scorecards, Pivot Tables, and Graphs.

  We'll also introduce the process of designing and building Data Warehouses. 
  We'll lead you on a simple walkthrough for creating a SSAS cube.

  This is "one stop shopping" for all of the basics in the world of Microsoft 
  BI at its best!

  All participants will receive a copy of Advisicon's training manual 
  [Microsoft Business Intelligence][BI-book].

  #{render_partial 'partials/footnotes' }

