title: PMP Prep Course
keywords: training, PMP
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  This course offers in-depth examination of the required study areas for PMI's 
  PMP&#174;[^pmp] exam. Participants will also learn tips and tricks for preparing 
  for the exam. A study guide will be provided to participants.

  #{render_partial 'partials/footnotes' }

