title: Practical Project Management
keywords: training, project management, project, methodology
description: 
  Learn how to manage projects from initiation to close-out. This practical 
  course teaches participants how to successfully initiate, plan, execute, 
  control and close-out projects applying industry accepted project management 
  best practices.
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Tired of being a hero? Constantly delivering projects through Herculean efforts? Come learn industry best practices and techniques on how to manage projects from initiation to close‐out and deliver your projects on-time, and within budget.

  Based on standards from the Project Management Institute (PMI)®, this course provides the foundation of project management and introduces students to project management concepts, standard terminology, and methodologies that are used to deliver projects successfully based on _A Guide to the Project Management Body of Knowledge (PMBOK&#174;[^pmbok] 
  Guide) -- Fifth Edition, Project Management Institute, Inc., 2013_.  Students are placed into project teams and run a project through all of the phases of the project management lifecycle. Students have the option to use a variety of templates and other electronic tools to create deliverables needed. The importance of planning to the success of a project is illustrated through the course and teams experience this first-hand during the student exercises.
  
  Teams will gain experience in a variety of PM activities including: identifying stakeholders, creating a scope statement, developing a budget, executing and managing a project, communicating with the sponsor, addressing team dynamics, implementing project changes, and conducting a variance analysis. The instructor will add twists, turns, and other real world scenarios for teams to experience and adapt to. Teams will conclude with a lessons learned exercise.

  All participants will receive a complimentary copy of Advisicon’s 
  [Practical Project Management][PPM-book] and a 
  [Project Management Lifecycle flowchart][PML-flowchart].

  #{render_partial 'partials/footnotes' }
