title: Practical Project Management
keywords: training, project management
description: 
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Learn how to manage projects from initiation to close-out. This practical 
  course teaches participants how to successfully initiate, plan, execute, 
  control and close-out projects applying industry accepted project management 
  best practices.

  Students will learn project management concepts, helpful standard terminology, 
  efficient project management process development, application of effective 
  project management tools, and established project management methods based 
  on _A Guide to the Project Management Body of Knowledge (PMBOK&#174;[^pmbok] 
  Guide) -- Fifth Edition, Project Management Institute, Inc., 2013_.

  All participants will receive a copy of Advisicon's training manual 
  [Practical Project Management][PPM-book] and utilizes the 
  [Project Management Lifecycle flowchart][PML-flowchart].

  #{render_partial 'partials/footnotes' }
