title: SharePoint for Effective Project Management
keywords: training, microsoft sharepoint, project management
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Learn to use Microsoft&#174; Windows SharePoint Services to manage project 
  team collaboration on projects. This course teaches participants how to design, 
  create and customize SharePoint sites and to use SharePoint to collaborate, 
  share documents, communicate and coordinate activities and projects.

  All participants will receive a copy of Advisicon's training manual 
  [SharePoint for Effective Team Collaboration][SPfEPM-book].


  #{render_partial 'partials/footnotes' }

