title: SharePoint for Farm Administrators
keywords: training, SharePoint
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  Our SharePoint Farm Administrators course is designed to assist small to
  large company organizations Farm Administrators to be able to setup,
  configure and scale SharePoint to support their growing customer needs.

  In this class you will learn best practices how to setup, configure,
  provision and manage both the setup of the environment as well as the
  provisioning and managing of site collections, authentication.

  This is ideal for people who want understand the key features of SharePoint,
  how to setup and maintain SharePoint as well as how to configure and manage
  core functions such as Search, Branding, Business Intelligence, Security and
  Administration of SharePoint.

  #{render_partial 'partials/footnotes' }

