title: Using Visio 2013 Fundamentals and Best Practices
keywords: 
  training, visio
description: 
training: true
layout: default.haml
--------------------------------------------------------META

%h1= title


:maruku

  #{render_partial '/partials/references'}
  #{render_partial '/partials/glossary'}

  CONTENT GOES HERE
  
  #{render_partial 'partials/footnotes' }



